@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.tableSearch {
    float: right;
    margin-right: 20px;
}

.landing {
    height: 598px;
    overflow: auto;
}

.page-length {
    height: 317px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.entSize {
    font-size: 25px;
}

.home-page {
    background: #3c763d;
    font-family: 'Roboto', sans-serif;
}

.blink {
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.online {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 95px;
    margin-top: -9px;
}

.offline {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 95px;
    margin-top: -6px;
}

.online-circle {
    background: #3c763d;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 3px 0px 0px;
}

.offline-circle {
    background: #9a1d17;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 3px 0px 0px;
}

.container {
    width: 100%;
}

.home-page header {
    background: rgba(0, 0, 0, .0001);
    padding: 9px 0px;
    box-shadow: 0px 3px 7px #ccc;
    margin-bottom: 8px;
    width: 100%;
}

.home-page .logo {
    text-align: left;
}

.home-page .logo img {
    width: 125px;
}

.home-page .login button {
    text-decoration: none;
    cursor: pointer;
    background: #3c763d;
    color: #fff;
    padding: 8px 11px 10px 11px;
    border-radius: 5px;
    border: 0px;
    float: right;
}

.school-images img {
    width: 100%;
    height: 164px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
}

body {
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0px;
}


/* Dashboard login start */

.login-box {
    background: #fff;
}

.login-box form {
    border: 1px solid #ccc;
    padding: 30px;
}

.login-box img {
    width: 120px;
    margin: auto;
    margin-bottom: 38px;
}

.login-box form {
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 100px;
}

.login-box .form-control {
    background: #f4f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-box button {
    background: #3c763d;
    color: #fff;
}


/* Dashboard login end */


/* Gsmart dashboard menu start */

.dashboard {
    width: 120px;
    height: 20px;
}

.gsmart-dashboard {
    height: auto;
    width: 80%;
    padding-top: 5px;
}

.top-menu {
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, .15);
    height: 50px;
    box-shadow: 0px 2px 3px #ccc;
    margin-bottom: 3px;
}

.top-menu-left {
    width: 20%;
    text-align: center;
    width: 20%;
    text-align: center;
    background: #3c763d;
}

.top-menu-left span {
    position: relative;
    top: 0px;
    font-size: 35px;
    color: #fff;
}

.top-menu-right {
    width: 20%;
    float: right;
}

.top-menu .btn {
    position: relative;
    background: #3c763d;
    padding: 4px 10px 8px 11px;
    color: #fff;
    text-decoration: none;
    float: right;
    margin: 9px 0px 0px 0px;
    border-radius: 4px;
    float: right !important;
}

.gsmart-dashboard-menu {
    width: 20%;
    /*position: absolute;
    z-index: 1;*/
}

.gsmart-dashboard-menu ul {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 6px;
    /*background: #555;*/
}

.gsmart-dashboard-menu ul li {
    list-style-type: none;
}

.gsmart-dashboard-menu ul li a {
    text-decoration: none;
    line-height: 42px;
    background: #777;
    display: block;
    margin-bottom: 0px;
    padding-left: 15px;
    color: #fff;
}

.gsmart-dashboard-menu ul li a {
    text-decoration: none;
    line-height: 42px;
    display: block;
    margin-bottom: 4px;
    padding-left: 15px;
    color: #fff;
}

.gsmart-dashboard-menu ul li a {
    background: #f4f5f5;
    color: #3b3f3f;
}

.gsmart-dashboard-menu ul li a:hover {
    background: #3c763d;
    color: #fff;
}

.dashboard-icon-open {
    color: #73879C;
    font-size: 25px;
    float: left;
    position: relative;
    top: 12px;
}

.dashboard-icon-open,
.dashboard-icon-close {
    font-size: 25px;
    color: #3c763d;
    position: relative;
    top: 12px;
    cursor: pointer;
}

.gsmart-dashboard-menu label {
    font-weight: 400;
}

.gsmart-dashboard-menu ul {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #f4f5f5;
}

.gsmart-dashboard-menu ul li a {
    text-decoration: none;
    line-height: 42px;
    /* background: #286090; */
    display: block;
    margin-bottom: 0px;
    padding-left: 15px;
    color: #fff;
}

.gsmart-dashboard-menu ul li a {
    background: #fff;
    color: #3b3f3f;
}

.gsmart-dashboard-menu ul li a:hover {
    background: #f4f5f5;
    color: #3b3f3f;
}

.gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #73879C;
}

.gsmart-dashboard-menu ul li a .glyphicon {
    margin-right: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 14px;
    margin-right: 10px;
    font-size: 18px;
}

.gsmart-dashboard-menu ul li a {
    background: #fff;
    color: #3b3f3f;
    color: #fff;
    background: #2A3F54;
}

.gsmart-dashboard-menu ul li a:hover {
    background: #172D44;
    color: #fff;
}

.gsmart-dashboard-menu ul {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 6px;
    background: #fbfbfb;
}

.gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    font-size: 22px;
}

.gsmart-dashboard {
    background: #f5f5f5;
    height: auto;
    padding-top: 5px;
}

.gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #3c763d;
    margin: 40px 0px 15px 0px;
}

.gsmart-dashboard {
    background: #fff;
    padding-top: 5px;
}

.gsmart-dashboard-menu ul li a {
    background: #fbfbfb;
    color: #555;
}

.gsmart-dashboard-menu ul li a:hover {
    background: #3c763d;
    color: #fff;
}

.top-menu {
    background: #fbfbfb;
    height: 50px;
    box-shadow: 0px 2px 3px #ccc;
    margin-bottom: 3px;
}

.top-menu {
    background: #eee;
    height: 53px;
    box-shadow: 0px 2px 3px #ccc;
    margin-bottom: 0px;
    border-bottom: 2px solid #3c763d !important;
}


/* Gsmart dashboard menu end */


/*
.gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    width: 80%;
    margin: 34px 0px 31px 0px;
    margin-left: auto;
    margin-right: auto;
    color: #73879C;
    padding-bottom: 9px;
}
*/

.gsmart-dashboard h2 {
    font-size: 24px;
    margin: 0px;
    margin: 40px 5px 10px 0px;
}

.add-new-entry {
    background: #555;
    border: 0px;
    float: right;
    color: #fff;
    margin-top: 10px;
    padding: 6px 12px 7px 12px;
    border-radius: 7px;
}

.notice-body {
    border: 1px solid #ccc;
    overflow: hidden;
    height: 500px;
}

.col-centered {
    float: none;
    text-align: left;
    display: inline-block;
}

.row-centered {
    text-align: center;
}

.grid-icon {
   width: 70px;
    height: 70px;
    background: #3c763d;
    border-radius: 60px;
    margin: auto;
    color: #fff;
}

.grid-icon span {
    left: 25px;
    top: 20px;
}

.grid-text {
    text-align: center !important;
    font-size: 18px;
}

.grid-text h3 {
    margin: 0px;
    margin-top: 16px;
    font-size: 20px;
    color: #6B6B6B;
    text-align: center;
}

.box-icon {
    position: relative;
    top: 27px;
    margin: auto;
}

.add-employee {
    background: #555;
    border: 0px;
    color: #fff;
    float: right;
    margin-top: 8px;
    padding: 6px 12px 8px 12px;
    border-radius: 4px;
}

.pull-right {
    float: right !important;
    text-align: center;
}

ul.registration li {
    list-style-type: none;
    float: left;
    background: #555;
    color: #fff;
    padding: 10px 16px 11px 15px;
    margin-right: 4px;
    /* border-radius: 13px; */
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

ul.registration li.active {
    background: #999;
}

.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}

form label {
    font-weight: 400;
}

.cancel-button,
.save-button {
    background: #337ab7;
    border: 0px;
    color: #fff;
    padding: 6px 13px 9px 13px;
    border-radius: 4px;
}

.scroll-box {
    height: 186px;
    overflow-y: scroll;
    width: 89%;
    margin: auto;
    margin-top: 36px;
    border: 1px solid #ccc;
    padding: 12px;
}

.teacher-comments {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 25px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 25px;
}

.teacher-comments .cancel-button,
.teacher-comments .save-button {
    background: #337ab7;
    border: 0px;
    color: #fff;
    padding: 6px 13px 9px 13px;
    border-radius: 4px;
    margin: 9px 0px 0px 13px;
}


/* Team page design first */

.grid-box {
    /*border: 1px solid #ccc;
    border-radius: 3px;*/
    padding: 20px 0px;
    /*box-shadow: 0px 0px 8px #9DBCBC;*/
    background: #fff;
    margin-bottom: 15px;
}

.team-memeber {
    text-align: center;
    border: 1px solid #ccc;
    padding: 30px 0px 22px 0px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 14px #ccc;
}

.team-member-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fff;
    display: block;
    margin: auto;
    padding: 5px;
    border: 3px solid #ccc;
}

.team-page .row {
    margin-bottom: 15px;
}

.team-page button {
    background: #555;
    border: 0px;
    color: #fff;
    padding: 5px 14px;
    border-radius: 5px;
    float: right;
    margin-left: 8px;
    margin-top: 10px;
}

.team-memeber {
    margin-bottom: 15px;
}

.team-memeber h4 {
    color: #BAB8B8;
    font-weight: 900;
    font-size: 20px;
}

.team-memeber h5 {
    color: #73879C;
}


/* Team page design end */

.maintenance h2 {
    margin-bottom: 5px;
    font-size: 22px;
    padding-left: 0px;
    margin: 24px 0px 15px 0px;
    color: #3c763d;
}

.team-page .team-memeber {
    width: 91%;
    margin: auto;
}

.role-page .glyphicon-ok {
    border: 4px solid #337ab7;
    padding: 5px 6px 5px 5px;
    border-radius: 50%;
    color: #337ab7;
    font-weight: bold;
    position: relative;
    top: 11px;
}

.role-page .glyphicon-remove-circle {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    color: red;
    font-size: 36px;
    font-weight: 400;
    border: 0px;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    float: left;
    padding: 8px;
}

form {
    overflow: hidden;
}

.ubdate-button {
    background: #337ab7;
    border: 0px;
    color: #fff;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 5px;
}

.cancel-button {
    background: red;
    border: 0px;
    color: #fff;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 5px;
}

.maintenance .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: 17px;
    font-size: 24px;
    top: 16px;
}

.maintenance .grid-icon span {
    left: 18px;
    top: 17px;
    font-size: 24px;
}

.grid-text h3 {
    margin: 0px;
    margin-top: 16px;
    font-size: 100%;
    color: #6B6B6B;
}

.glyphicon-menu-hamburger {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: 9px;
    color: #3c763d;
}

.enter-msg {
    background: #eee;
    color: #555;
    padding: 8px 5px 13px 13px;
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
}

.table-responsive > .table > tbody > tr > td {
    white-space: nowrap;
}


/*
.nav-pills>li>a {
    border-radius: 10px;
    margin-right: 2px;
    background: #55b756;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 75px;
}
.nav-pills>li>a {
    border-radius: 10px;
    margin-right: 2px;
    background: #55b756;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 33%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover {
    color: #fff;
    background-color: #3c763d;
}
*/

.add-role-page .form-group input[type="checkbox"] {
    display: none;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.add-role-page .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.add-role-page .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.add-role-page form {
    background: #fff;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 52px;
}

.add-role-page .gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    width: 80%;
    margin: 34px 0px 31px 0px;
    margin-left: auto;
    margin-right: auto;
    color: #73879C;
    padding-bottom: 9px;
}

.add-role-page .btn-group>.btn:last-child:not(:first-child),
.add-role-page .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #1ABB9C;
    color: #fff;
    box-shadow: 0px 0px 0px;
}


/* table layout design start */

.disp-info-tab-top h2 {
    margin: 0px;
    margin-top: 4px;
}

.disp-info-tab-top-left .add-info {
    background: #73879C;
    border: 0px;
    color: #fff;
    float: right;
    padding: 6px 12px 8px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.disp-info-tab-bottom .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #f2f9f2;
    color: #555;
    font-weight: 400;
    text-align: center;
}

.disp-info-tab-bottom .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.disp-info-tab-bottom .table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: #f9f9f9;
}

.disp-info-tab-bottom .btn-primary {
    color: #fff;
    background-color: #777;
    border-color: #777;
}

.add-form-layout {
    border: 1px solid #eee;
}

.add-form-layout h3 {
    background: #ccc;
    margin: 0px;
    color: #333;
    text-align: center;
    padding: 8px 0px;
    font-size: 21px;
    margin-bottom: 34px;
}

.add-form-layout button {
    background: #3c763d;
    color: #fff;
    margin-left: 18px;
}

.add-form-layout label {
    text-align: right;
}

.total-num,
.total-num1,
.total-num2 {
    display: block;
    background: orange;
    overflow: hidden;
    text-align: center;
}

.total-num {
    background: #ad9c09;
}

.total-num2 {
    background: #e44f4f;
}

.total-num h3,
.total-num1 h3,
.total-num2 h3 {
    color: #fff;
    font-size: 120%;
}

.total-num p,
.total-num1 p,
.total-num2 p {
    color: #fff;
}

.total-num .fa,
.total-num1 .fa,
.total-num2 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 41px;
    position: relative;
    top: 17px;
    margin: auto;
    text-align: center;
    color: #fff;
}

.gsmart-dashboard {
    background: #fff;
    padding-top: 18px;
}


/* Contact teacher start */

.contact-teacher {
    border: 1px solid #ccc;
}

.contact-teacher form {
    width: 70%;
    margin-right: auto;
}

.contact-teacher h3 {
    font-size: 20px;
    color: #999;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 11px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-teacher label {
    float: right;
}

.contact-teacher button {
    background: #3c763d;
    color: #fff;
}

.contact-teacher button:hover {
    background: #3c763d;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 75px;
}

.nav-pills>li>a {
    border-radius: 10px;
    margin-right: 2px;
    background: #55b756;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 33%;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li>a:hover {
    color: #fff;
    background-color: #3c763d;
}

.add-role-page .form-group input[type="checkbox"] {
    display: none;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.add-role-page .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}


/*
.grid-box {
    border: 0px solid #ccc;
    border-radius: 0px;
    padding: 20px 0px;
    box-shadow: 0px 0px 0px #9DBCBC;
}*/

.add-role-page .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.add-role-page .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.add-role-page form {
    background: #fff;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 52px;
}

.add-role-page .gsmart-dashboard h2 {
    padding-left: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    width: 80%;
    margin: 34px 0px 31px 0px;
    margin-left: auto;
    margin-right: auto;
    color: #73879C;
    padding-bottom: 9px;
}

.add-role-page .btn-group>.btn:last-child:not(:first-child),
.add-role-page .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #1ABB9C;
    color: #fff;
    box-shadow: 0px 0px 0px;
}


/* table layout design start */

.disp-info-tab-top h2 {
    margin: 0px;
    margin-top: 4px;
}

.disp-info-tab-top-left .add-info {
    background: #73879C;
    border: 0px;
    color: #fff;
    float: right;
    padding: 6px 12px 8px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.disp-info-tab-bottom .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #f2f9f2;
    color: #555;
    font-weight: 400;
    text-align: center;
}

.disp-info-tab-bottom .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.disp-info-tab-bottom .table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: #f9f9f9;
}

.disp-info-tab-bottom .btn-primary {
    color: #fff;
    background-color: #777;
    border-color: #777;
}

.add-form-layout {
    border: 1px solid #eee;
}

.add-form-layout h3 {
    background: #ccc;
    margin: 0px;
    color: #333;
    text-align: center;
    padding: 8px 0px;
    font-size: 21px;
    margin-bottom: 34px;
}

.add-form-layout button {
    background: #3c763d;
    color: #fff;
    margin-left: 18px;
}

.add-form-layout label {
    text-align: right;
}

.total-num,
.total-num1,
.total-num2 {
    display: block;
    background: orange;
    overflow: hidden;
    text-align: center;
}

.total-num {
    background: #ad9c09;
}

.total-num2 {
    background: #e44f4f;
}

.total-num h3,
.total-num1 h3,
.total-num2 h3 {
    color: #fff;
    font-size: 120%;
}

.total-num p,
.total-num1 p,
.total-num2 p {
    color: #fff;
}

.total-num .fa,
.total-num1 .fa,
.total-num2 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 41px;
    position: relative;
    top: 17px;
    margin: auto;
    text-align: center;
    color: #fff;
}

.gsmart-dashboard {
    background: #fff;
    padding-top: 18px;
}


/* Contact teacher start */

.contact-teacher {
    border: 1px solid #ccc;
}

.contact-teacher form {
    width: 70%;
    margin-right: auto;
}

.contact-teacher h3 {
    font-size: 20px;
    color: #999;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 11px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-teacher label {
    float: right;
}

.contact-teacher button {
    background: #3c763d;
    color: #fff;
}

.contact-teacher button:hover {
    background: #3c763d;
    color: #fff;
}


/* Contact teacher end */


/* tabs start */

.nav>li>a {
    text-decoration: none;
    background-color: #56c158;
    color: #fff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3c763d;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #3c763d;
    color: #fff;
}

.gsmart-dashboard-menu {
    width: 20%;
    float: left;
}

.gsmart-dashboard {
    width: 80%;
    float: left;
    padding-top: 5px;
}

.top-menu-left {
    width: 20%;
    text-align: center;
    background: transparent;
}


/* tabs end */


/* Model popup design */

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #5bc0de;
    color: #fff;
}

.modal-header .close {
    margin-top: -2px;
    color: #fff;
    text-shadow: 0px 0px 0px;
    opacity: 1;
    background: #3c763d;
    padding: 3px 8px 4px 8px;
    border-radius: 50%;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
}

.modal-footer button,
.modal-footer button:hover,
.modal-footer button:focus {
    background: #2e6da4;
    color: #fff;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
    background: #d9534f;
    border: 0px;
}


/* Model popup design end */


/* table layout design end */

ul.list li.active {
    background: green;
}

.gsmart-dashboard-menu ul li.active a,
.gsmart-dashboard-menu ul li.active a:active,
.gsmart-dashboard-menu ul li.active a:focus {
    color: #fff;
    background: #3c763d;
}

.panel-top {
    margin-top: 45px;
}

.panel-default {
    border-color: #ddd;
    background: #dff0d8;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    background-image: none !IMPORTANT;
    color: #3c763d;
    border-bottom: 1px solid #3c763d;
    width: 97%;
    margin: auto;
    padding-left: 0px;
}

.panel-footer {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    background-image: none !IMPORTANT;
    color: #3c763d;
    border-bottom: 1px solid #3c763d;
    width: 97%;
    margin: auto;
    padding-left: 0px;
}

.panel-body .btn-primary {
    background-image: none;
    border: 0px;
    background: #3c763d;
    text-transform: capitalize;
}

form {
    overflow: inherit;
}

.inventory-inner .panel-default {
    border-color: #ddd;
    background: #dff0d8;
}

.inventory-inner form {
    padding: 35px;
}

.inventory-inner button,
.inventory-inner button:hover,
.inventory-inner a,
.inventory-inner a:hover {
    background: #3c763d;
    border: 0px;
    text-transform: capitalize;
    color: #fff;
}


.btn-success {
    color: #fff;
    background-color: #156115;
    border-color: #4cae4c;
}
.table-stripped>tbody>tr:nth-of-type(even) {
    background-color:  #f9f9f9;
}
 .table-stripped>tbody>tr:nth-of-type(odd):hover {
    background-color: #f9f9f9;
}


.gsmart-dashboard-menu ul li a {
    background: #fbfbfb;
    color: #555;
    border-bottom: 1px solid #ccc;
}

.school-home-images .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 26px;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 50%;
    opacity: 1;
}

.user-info {
    text-align: center;
}

.user-info .avatar {
    width: 100%;
    height: 161px;
}

.user-info .info {
    width: 100%;
}

.user-info {
    padding: 15px;
    color: #777;
    background: transparent;
}

.user-info .info {
    width: 100%;
    padding: 0px;
    color: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .left-addon input {
        padding-right: 30px;
        width: 95px;
    }
    .left-addon .glyphicon {
        left: 61px;
        top: -3px;
    }
    .tableSearch {
        float: right;
        margin-right: 32px;
        margin-top: -5px;
    }
    #content {
        position: relative;
        top: -8px;
        margin-left: -30px;
    }
    .online {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 10px;
        float: right;
        width: 80px;
        position: relative;
        bottom: 30px;
    }
    .offline {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 10px;
        float: right;
        width: 80px;
        position: relative;
        bottom: 30px;
    }
    .online-circle {
        background: #3c763d;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        float: left;
        margin: 2px 3px 0px 0px;
    }
    .offline-circle {
        background: #9a1d17;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        float: left;
        margin: 2px 3px 0px 0px;
    }
    .total-num,
    .total-num1,
    .total-num2 {
        margin-bottom: 20px;
    }
    .panel-default {
        margin-top: 20px;
        overflow: scroll;
        border-color: #ddd;
        background: #dff0d8;
        border-bottom: 0px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 9px;
    }
    .top-menu .col-md-6 {
        width: 50%;
        float: left;
    }
    .team-member-pic img {
        width: 75px;
        height: 75px;
    }
    .dashboard-icon-open {
        float: left;
    }
    .maintenance .col-xs-12 {
        width: 48%;
        margin: 0px 1%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 20px 0px;
        box-shadow: 0px 0px 8px #9DBCBC;
        background: #fff;
        margin-bottom: 15px;
    }
    .maintenance .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        left: 14px;
        font-size: 14px;
        top: 12px;
    }
    .grid-box {
        /*border: 0px solid #ccc;
        border-radius: 0px;*/
        padding: 10px 6px;
        /*box-shadow: 0px 0px 0px #9DBCBC;*/
        background: #fff;
        margin-bottom: 15px;
    }
    .grid-text h3 {
        margin: 0px;
        margin-top: 16px;
        font-size: 12px;
        font-weight: bold;
        color: #6B6B6B;
    }
    .grid-icon {
        width: 40px;
        height: 40px;
        background: #3c763d;
        border-radius: 60px;
        margin: auto;
        color: #fff;
    }
    .grid-icon span {
        left: 25px;
        top: 20px;
    }
    .box-icon {
        position: relative;
        top: 12px;
        margin: auto;
    }
    .col-centered {
        float: none;
        text-align: left;
        display: inline-block;
    }
    .row-centered {
        text-align: center;
    }
    .team-memeber {
        margin-bottom: 15px;
    }
    .top-menu-left {
        width: 20%;
        display: none;
    }
    .gsmart-dashboard {
        height: auto;
        width: 100%;
    }
    .team-page .team-memeber {
        width: 91%;
        margin: auto;
    }
    .team-memeber {
        text-align: center;
        border: 1px solid #ccc;
        padding: 18px 0px 11px 0px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 14px #ccc;
    }
    .team-member-pic img {
        width: 100px;
        height: 100px;
    }
    .gsmart-dashboard-menu {
        width: 100%;
        /*position: fixed;
z-index: 1;
*/
    }
    .gsmart-dashboard {
        width: 100%;
    }
    /*
    .gsmart-dashboard-menu{
        display:none;
    }
    */
    .gsmart-dashboard {
        width: 100%;
    }
    .top-menu-left {
        display: none;
    }
    .sidenav {
        padding: 0px;
    }
    .dashboard-icon-open,
    .dashboard-icon-close {
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #3c763d;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #mySidenav {
        padding: 0px;
    }
    .top-menu .col-md-6 {
        width: 50%;
        float: left;
    }
    .sidenav .closebtn {
        color: #3c763d;
    }
    .school-images img {
        width: 96%;
        margin-top: 30px;
        border: 1px solid #ccc;
        padding: 5px;
        height: 80px;
        border-radius: 6px;
        margin-bottom: 30px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f4f5f5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav .closebtn {
        position: static;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
        color: #3c763d;
        opacity: 1;
    }
    .sidenav .closebtn {
        position: static;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
        color: #3c763d;
        opacity: 1;
    }
    .user-info .info {
        width: 100%;
        padding: 0px;
        color: #3c763d;
    }
    .panel-default > .panel-heading {
        color: #333;
        background-color: transparent;
        border-color: transparent;
        background-image: none !IMPORTANT;
        color: #3c763d;
        border-bottom: 0px;
        /* width: 142%; */
        margin: auto;
        padding-left: 0px;
    }
}

@media only screen and (min-device-width: 728px) and (max-device-width: 1024px) {
    /*.gsmart-dashboard-menu{
        display:none;
    }*/
    .landing {
        height: 598px;
        overflow: auto;
    }
    .panel-default {
        margin-top: 30px;
        border-color: #ddd;
        background: #dff0d8;
    }
    .online {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 10px;
        float: right;
        width: 80px;
        position: relative;
        bottom: 30px;
    }
    .offline {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 10px;
        float: right;
        width: 80px;
        position: relative;
        bottom: 30px;
    }
    .online-circle {
        background: #3c763d;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        float: left;
        margin: 2px 3px 0px 0px;
    }
    .offline-circle {
        background: #9a1d17;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        float: left;
        margin: 2px 3px 0px 0px;
    }
    .grid-box {
        padding: 20px 0px;
        background: #fff;
        margin-bottom: 15px;
    }
    .gsmart-dashboard {
        width: 100%;
    }
    .top-menu-left {
        display: none;
    }
    .sidenav {
        padding: 0px;
    }
    .dashboard-icon-open,
    .dashboard-icon-close {
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #3c763d;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #mySidenav {
        padding: 0px;
    }
    .top-menu .col-md-6 {
        width: 50%;
        float: left;
    }
    .sidenav .closebtn {
        color: #3c763d;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f4f5f5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav .closebtn {
        position: static;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
        color: #3c763d;
        opacity: 1;
    }
    .sidenav .closebtn {
        position: static;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
        color: #3c763d;
        opacity: 1;
    }
    .user-info .info {
        width: 100%;
        padding: 0px;
        color: #3c763d;
    }
    .grid-text h3 {
        margin: 0px;
        margin-top: 16px;
        font-size: 70%;
        color: #6B6B6B;
    }
    .text-center {
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 2022px) {
    .closebtn,
    .mobile-menu-icon {
        display: none;
    }
}

.sidenav .closebtn {
    /* position: absolute; */
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 0px;
}

.sidenav .closebtn {
    position: static;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 0px;
    color: #3c763d;
    opacity: 1;
}

.school-home-images .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 26px;
    font-weight: bold;
    border: 0px solid #3c763d;
    padding: 0px 8px;
    border-radius: 50%;
    opacity: 1;
}

.user-info {
    padding: 15px;
    color: #777;
    background: transparent;
    margin: 0px -15px;
    background: #5cb85c;
}


/*foe attendance for calendr*/

.present button span {
    background-color: green;
    border-radius: 100px;
    color: black;
}

.absent button span {
    background-color: red;
    border-radius: 100px;
    color: black;
}

.overTime button span {
    background-color: blue;
    border-radius: 100px;
    color: black;
}

.holiday button span {
    background-color: yellow;
    border-radius: 100px;
    color: black;
}

.calendar-img {
    float: right;
    height: 20px;
    width: 20px;
}

.spinCenter {
    top: 200px;
    left: 280px;
    position: absolute;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-right: 30px;
}

#content {
    /* position: absolute;*/
    left: 22px;
}
