<div id="chat" class="span6 landing">
    <br>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Smart-ID</th>
                <th>Messages</th>
                <th>Posted By</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="info in chatData.result">
                <td>{{info.smartId}} </td>
                <td>{{info.message}}</td>
                <td>{{info.studentName}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="span6">
        <!-- <form name="teacherMesForm" novalidate="novalidate" class="form-horizontal" ng-submit="teachMsg($event, teacherMesForm,MessageDetails)"> -->
        <form name="addMessageForm" novalidate="novalidate" class="form-horizontal" ng-submit="save($event, addMessageForm)">
            <div class="form-group">
                <center>
                    <textarea input name="message" id="Message" class="input-xxlarge" rows="4" limit="4" cols=75% ng-model="MessageDetails.message" required></textarea>
                    <br>
                    <p><span class="glyphicon glyphicon-file"></span>
                        <input type="file" style="background: #245580; color: white;" ng-model="MessageDetails.image" base-sixty-four-input onchange="angular.element(this).scope().uploadFile(this.files)" />
                    </p>
                    <div class="alert alert-danger" role="alert" ng-if="teacherMesForm.message.$dirty && teacherMesForm.message.$error.required">
                        Please enter message
                    </div>
                    <button type="submit" class="btn btn-small btn-primary">Send</button>
                    </center>
            </div>
            
        </form>
    </div>
</div>
