<!-- <div class="col-md-offset-4 col-md-4 landing"> -->
    <!-- <div class="tree">
        <ul>
            <li>
                <a href="javascript:void(0)">
						   {{currentEmp.firstName}}<img ng-click="showOrganizationTree(currentEmp.repManager)" ng-hide="currentEmp.repManager == currentEmp.empSmartId" src="img/user-group-256x256.png" class="people-img"/>
						   {{currentEmp.empSmartId}} <br/>
						   {{currentEmp.designation}}
						</a>
                <ul>
                    <li ng-repeat="person in people">
                        <a href="javascript:void(0)">
									{{person.firstName}}<img ng-click="showOrganizationTree(person.empSmartId)" ng-show="person.childflag" src="img/user-group-256x256.png" class="people-img"/><br/>
									{{person.empSmartId}} <br/>
									{{person.designation}}
								</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div> -->
   <!--  <p>
             <a href="javascript:void(0)" class="card" style="display: inline-block; padding: 10px;">
                           {{currentEmp.firstName}}<img ng-click="showOrganizationTree(currentEmp.reportingManagerId)" ng-hide="currentEmp.reportingManagerId == currentEmp.smartId" src="img/user-group-256x256.png" class="people-img"/>
                           {{currentEmp.smartId}} <br/>
                           {{currentEmp.designation}}
                        </a>
    </p>
    <ul class="tree">
        <li ng-repeat="person in people">
            
                
                <a href="#/messages/messagestructure" class="card" style="display: inline-block; padding: 10px;">
                                    {{person.firstName}}<img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childflag" src="img/user-group-256x256.png" class="people-img"/><br/>
                                    {{person.smartId}} <br/>
                                    {{person.designation}}
                                    
                </a>
                
            
        </li>
    </ul>
</div> -->
