
<!-- Student View -->
<!-- <center>
    <br>
    </br>
    <a ng-click="studentMsg()" class="btn btn-small btn-primary">Massege List</a>
    <a ng-click="teachMsg()" class="btn btn-small btn-primary">Student List</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="min-width: 80px;">Posted By</th>
                    <th style="min-width: 80px;">Message</th>
                    <th style="min-width: 80px;">Entry Time</th>
                </tr>
            </thead>
            </thead>
            <tbody id="commons">
                <tr ng-repeat="info in sData.result">
                    <td>{{info.postedBy}}</td>
                    <td>{{info.message}}</td>
                    <td>{{info.entryTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</center>
 -->




 
 <!-- <ui-view id="contactteacher">
    <div class="contactteacher landing">
    <center> -->
           <!-- <h2>Contact Teacher</h2> -->
        <!-- </div>
        <div class="panel-body">
            <div class="row home">
                <a href="#/contactteacher/teacher" ng-if="role==student">
                    <div class="col-md-offset-3 col-sm-3 col-xs-12">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa fa-envelope fa-3x center-block" style="position: relative;
    top: 22px;
    margin: auto;"></i>
                            </div>
                            <div class="grid-text">
                                <h3>Teacher Message List</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/contactteacher/student" ng-if="role==teacher">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-envelope fa-3x text-center" style="position: relative;
    top: 22px;
    margin: auto;" ></i>
                             </div>
                            <div class="grid-text">
                                <h3> Student Message List</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </center>
    </div> -->



