<div class="landing">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="min-width: 80px;">Smart Id</th>
                    <th style="min-width: 80px;">Reporting Id</th>
                    <th style="min-width: 80px;">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Msdata in msgDetails[48750002]">
                    <td>{{Msdata.smartId}}</td>
                    <td>{{Msdata.reportingManagerId}}
                        <td>{{Msdata.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
