<div class="container landing">
    <center>
        <div class="">
            <form name="addMessageForm" novalidate="novalidate" class="form-horizontal" ng-submit="save($event, addMessageForm)">
                <div class="form-group">
                    <textarea input name="message" id="message" class="input-xxlarge" rows="4" limit="4" cols=75% ng-model="MessageDetails.message" required></textarea>
                    <br>
                    <p><span class="glyphicon glyphicon-file"></span>
                        <input type="file" style="background: #245580; color: white;" ng-model="MessageDetails.image" base-sixty-four-input onchange="angular.element(this).scope().uploadFile(this.files)"/>
                    </p>
                    <div class="alert alert-danger" role="alert" ng-if="addMessageForm.message.$dirty && addMessageForm.message.$error.required">
                        Please enter Message
                    </div>
                    <button type="submit" class="btn btn-small btn-primary">Post</button>
                 </div>
            </form>
        </div>
    </center>


<div>
<center>
    <br>
    </br>
    <a ng-click="studentMsg()" class="btn btn-small btn-primary">Message List</a><br/>
    <div class="panel-heading">
        <label for="search">Messages Per Page:</label>
        <input type="number" min="1" max="pageSize" ng-model="messagesPerPage">
    </div>
    <div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover message-table-border" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="min-width: 80px;">Posted By</th>
                    <th style="min-width: 80px;">Message</th>
                    <th style="min-width: 80px;">Entry Time</th>
                    <th style="min-width: 80px;">Action</th>
                    <th style="min-width: 80px;">File</th>

                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="info in sData">
                 <!-- <tr dir-paginate="info in sData | itemsPerPage: messagesPerPage" total-items="MessageDetails" current-page="pagination.current"> -->
                    <td>{{info.smartId}}<br/>{{info.studentName}}</td>
                    <td>{{info.message}}</td>
                    <td>{{info.entryTime}}</td>
                    <td>
                        <div  ng-click="chatMsgteacher(info)">
                            <a class="btn btn-small btn-primary"> Reply</a>
                            <!-- <a ng-click="chatMsg()" </a> -->
                        </div>
                    </td>
                    <td><img src="data:image/png;base64,{{info.image}}" style="width:100px"  height="50px">
                   <div>
                         <a target="_self" href="data:image/pdf;base64,{{info.image}}" download="{{info.format}}" >
                         
                            <span class="glyphicon glyphicon-download" style="font-size: 30px" text-align:center;></span>
                        </a>
                    </div>
                    </td>
                </tr>
            </tbody> 
        </table>
        <!-- <div>
            <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="messagesPageChange(newPageNumber)" auto-hide="true">
            </dir-pagination-controls>
        </div> -->
      </div>
    </div>
</center>
</div>
</div>