<div class="col-md-12">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="loader-background">
            <img class="loader-icon spinCenter" src="img/loading1.gif" ng-show="loading" />
        </div>
        <div class="panel panel-default" style="margin-top: 25%;">
            <div class="panel-body">
                <div class="text-center">
                    <a ng-href="#">
                        <img src="img/provider-logo.png" alt="Gsmart" style="    width: 120px;
    margin: 0px 0px 20px 0px;">
                    </a>
                </div>
                <form role="form" name="loginForm" ng-submit="authenticateUser()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <input class="form-control" placeholder="User ID" name="userId" type="text" autofocus="" ng-model="credentials.smartId" required ng-pattern="/^[A-Z0-9]*$/">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i>
                                    </div>
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="credentials.password">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="ShowloginError">
                            {{loginError.message}}
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        <div class="container">
                            <!--      <! Trigger the modal with a button >  -->
                            <a type="button" class="" data-toggle="modal" data-target="#myModal">forgot password?</a>
                            <!-- Modal -->
                        </div>
                    </fieldset>
                    <div class="alert alert-danger" ng-show="showInvalidEmail">
                        {{emailErrMsg}}
                    </div>
                    <div class="alert alert-success" ng-show="showValidEmail">
                        {{emailMsg}}
                    </div>
                </form>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Please Enter your Registered Email</h4>
                                <form name="emailForm" ng-submit="sendResetLink(userEmail)">
                                    <div class="modal-body">
                                        <p>Email:
                                            <br>
                                            <input type="text" class="form-control" name="email" ng-model="userEmail">
                                            <span style="color:red" ng-show="showEmailReq">Email is required *</span>
                                            <span style="color:red" ng-show="showInvalidEmail">{{emailErrMsg}}</span>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="send" type="submit" class="btn btn-default login-forgot-password" ng-disabled="!emailForm.$dirty || showInvalidEmail">Send</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $(".login-forgot-password").click(function() {
        $("#myModal").hide();
        $(".modal-backdrop.fade").css("display", "none");
    });
});
</script>
