<ui-view id="registration">
    <div class="landing">
        <div class="maintainance">
            <h2>OrrgStructure </h2>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <a href="#/orgstructure/view">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-centered">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-flag fa-3x text-center" style="position: relative;
                                top: 22px;
                               margin: auto;">
                                   
                             </i>
                            </div>
                            <div class="grid-text">
                                <h3> Org Structure </h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
<style>
.row-centered {
    margin-top: 150px;
    text-align: center;
}
</style>
