@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */

@import "maintenance/maintenance.less";
@import "partial/dashboard/dashboard.less";
@import "partial/login/login.less";
@import "directive/navbar/navbar.less";
@import "maintenance/maintenance.less";
@import "registration/registration.less";
@import "organization_structure/organization_structure.less";
@import "inventory/inventory.less";
@import "contact_teacher/contact_teacher.less";
@import "fee/fee.less";
@import "report_card/report_card.less";
@import "notice/notice.less";
@import "partial/profile/profile.less";
@import "leave/leave.less";
@import "performance_appraisal/performance_appraisal.less";
@import "general/general.less";
@import "partial/home/home.less";
@import "partial/set-password/set-password.less";
@import "common/common.less";
@import "maintenance/partial/rfid/rfid.less";
@import "attendance/attendance.less";
@import "maintenance/partial/assign/assign.less";
<<<<<<< HEAD
@import "partial/set-password/set-password.less";

@import "partial/set-password/set-password.less";

@import "partial/set-password/set-password.less";

/* Add Component LESS Above */


/* Required for Angular UI Bootstrap */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */

//@modal-backdrop-bg: white;
//.modal {
//  &.fade {
//    .transition(opacity .3s);
//  }
//  &.fade .modal-dialog {
//    .translate(0,0);
//  }
//}
.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    /* IE 9 */
    -webkit-transform: translate(0, 50%) !important;
    /* Safari and Chrome */
}

.tree,
.tree ul {
    margin: 0 0 0 10%;
    padding: 0;
    list-style: none;
    color: #ccc;
    position: relative;
    padding-top: 10px;
}

.tree ul {
    margin-left: .5em
}


/* (indentation/2) */

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.tree li {
    margin: 0;
    padding: 0 1.5em;
    /* indentation + .5em */
    line-height: 2em;
    /* default list item's `line-height` */
    font-weight: bold;
    position: relative;
    color: #333333;
}

.tree li:before {
    content: "";
    display: block;
    width: 21px;
    /* same with indentation */
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    /* border top width */
    position: absolute;
    left: 0;
    top: 50%;
}

.tree li:last-child:before {
    background: #dff0d8;
    /* same with body background */
    height: auto;
    top: 50%;
    /* (line-height/2) */
    bottom: 0;
}

.tree-parent-node {
    width: 90%;
    line-height: 2em;
    font-weight: bold;
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.sidebar .list {
    width: 100%;
}

.sidebar {
    padding: 0 !important;
    overflow: auto;
    background-color: #f5f5f5;
    min-height: 70% !important;
}

.sidebar .list ul {
    white-space: normal;
    margin: 0;
    padding-left: 0 !important;
    list-style-type: none;
}

.sidebar .list ul li {
    display: block;
    position: relative;
    font-weight: 400;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    color: #777;
}

.sidebar .list ul li a {
    display: block;
    padding: 16px;
}

.sidebar .list ul li.active a:hover {
    text-decoration: none !important;
    background: #265a88;
    color: #ffffff;
}

.sidebar .list ul li a:hover {
    text-decoration: none;
    background: #999;
    color: #fff;
}

.user-info {
    padding: 16px;
    color: #777;
    background: #ccc;
}

.user-info .avatar {
    overflow: hidden;
    display: inline-block;
    float: left;
}

.user-info .info {
    padding: 10px 0 10px 80px;
}

.user-info .info .name {
    font-size: 18px;
}

.user-info .info .role {
    font-size: 12px;
}

.sidebar .list .active {
    background: #265a88;
    color: #ffffff !important;
}

.sidebar .list .active a {
    text-decoration: none !important;
    color: #ffffff;
}

;
.responsive-table {
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    tbody,
    th,
    td,
    tr,
    tfoot {
        display: block;
    }
    thead {
        display: none;
    }
    td {
        border-top: none !important;
    }
    tr {
        border-bottom: 1px solid #ddd;
        clear: both;
    }
    table tr td:before {
        width: 50%;
        display: inline-block;
        padding: .5em .5em .5em 0;
    }
}

//http://unrealnavigation.com/blog/responsive-tables
.clear-both {
    clear: both;
}

.panel-title {
    font-size: 20px;
}

.loader-background {
    position: absolute;
    width: 100%;
    background: red;
    top: 0;
    left: 0;
}

.loader-icon {
    left: 40%;
    position: absolute;
    top: 40%;
    width: 20%;
}

.table-fixed {
    table-layout: fixed;
}

.panel-heading {
    font-size: 23px;
}

#rwd-table {
    display: table;
    border: none;
    margin-bottom: 0;
}

#rwd-table th,
#rwd-table td {
    display: table-cell;
    white-space: normal;
}

#rwd-table tr {
    display: table-row;
    border: none;
    border-bottom: 1px solid #eee;
    float: none;
    margin: 0;
    box-shadow: none;
}

#rwd-table tr td {
    padding: .75em 0 0.75em .25em;
    float: none;
    width: auto;
}

#rwd-table tr td:before {
    padding: 0 !important;
}

#rwd-table thead {
    display: table-header-group;
}

#rwd-table tbody,
#rwd-table tfoot {
    display: table-row-group;
}

#rwd-table tr:nth-of-type(even) {
    background: none;
}

@media screen and (max-width: 600px) {
    #rwd-table {
        display: block;
    }
    #rwd-table tbody {
        border: none;
    }
    #rwd-table tbody,
    #rwd-table th,
    #rwd-table td,
    #rwd-table tr,
    #rwd-table tfoot {
        display: block;
    }
    #rwd-table thead {
        display: none;
    }
    #rwd-table tr {
        float: left;
        width: 100%;
        margin: 0 0 1em;
        border: 1px solid #ddd;
    }
    #rwd-table tr td {
        padding: .5em .5em .5em 50%;
        float: left;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    #rwd-table tr td:last-child {
        padding: .5em .5em .5em 50%;
        float: left;
        width: 100%;
        border: none;
    }
    #rwd-table tr td:before {
        width: 100%;
        display: block;
        float: left;
        padding: .5em .5em .5em 0;
        clear: both;
        margin: -.5em 0 0 -100%;
        font-size: 1.125em;
    }
    #rwd-table tbody tr td:nth-of-type(1):before {
        content: "";
        margin-top: 0.05em;
    }
    #rwd-table tbody tr td:nth-of-type(2):before {
        content: "";
        margin-top: 0.05em;
    }
    #rwd-table tbody tr td:nth-of-type(3):before {
        content: "";
        margin-top: 0.05em;
    }
    .table-responsive {
        border: none;
    }
    #rwd-table .pull-right {
        width: 100%;
    }
    #rwd-table .pull-right .btn {
        width: 48% !important;
        float: left;
        margin-left: 2%;
    }
}

#rwd-table tbody tr td:nth-of-type(1):before {
    content: '';
}

#rwd-table tbody tr td:nth-of-type(2):before {
    content: '';
}

#rwd-table tbody tr td:nth-of-type(3):before {
    content: '';
}

#rwd-table .pull-right {
    padding: 0 10px;
}

#rwd-table .pull-right .btn {
    margin-bottom: 5px;
    width: 100%;
}
