<style>
.home-page {
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
}

.home-page header {
    background: rgba(0, 0, 0, .0001);
    padding: 9px 0px;
    box-shadow: 0px 3px 7px #ccc;
    margin-bottom: 8px;
    width: 100%;
}

.home-page .logo {
    text-align: left;
}

.home-page .logo img {
    width: 125px;
}

.home-page .login a {
    text-decoration: none;
    cursor: pointer;
    background: #3c763d;
    color: #fff;
    padding: 8px 11px 10px 11px;
    border-radius: 5px;
    border: 0px;
    float: right;
}

.banner {
    background: #555;
}

.banner img {
    width: 100%;
}

.banner {
    background: #555;
    margin-top: 65px;
}

.school-updates h3 {
    font-size: 22px;
    border-bottom: 1px solid #d9edf7;
    padding-bottom: 12px;
}

.school-updates ul {
    padding: 0px;
}

.school-updates ul li .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #31708f;
}

.school-updates ul li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.school-updates ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #555;
    line-height: 28px;
}

.school-updates ul li a span {
    margin-right: 10px;
}

.school-images {
    text-align: center;
}

.school-images img {
    width: 96%;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 164px;
    border-radius: 6px;
    margin-bottom: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .school-images img {
        height: 80px;
    }
}

.school-home-images .column {
    float: left;
    width: 25%;
}


/* The Modal (background) */

.school-home-images .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* Modal Content */

.school-home-images .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* The Close Button */

.school-home-images .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.school-home-images .close:hover,
.school-home-images .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.school-home-images .mySlides {
    display: none;
}

.school-home-images .cursor {
    cursor: pointer
}


/* Next & previous buttons */

.school-home-images .prev,
.school-home-images .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.school-home-images .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.school-home-images .prev:hover,
.school-home-images .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.school-home-images .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.school-home-images img {
    margin-bottom: -4px;
}

.school-home-images .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.school-home-images .demo {
    opacity: 0.6;
}

.school-home-images .active,
.school-home-images .demo:hover {
    opacity: 1;
}

.school-home-images img.hover-shadow {
    transition: 0.3s
}

.school-home-images .close {
    color: #3c763d;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #3c763d;
    padding: 0px 8px;
    border-radius: 50%;
}

.school-home-images img {
    margin-bottom: 0px;
    margin: 0px;
}

.school-images img {
    width: 90% !important;
}

.school-images {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
</style>
<div class="home-page">
    <div class="container-fluid">
        <div class="row">
            <header>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="  col-xs-6 col-sm-6 col-md-3 logo">
                                <img class="logo" src="img/provider-logo.png" width="100px" />
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="  col-xs-6 col-sm-6 col-md-3 login">
                                <a href="#/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel" data-pause="hover" data-wrap="true">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <!--  <li data-target="#myCarousel" data-slide-to="3"></li> -->
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner school-images  " role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[0].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[1].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[2].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[3].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[4].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[5].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[6].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[7].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[8].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[9].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[10].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <img src="data:image/png;base64,{{bannerlist[11].image}}" width="460" height="345" alt="No Image" class="img-reponsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="school-images school-home-images">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="row">
                                <img src="data:image/png;base64,{{bannerlist[0].image}}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="row">
                                <img src="data:image/png;base64,{{bannerlist[1].image}}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="row">
                                <img src="data:image/png;base64,{{bannerlist[2].image}}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="row">
                                <img src="data:image/png;base64,{{bannerlist[3].image}}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content" ng-repeat="banner in bannerInfo | limitTo: 4">
                            <div class="mySlides">
                                <img src="data:image/png;base64,{{banner.image}}" style="width:100%;height:50%">
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Notice</div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Messages</th>
                                    <th>Posted Date</th>
                                    <th><i class="fa fa-paperclip" aria-hidden="true"></i>files</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Notice in NoticeInfo" ng-if="$index <= maxLimit">
                                    <td ng-text-truncate="Notice.message" ng-tt-chars-threshold="30" ng-tt-more-label="More.." ng-tt-less-label="Less"></td>
                                    <td>{{Notice.entryTime}}</td>
                                    <td>
                                        <center>
                                            <div ng-if="Notice.format == 'image/jpeg'">
                                                <img src="data:image/png;base64,{{Notice.image}}" style="width:100px;  height: 50px">
                                                <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                                    <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                                </a>
                                            </div>
                                            <div ng-if="Notice.format == 'application/pdf'">
                                                <img src="img/pdf.jpg" style="width:100px;  height: 50px">
                                                <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                                    <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                                </a>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div ng-show="showFullList">
                                <a ng-click="showAll()">read more..</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function openModal() {
    document.getElementById('myModal').style.display = "block";
}

function closeModal() {
    document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
    showSlides(slideIndex += n);
}

function currentSlide(n) {
    showSlides(slideIndex = n);
}

function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    /*var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");*/
    if (n > slides.length) {
        slideIndex = 1
    }
    if (n < 1) {
        slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }

    /*for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }*/
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    /*
      captionText.innerHTML = dots[slideIndex-1].alt;*/
}
</script>
