<div class="row landing">
    <div class="col-sm-offset-3 col-md-6">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Notice</h2>
            </div>
            <div class="panel-body">
                <form name="addNoticeForm" novalidate="novalidate" ng-submit="savenotice(image,addNoticeForm)">
                    <div class="form-group">
                        <label for="types"> Type</label>
                        <!--  <select name="type" type="text" class="form-control" ng-model="types" ng-options="item as item.type for item in noticeType" required> -->
                        <select name="types" class="form-control" ng-model="notice.types">
                            <option value="">Select Type</option>
                            <option value="Generic">Generic</option>
                            <option value="Specific">Specific</option>
                        </select>
                        <div ng-if="details.role == 'ADMIN'">
                            <div class="form-group" ng-show="notice.types=='Specific'">
                                <label for="Institution"> School-Name</label>
                                <select ng-options="item as item.school for item in HierarchyInfo |filter: {institution: currentInstitution.school}| unique: 'school' " required ng-model="notice.hierarchy" class="form-control"></select>
                                <div class="alert alert-danger" role="alert" ng-if="addModuleForm.Specific.$dirty && addModuleForm.Specific.$error.required">
                                    Please enter sub Module
                                </div>
                            </div>
                            <!--  <label for="School"> School </label>
                                    <select ng-options="item as item.school for item in HierarchyInfo | filter: {institution: currentInstitution.institution} | unique: 'school' track by item.school" ng-required="true" ng-model="$parent.currentSchool" class="form-control"></select>
                                </div> </div> -->
                        </div>
                        <div class="form-group">
                            <label for="Message"> Message</label>
                            <textarea style="width:100%; height:300px" name="message" type="textarea" class="form-control" ng-model="notice.message" required></textarea>
                            <div class="alert alert-danger" role="alert" ng-if="addNoticeForm.message.$dirty && addNoticeForm.message.$error.required">
                                Please enter message
                            </div>
                        </div>
                        <p><span class="glyphicon glyphicon-file" style="display: block; text-align:center;">
        <input type="file" style="background: #245580; color: white;" ng-model="image"  style="width:200px" height="50px"                             base-sixty-four-input onchange="angular.element(this).scope().uploadFile(this.files)"/></span>
                        </p>
                        <div>
                            <div class="alert alert-danger" role="alert" ng-show="addNoticeFormError">
                                {{addNoticeFormError}}
                            </div>
                            <center>
                                <a href="#/notice" class="btn btn-default btn-small">cancel</a>
                                <button type="submit" class="btn btn-small btn-primary">save</button>
                            </center>
                        </div>
                        <div class="loader-background">
                            <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <style>
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        .form-group {
            margin-bottom: 15px;
            overflow: hidden;
            padding: 17px;
        }
    }
    </style>
