<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span>Notices Others</span>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="rwd-table">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Posted On</th>
                            <th>Posted By</th>
                             <th><i class="fa fa-paperclip" aria-hidden="true"></i>files</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Notice in NoticeInfo">
                            <td>{{ Notice.message }}</td>
                                    <td>{{Notice.entryTime}}</td>

                                    
                            <td>{{Notice.role}}</td>
                            <td>
                                <center>
                                    <div ng-if="Notice.format == 'image/jpeg'">
                                        <img src="data:image/png;base64,{{Notice.image}}" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                    </div>
                                    <div ng-if="Notice.format == 'application/pdf'">
                                        <img src="img/pdf.jpg" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                        </div>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
