<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Admin Notice</span>
            <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addNotice()">
                <i class="glyphicon glyphicon-plus"></i> Post Notice
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body" ng-init="getMyNotices()">
            <div class="table-responsive">
                <table class="table" id="rwd-table">
                    <thead>
                        <tr>
                            <!--   <th>Type</th> -->
                            <th>Message</th>
                            <th>Actions</th>
                             <th>School-Name</th>
                            <th><i class="fa fa-paperclip" aria-hidden="true"></i>files</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Notice in MyNoticeInfo1">
                            <!--    <td>{{ Notice.type }}</td>  -->
                            <td>{{ Notice.message }}</td>
                            <!-- <td><img data-ng-src="data:image/png;base64,{{Notice.image}}"></td> -->
                            <td>

                                <a class="btn btn-small btn-primary" ng-show="Permission.edit"  ng-click="editNotice(Notice)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                <a class="btn btn-small btn-danger" data-toggle="modal" ng-show="Permission.del" ng-click="setCurrentNotice(Notice)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                            </td>
                            <td>{{Notice.hierarchy.school}} </td>
                            <td>
                                <center>
                                    <div ng-if="Notice.format == 'image/jpeg'">
                                        <img src="data:image/png;base64,{{Notice.image}}" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                    </div>
                                    <div ng-if="Notice.format == 'application/pdf'">
                                        <img src="img/pdf.jpg" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                        </div>
                                </center>
                            </td>

                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="panel panel-default">
        <div class="panel-heading"> -->
    <!--  <button class="btn btn-small btn-primary pull-right" ng-click="addNotice()">
                <i class="glyphicon glyphicon-plus"></i> More
            </button> -->
    <!--   <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="rwd-table">

                </table>
            </div>
        </div> -->
    <div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentNotice = null" data-dismiss="modal">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ui-view>
