<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Notice</h2>
            </div>
            <div class="panel-body">
                <form name="editNoticeForm" novalidate="novalidate" ng-submit="update($event, editNoticeForm,image)">
                    <div class="form-group">
                        <label for="type"> Type</label>
                        <select name="type" class="form-control" ng-model="Notice.type" required>
                            <option value="">Select Type</option>
                            <option value="Generic">Generic</option>
                            <option value="Specific">Specific</option>
                        </select>
                        <div class="alert alert-danger" role="alert" ng-if="editNoticeForm.type.$dirty && editNoticeForm.type.$error.required">
                            Please select Type
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Message"> Message</label>
                        <!-- <input name="message" type="text" class="form-control" ng-model="Notice.message" required>
                        <textarea style="width:1500px; height:300px"></textarea>
                        />
 -->
                        <textarea style="width:100%; height:300px" name="message" type="textarea" class="form-control" ng-model="Notice.message" required></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="editNoticeForm.message.$dirty && editNoticeForm.message.$error.required">
                            Please enter message
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editNoticeFormError">
                            {{editNoticeFormError}}
                        </div>
                        <center>
                            <p><span class="glyphicon glyphicon-file"></span>
                                <input type="file" style="background: #245580; color: white;" ng-model="image" base-sixty-four-input onchange="angular.element(this).scope().uploadFile(this.files)" />
                            </p>
                            <a href="#/notice" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>

                    <div class="loader-background">
                        <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<style>
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .form-group {
        margin-bottom: 15px;
        overflow: hidden;
        padding: 17px;
    }
}
</style>
