<ui-view>

    <!--  <link rel="stylesheet" href="inline-edit.css"> -->
    <!--  <div class="panel-heading "> -->
    <!--    <div class="col-md-12" ng-init="getSpecificNotices()"> -->
    <div class="landing">
        <div class="panel-top">
            <ul class="nav nav-tabs" ng-init="getSpecificNotices()" style="background:white;">
                <li ng-class="{'active' : activeTab ==1}" class="active"><a data-toggle="tab" href="" ng-click="setActiveTab(1);getSpecificNotices()">Notices</a></li>
                <li ng-class="{'active' : activeTab ==2}"><a data-toggle="tab" href="" ng-click="setActiveTab(2);getMyNotices()">Post Notices</a></li>
            </ul>
        </div>
        <!--  <div class="panel-body"> -->
        <div class="panel panel-default">
            <div class="tab-content">
                <div class="tab-pane active panel-body" ng-class="{'active' : activeTab ==1}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Message</th>
                                    <th>Posted By</th>
                                    <th>Posted On</th>

                                     <th><i class="fa fa-paperclip" aria-hidden="true"></i>files</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Notice in NoticeInfo" class="list-group-item">
                                    <td>{{Notice.message}}</td>
                                    <td>{{Notice.role}}</td>
                                    <td>{{Notice.entryTime}}</td>
                                    
                                    <td>
                                <center>
                                    <div ng-if="Notice.format == 'image/jpeg'">
                                        <img src="data:image/png;base64,{{Notice.image}}" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                    </div>
                                    <div ng-if="Notice.format == 'application/pdf'">
                                        <img src="img/pdf.jpg" style="width:100px;  height: 50px">
                                        <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                            <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                        </a>
                                        </div>
                                </center>
                            </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane panel-body" ng-class="{'active' : activeTab ==2}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Message</th>
                                    <th><i class="fa fa-paperclip" aria-hidden="true"></i>files</th>
                                    <th style="float: right;">
                                        <button class="btn btn-medium btn-primary pull-right" ng-click="addNotice()">
                                            <i class="glyphicon glyphicon-plus"></i> Post Notice
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Notice in MyNoticeInfo">
                                    <td>{{Notice.type}}</td>
                                    <td>{{Notice.message}}</td>
                                    <td>
                                        <center>
                                            <div ng-if="Notice.format == 'image/jpeg'">
                                                <img src="data:image/png;base64,{{Notice.image}}" style="width:100px;  height: 50px">
                                                <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                                    <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                                </a>
                                            </div>
                                            <div ng-if="Notice.format == 'application/pdf'">
                                                <img src="img/pdf.jpg" style="width:100px;  height: 50px">
                                                <a target="_self" href="data:image/pdf;base64,{{Notice.image}}" download="{{Notice.format}}">
                                                    <span ng-if="Notice.image!=null" class="glyphicon glyphicon-download" style="font-size: 30px"></span>
                                                </a>
                                        </center>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-small btn-primary" ng-click="editNotice(Notice)"><i class="glyphicon glyphicon-edit">Edit</i> </a>
                                            <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentNotice(Notice)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-vertical-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Delete Parmanently</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this record</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="currentNotice = null" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ui-view>
<style>
    .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #3c763d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li> a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
}
</style>
