<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Hierarchy</h2>
            </div>
            <div class="panel-body">
                <form name="addHierarchyForm" novalidate="novalidate" ng-submit="save($event, addHierarchyForm)">
                    <div class="form-group">
                        <label for="Institution"> Institution*</label>
                        <input name="institution" type="text" id="Institution" class="form-control" ng-model="hierarchy.institution" placeholder="Enter institution" capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="addHierarchyForm.institution.$dirty && addHierarchyForm.institution.$error.required">
                            Please enter institution
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="School">School*</label>
                        <input name="school" type="text" id="School" class="form-control" ng-model="hierarchy.school" placeholder="Enter school name" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addHierarchyForm.school.$dirty && addHierarchyForm.school.$error.required">
                            Please enter school
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="Standard">Standard*</label>
                        <input name="standard" type="text" id="Standard" class="form-control" ng-model="hierarchy.standard" placeholder="Enter the standard"  required/>
                        <div class="alert alert-danger" role="alert" ng-if="addHierarchyForm.standard.$dirty && addHierarchyForm.standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Section"> Section*</label>
                        <input name="section" type="text" id="Section" class="form-control" ng-model="hierarchy.section" placeholder="Enter the section" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addHierarchyForm.section.$dirty && addHierarchyForm.section.$error.required">
                            Please enter section
                        </div>
                    </div> -->
                    <div>
                         <div class="alert alert-danger" role="alert" ng-show="addHierarchyFormSubmitError">
                            {{addHierarchyFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/hierarchy" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
