<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Hierarchy</h2>
            </div>
            <div class="panel-body">
                <form name="editHierarchyForm" novalidate="novalidate" ng-submit="update($event, editHierarchyForm)">
                    <div class="form-group">
                        <label for="Institution"> Institution*</label>
                        <input name="institution" type="text" id="Institution" class="form-control" ng-model="hierarchy.institution" " capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.institution.$dirty && editHierarchyForm.institution.$error.required">
                            Please enter institution
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="School">School*</label>
                        <input name="school" type="text" id="School" class="form-control" ng-model="hierarchy.school" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.school.$dirty && editHierarchyForm.school.$error.required">
                            Please enter school
                        </div>
                    </div>
                   
                    <div>
                     <div class="alert alert-danger" role="alert" ng-show="editHierarchyFormSubmitError">
                            {{editHierarchyFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/hierarchy" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
