<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowHierarchyFormMessage" style="color: green">
                            {{HierarchyFormSubmitMessage}}....
                        </span>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Hierarchy</span>
            <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addHierarchy()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        
            <div id="content" class="col-xs-4" > 
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="hierarchyPerPage" class="form-control" ng-change="size(hierarchyPerPage)" placeholder="Entity Per Page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
                </div>
           <!--<div class="col-xs-6 col-md-2" style="float: right;">
                <label for="search">items per page:</label>
                <input type="number" min="1" max="pageSize" class="form-control" ng-model="hierarchyPerPage">
            </div> -->
            <div class="col-xs-3 col-md-3 tableSearch" style="float:right;" >
                <label for="search"> </label>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search()">
                </div>
            </div>
        
       
            <div class="panel-body">
                <div class="table-responsive page-length">
                    <table class="table table-striped table-bordered table-hover hierarchy-table-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>INSTITUTION</th>
                                <th>SCHOOL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="hierarchy in HierarchyInfo | filter:SearchText | itemsPerPage: hierarchyPerPage" total-items="totalhierarchy" current-page="pagination.current">
                                <td>{{hierarchy.institution}}</td>
                                <td>{{hierarchy.school}}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-primary" ng-click="editHierarchy(hierarchy)" ng-show="Permission.edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                        <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentHierarchy(hierarchy)" data-target="#deleteConfirmationModal" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="hierarchyPageChange(newPageNumber)" auto-hide="false">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentHierarchy = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
