<style>
.btn {
    paddding: 6px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .add-role-page form {
        padding: 0px;
    }
}
</style>
<div class="col-md-12 gsmart-dashboard add-role-page landing panel-top">
    <div class="col-md-12">
        <div class="row">
            <h2>Permission</h2>
            <div class="col-md-offset-2 col-md-8">
                <!--<div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Permission</h2>
            </div>-->
                <div>
                    <form name="addPermissionsForm" novalidate="novalidate" ng-submit="save($event, addPermissionsForm)">
                        <fieldset>
                            <div class="form-group">
                                <div class=" col-xs-12 col-md-3 ">
                                    <label for="Role"> Role*</label>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <select name="role" type="text" id="Role" class="form-control" ng-model="permissions.role" capitalize required>
                                        <option ng-repeat="Band in BandInfo">{{ Band.role}}</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-if="addPermissionsForm.role.$dirty && addPermissionsForm.role.$error.required">
                                    Please enter role
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-xs-12 col-md-3 ">
                                    <label for="ModuleName">ModuleName*</label>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <select name="moduleName" type="text" id="ModuleName" class="form-control" ng-model="permissions.moduleName" ng-change="onFieldChange()" capitalize required>
                                        <option ng-repeat="item in ModInfo|unique:'modules'" ng-model="permissions.moduleName">{{item.modules}}</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-if="addPermissionsForm.moduleName.$dirty && addPermissionsForm.moduleName.$error.required">
                                    Please enter moduleName
                                </div>
                            </div>
                            <div class="form-group" ng-show="permissions.moduleName=='MAINTENANCE'">
                                <div class=" col-xs-12 col-md-3 ">
                                    <label for="subModuleName">SubModuleName</label>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    <select name="subModuleName" type="text" id="subModuleName" class="form-control" ng-model="permissions.subModuleName" ng-required=isRequired>
                                        <option ng-repeat="item in ModInfo|filter:{subModules: ''}">{{ item.subModules}}</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-if="addPermissionsForm.subModuleName.$dirty && addPermissionsForm.subModuleName.$error.required">
                                    Please enter submoduleName
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="[ form-group ]">
                                            <input name="add" type="checkbox" id="add" ng-model="permissions.add" />&nbsp&nbsp
                                            <div class="[ btn-group ]">
                                                <label for="add" class="[ btn btn-default ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span> </span>
                                                </label>
                                                <label for="add" class="[ btn btn-default active ]" style="position: static;">
                                                    Add
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="[ form-group ]">
                                            <input name="view" type="checkbox" id="view" ng-model="permissions.view" />&nbsp&nbsp
                                            <div class="[ btn-group ]">
                                                <label for="view" class="[ btn btn-default ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span> </span>
                                                </label>
                                                <label for="view" class="[ btn btn-default active ]" style="position: static;">
                                                    View
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="[ form-group ]">
                                            <input name="del" type="checkbox" id="del" ng-model="permissions.del" />&nbsp&nbsp
                                            <div class="[ btn-group ]">
                                                <label for="del" class="[ btn btn-default ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span> </span>
                                                </label>
                                                <label for="del" class="[ btn btn-default active ]" style="position: static;">
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="row">
                                        <div class="[ form-group ]">
                                            <input name="edit" type="checkbox" id="edit" ng-model="permissions.edit" />&nbsp&nbsp
                                            <div class="[ btn-group ]">
                                                <label for="edit" class="[ btn btn-default ]">
                                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                                    <span> </span>
                                                </label>
                                                <label for="edit" class="[ btn btn-default active ]" style="    position: static;">
                                                    Edit
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                       <div class="form-group">
                       <center>
                        <label for="add"> ADD</label>
                        <input name="add" type="checkbox" id="add"  ng-model="permissions.add"/>&nbsp&nbsp
                        <label for="add"> VIEW</label>
                        <input name="view" type="checkbox" id="view"  ng-model="permissions.view"/>&nbsp&nbsp
                       
                      
                        <label for="del"> DELETE</label>
                        <input name="del" type="checkbox" id="del" ng-model="permissions.del"/>&nbsp&nbsp
                     
                     
                        <label for="edit"> EDIT</label>
                        <input name="edit" type="checkbox" id="edit"  ng-model="permissions.edit"/>
                        </center>
                      </div>
                       
                    <div>
                        <center>
                            <a href="#/maintenance/permissions" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>-->
                            <div class="col-md-12 text-center">
                                <br/>
                                <div class="alert alert-danger" role="alert" ng-show="addFormSubmitError">
                                    {{addFormSubmitError}}
                                </div>
                                <a href="#/maintenance/permissions" class="cancel-button">cancel</a>
                                <button type="submit" class="ubdate-button">save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
