<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Permission</h2>
            </div>
            <div class="panel-body">
                <form name="editPermissionsForm" novalidate="novalidate" ng-submit="updaterolepermission($event, editPermissionsForm)">
                    <fieldset>
                        <div class="form-group">
                            <label for="Role"> Role*</label>
                            <select name="role" type="text" id="Role" class="form-control" ng-model="permissions.role" capitalize required>
                                <option ng-repeat="Band in BandInfo">{{ Band.role}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" ng-if="editPermissionsForm.role.$dirty && editPermissionsForm.role.$error.required">
                                Please enter role
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ModuleName">ModuleName*</label>
                            <select name="moduleName" type="text" id="ModuleName" class="form-control" ng-model="permissions.moduleName" capitalize required>
                                <option ng-repeat="item in ModInfo|unique:'modules'" ng-model="permissions.moduleName">{{item.modules}}</option>
                            </select>
                            <div class="alert alert-danger" role="alert" ng-if="editPermissionsForm.moduleName.$dirty && editPermissionsForm.moduleName.$error.required">
                                Please enter moduleName
                            </div>
                            <div class="form-group" ng-show="permissions.moduleName=='MAINTENANCE'">
                                <label for="subModuleName">SubModuleName</label>
                                <select name="subModuleName" type="text" id="subModuleName" class="form-control" ng-model="permissions.subModuleName">
                                    <option ng-repeat="item in ModInfo|filter:{subModules: ''}">{{ item.subModules}}</option>
                                </select>
                                <div class="alert alert-danger" role="alert" ng-if="editPermissionsForm.subModuleName.$dirty && editPermissionsForm.subModuleName.$error.required">
                                    Please enter SubModuleName
                                </div>
                            </div>
                            <div class="form-group">
                                <center>
                                    <label for="add"> ADD</label>
                                    <input name="add" type="checkbox" id="add" ng-model="permissions.add" />&nbsp&nbsp
                                    <label for="add"> VIEW</label>
                                    <input name="view" type="checkbox" id="view" ng-model="permissions.view" />&nbsp&nbsp
                                    <label for="del"> DELETE</label>
                                    <input name="del" type="checkbox" id="del" ng-model="permissions.del" />&nbsp&nbsp
                                    <label for="edit"> EDIT</label>
                                    <input name="edit" type="checkbox" id="edit" ng-model="permissions.edit" />
                                </center>
                            </div>
                    </fieldset>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editFormSubmitError">
                            {{editFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/rolepermission" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
