<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowPermissionFormMessage" style="color: green">
                            {{PermissionFormSubmitMessage}}....
                        </span>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 20px;">Permissions</span>
                <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addPermissions()">
                    <i class="glyphicon glyphicon-plus"></i> Add
                </button>
                <div class="clear-both"></div>
            </div>
            <div class="row">
                <div id="content" class="col-xs-4">
                    <label for="Items Per Page">Entity Per Page</label>
                    <select style="width:70px;" ng-model="rolesPerPage" class="form-control" ng-change="size(rolesPerPage)" placeholder="Entity Per Page">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-xs-3 col-md-3" style="float: right;">
                    <label for="search"> </label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search1()">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive page-length">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ROLE</th>
                                <th>MODULE NAME</th>
                                <th>SUB MODULE NAME</th>
                                <th>ADD</th>
                                <th>VIEW</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="permissions in PermissionsInfo| filter:SearchText | itemsPerPage: rolesPerPage" total-items="totalpermission" current-page="pagination.current">
                                <td>{{permissions.role}}</td>
                                <td>{{permissions.moduleName}}</td>
                                <td>{{permissions.subModuleName}}</td>
                                <td> <i ng-model="permissions.add" value={{permissions.add}} ng-class="{true:'glyphicon glyphicon-ok text-success',false:'glyphicon glyphicon-remove text-danger'}[permissions.add]"></i></td>
                                <td> <i ng-model="permissions.view" value={{permissions.view}} ng-class="{true:'glyphicon glyphicon-ok text-success',false:'glyphicon glyphicon-remove text-danger'}[permissions.view]"></i></td>
                                <td> <i ng-model="permissions.edit" value={{permissions.edit}} ng-class="{true:'glyphicon glyphicon-ok text-success',false:'glyphicon glyphicon-remove text-danger'}[permissions.edit]"></i></td>
                                <td> <i ng-model="permissions.del" value={{permissions.del}} ng-class="{true:'glyphicon glyphicon-ok text-success',false:'glyphicon glyphicon-remove text-danger'}[permissions.del]"></i></td>
                                <td>
                                    <div class="pull-right">
                                        <button class="btn btn-small btn-primary" ng-click="editPermissions(permissions)" ng-show="Permission.edit">
                                            <i class="glyphicon glyphicon-edit"></i> Edit
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentPermissions(permissions)" data-target="#deleteConfirmationModal" ng-show="Permission.del">
                                            <i class="glyphicon glyphicon-remove"></i> delete
                                        </button>
                                    </div>
                                    <div class="clear-both"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table></div>
                    <div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="rolesPageChange(newPageNumber)" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                    <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                        <div class="modal-dialog modal-vertical-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Delete Parmanently</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this record</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="currentPermissions = null" data-dismiss="modal">Cancel</button>
                                    <a type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</ui-view>
