<ui-view id="inventoryAssignments">
    <div class="Inventory">
        <h2>Inventory Assignment</h2>
    </div>
    <div class="panel-body">
        <div class="row home row-centered">
            <a href="#/inventoryassignments/list">
                <div class="col-sm-3 col-xs-4 col-centered">
                    <div class="grid-box text-center">
                        <div class="grid-icon">
                            <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"></i>
                        </div>
                        <div class="grid-text">
                            <h3> Teacher Inventory-List</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#/inventoryassignments/student">
                <div class="col-md-3 col-sm-3 col-xs-4 col-centered">
                    <div class="grid-box text-center">
                        <div class="grid-icon">
                            <i class="white fa  fa-flag fa-3x text-center box-icon"></i>
                        </div>
                        <div class="grid-text">
                            <h3> Student Inventory-List</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</ui-view>
<style>
    .row-centered {
    margin-top: 150px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-centered {
        margin-top: 90px;
        text-align: center;
    }
    .gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }
</style>
