<ui-view>
    <link rel="stylesheet" href="inline-edit.css">
    <div class="col-md-12 landing">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : activeTab ==1}" class="active"><a href="" ng-click="setActiveTab(1)">Profiles With RFID</a></li>
            <li ng-class="{'active' : activeTab ==2}"><a href="" ng-click="setActiveTab(2) ">Profiles Without RFID</a></li>
        </ul> 
         <div class="tab-content">
            <div class="tab-pane active" ng-class="{'active' : activeTab ==1}">
                <form name="rfidform" novalidate="novalidate" class="form-horizontal" ng-submit="searchProfilesWithRfid(search.withRfid)">
                    <div class="row">
                            <div class="col-xs-4" > 
                        <label for="Items Per Page">Entity Per Page</label>
                        <select style="width:70px;" ng-model="rfidPerPage" class="form-control" ng-change="size(rfidPerPage)" placeholder="Entity Per Page">
                            <option value="5 ">5 </option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        </div>
                        <div style="float: right;" class="input-group col-xs-4" ng-style="{'padding-top':'25px','padding-bottom':'10px'}" id="searchBox">{{searchKey}}
                            <input name="firstName" type="text" placeholder="Enter The Name/ Id" class="form-control" ng-model="search.withRfid">
                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                </span>
                        </div>
                    </div>
                </form>
                <div class="table-responsive page-length">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>EMP/STU ID</th>
                                <th>Role</th>
                                <th>School Name</th>
                                <th>RFID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="rfid in ProfileInfo1| orderBy : 'smartId' |filter:SearchText | itemsPerPage: rfidPerPage" total-items="totalwithrfid" current-page="pagination.current" pagination-id="tab1">
                                <td>{{rfid.firstName}}</td>
                                <td>
                                    <div ng-if(rfid.role=="student" )>{{rfid.studentId}}</div>
                                    <div ng-if(rfid.role !="student" )>{{rfid.teacherId}}
                                    </div>
                                </td>
                                <td>{{rfid.role}}</td>
                                <td>{{rfid.school}}</td>
                                <td>
                                    <span editable-text="rfid.rfId" e-focus-me="rfid.isFocused" e-form="tableform" onaftersave="update(rfid)"> {{ rfid.rfId || 'empty' }}
                                        </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                                        edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <dir-pagination-controls pagination-id="tab1" direction-links="true" boundary-links="true" on-page-change="pwithrfidPageChange(newPageNumber)" auto-hide="false">
                    </dir-pagination-controls>
                </div>
            </div> 
            <div class="tab-pane" ng-class="{'active' : activeTab ==2}">
                <form name="rfidform" novalidate="novalidate" class="form-horizontal" ng-submit="searchProfilesWithoutRfid(search.withoutRfid)">
                        <div class="row">
                              <div class="col-xs-2" > 
                        <label for="Items Per Page">Entity Per Page</label>
                        <select style="width:70px;" ng-model="rfidPerPage1" class="form-control" ng-change="size1(rfidPerPage1)" placeholder="Entity Per Page">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        </div>
                            <div style="float: right;" class="input-group col-xs-6" ng-style="{'padding-top':'25px','padding-bottom':'10px'}" id="searchBox">{{searchKey}}
                                <input name="firstName" type="text" placeholder="Enter The Name/ Id" class="form-control" ng-model="search.withoutRfid">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                </span>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>EMP/STU ID</th>
                                <th>Role</th>
                                <th>School Name</th>
                                <th>RFID</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="rfid in ProfileInfo| orderBy : 'smartId' |filter:SearchText | itemsPerPage: rfidPerPage1" total-items="totalrfid" current-page="pagination.current" pagination-id="tab2">
                                <td>{{rfid.firstName}}</td>
                                <td>
                                    <div ng-if(rfid.role=="student" )>{{rfid.studentId}}</div>
                                    <div ng-if(rfid.role !="student" )>{{rfid.teacherId}}
                                    </div>
                                </td>
                                <td>{{rfid.role}}</td>
                                <td>{{rfid.school}}</td>
                                <td>
                                    <input name="rfId" id="rfId" class="form-control" placeholder="Enter RFID" ng-model="rfid.rfId" />
                                    <div class="alert alert-danger" role="alert" ng-if="addrfid.rfId.$dirty && addrfid.rfId.$error.required">
                                        Please enter RFID
                                </td>
                                <td>
                                    <button ng-click="save(rfid)" class="btn btn-small btn-primary">save</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <dir-pagination-controls pagination-id="tab2" direction-links="true" boundary-links="true" on-page-change="pwithoutrfidPageChange(newPageNumber)" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                    </div>
                </div>
            </div></div>
</ui-view>
