<style>
.tab-pos {
    margin-top: 65px;
    padding-top: 24px;
    height: 494px;
    overflow: scroll;
}


.nav-tabs {
    /*background: white;*/
    position: fixed;
    width: 100%;
    margin-top: 24px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #3c763d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li> a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
}

.custom-table th {
    background-color: #4CAF50;
    color: white;
}

.custom-table tr:nth-child(odd) {
    background: #E9967A;
}

.custom-table tr:nth-child(even) {
    background: #8FBC8F;
}

.custom-table tr:hover {
    background: #FFE4C4;
    cursor: pointer;
}

.custom-table-align {
    float: none;
    display: inline-flex;
}

./*background {
    background: #dff0d8;
    border-color: #ddd;
}*/

.margin {
    padding: 40px 20px 0px 20px;
}

.piechart {
    width: 100%;
    height: 250px;
}

.margin-std {
    padding: 40px 30px 0px 80px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.tab-pos1 {
    margin-top: 82px;
    /* padding-top: 24px; */
    height: 473px;
    overflow: scroll;
}

.nav-tabs1 {
    /*background: white;*/
    position: fixed;
    width: 100%;
    margin-top: 60px;
}

.nav-tabs1 > li.active > a,
.nav-tabs1 > li.active > a:hover,
.nav-tabs1 > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #3c763d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs1 > li> a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav-tabs1 > li {
    float: left;
    margin-bottom: -1px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .tab-pos {
        margin-top: 54px;
        /* padding-top: 24px; */
        height: 492px;
        overflow: scroll;
    }
    .margin-std {
        padding: 20px 20px 0px 15px;
    }
    /* .design th,td {
        width: 80px;
        text-align: center;
    }*/
    .piechart {
        width: 100%;
        height: 200px;
        margin-top: 50px;
    }
    .margin {
        padding: 20px 0px 20px 0px;
    }
    .custom-table-align {
        display: inline-flex;
    }
    .background {
        background: #fff;
        border-color: #ddd;
    }
    .custom-table td {
        font-size: 12px;
    }
    .custom-table col {
        width: 30px;
    }
    .custom-table th {
        font-size: 12px;
    }
    .spinCenter {
        top: 120px;
        left: 50px;
        position: absolute;
    }
    .spinCenter h2 {
        font-size: 12px;
    }
    .spinCenter ul li {
        font-size: 9px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .spinCenter {
        top: 200px;
        left: 180px;
        position: absolute;
    }
    .piechart {
        width: 100%;
        height: 200px;
        margin-top: 80px;
    }
    .background {
    background: #dff0d8;
    border: 1px solid #ddd;
}
}

.col-centered {
    float: none;
    text-align: left;
    display: inline-block;
}

.row-centered {
    text-align: center;
}
</style>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
            <!-- <div ng-show="online" class="col-xs-offset-11 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-2 online">
            online
            <div class="online-circle"></div>
        </div>
        <div ng-hide="online" class="col-xs-offset-11 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-11 col-md-2 offline">
            offline
            <div class=" offline-circle blink "></div>
        </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div ng-hide="online ">
                    <div class="loader-background ">
                        <div class="loader-icon spinCenter " style="width:auto; " ng-show="loading ">
                            <h2>There is no Internet connection</h2>
                            <p>Try:
                                <ul>
                                    <li>Checking the network cables, modem and router</li>
                                    <li>Reconnecting to Wi-Fi</li>
                                    <li><b>Refresh</b> to see 'Piecharts'</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div ng-if="details.role !='STUDENT'">
                <ul class="nav nav-tabs1">
                    <li ng-class="{'active' : activeTab ==1}" class="active"><a href="" ng-click="setActiveTab(1)">ATTENDANCE</a></li>
                    <li ng-class="{'active' : activeTab ==2}"><a href="" ng-click="setActiveTab(2)">FEE</a></li>
                    <li ng-class="{'active' : activeTab ==3}"><a href="" ng-click="setActiveTab(3)">INVENTORY</a></li>
                </ul>
            </div>
            <br>
            <br>
            <div class="tab-content tab-pos" ng-if="details.role !='STUDENT'">
                <div class="tab-pane active" ng-class="{'active' : activeTab == 1}">
                    <div class="row row-centered">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-centered" ng-repeat="attendanceData in attendanceDashboardList">
                        <div class="row">
                            <div class="col-xs-3 col-md-6 piechart" id="attendanceChart_{{$index}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " ng-class="{'active' : activeTab == 2}">
                    <div class="row row-centered">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-centered" ng-repeat="feeData in feeDashboardList">
                        <div class="row">
                            <div class="col-xs-3 col-md-6 piechart" id="feeChart_{{$index}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="details.role !='TEACHER'" class="tab-pane " ng-class="{'active' : activeTab == 3}">
                
                    <h2>Inventory</h2>
                    <div class="col-xs-12 col-md-12 background">
                        <div class="row row-centered">
                            <!-- <div class="col-md-6" ng-repeat="inventoryData in inventoryDashboardList">
                            <div id="inventoryChart_{{$index}}" style="width: 100%; height: 500px;"></div>
                        </div> -->
                            <div ng-repeat="institution in inventoryDashboardList" class="custom-table-align column-centered">
                                <div class=" col-xs-12 col-md-12 margin">
                                    <h5><b>{{institution.hierarchy.school}}</b></h5>
                                    <table class="table table-striped table-bordered table-hover custom-table">
                                        <thead>
                                            <tr>
                                                <th>CATEGORY</th>
                                                <th>ITEM</th>
                                                <th>QUANTITY</th>
                                                <th>LEFT-QUANTITY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="inventory in institution.inventoryList">
                                                <td>{{ inventory.category }}</td>
                                                <td>{{ inventory.itemType }}</td>
                                                <td>{{ inventory.quantity }}</td>
                                                <td>{{ inventory.leftQuantity }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="details.role =='TEACHER'" class="tab-pane " ng-class="{'active' : activeTab == 3}">
                    <div ng-include=" 'partial/dashboard/inventAssign.html' "></div>
                </div>
            </div>
            <div ng-if="details.role=='STUDENT'">
                <ul class="nav nav-tabs ">
                    <li ng-class="{ active: isSet(1) } " class="active " ng-click=" ">
                        <a href ng-click="setTab(1) ">ATTENDANCE</a>
                    </li>
                    <li ng-class="{ active: isSet(2) } " ng-click=" ">
                        <a href ng-click="setTab(2) ">FEE</a>
                    </li>
                    <li ng-class="{ active: isSet(3) } " ng-click=" ">
                        <a href ng-click="setTab(3) ">INVENTORY</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" ng-if="details.role=='STUDENT' ">
            <div class="row">
                <div class="col-xs-12 tab-pane active  tab-pos1" ng-show="isSet(1) ">
                    <div class="row custom-table  " ng-controller="MyattendanceCtrl ">
                        
                        <div ng-include=" 'attendance/partial/myattendance/myattendance.html' " ></div>
                    </div>
                </div>
                <div class="col-xs-12 tab-pane active tab-pos1" ng-show="isSet(2) ">
                    <div class="row">
                       
                        <div ng-include=" 'fee/partial/fee.html' ">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 tab-pane active tab-pos1" ng-show="isSet(3) ">
                <div class="row">
                    <div ng-include=" 'partial/dashboard/inventAssign.html' "></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
