<div class="row">
    <div class="col-xs-12 col-md-12 background">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <span>Inventory-Assignment</span>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="custom-table-align column-centered">
                    <div ng-if="details.role=='STUDENT' || details.role=='TEACHER'" class=" col-xs-12 col-md-12 margin-std">
                        <table class="table table-striped table-bordered table-hover invent-table-border custom-table design" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="width:160px;text-align:center">Category</th>
                                    <th style="width:160px;text-align:center">ItemType</th>
                                    <th style="width:160px;text-align:center">Quantity</th>
                                    <th style="width:160px;text-align:center">Left-Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="InventoryAssignments in InventoryInfoAssign| filter:SearchText | itemsPerPage: inventoryassignPerPage" total-items="totalinventory" current-page="pagination.current">
                                    <td>{{ InventoryAssignments.category }}</td>
                                    <td>{{ InventoryAssignments.itemType }}</td>
                                    <td>{{ InventoryAssignments.quantity }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    .margin-std {
        padding: 40px 75px 0px 80px;
    }
}
</style>
