<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Smart ID</th>
                        <th>Student Name</th>
                        <th>Standard</th>
                        <th>Section</th>
                        <th>Reporting Teacher ID</th>
                        <th>Reporting Teacher Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="profile in studentProfilesList" >
                        <td>{{profile.smartId}}</td>
                        <td>{{profile.firstName}}</td>
                        <td>{{profile.standard}}</td>
                        <td>{{profile.section}}</td>
                        <td>{{profile.reportingManagerId}}</td>
                        <td>{{profile.reportingManagerName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
