<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Smart ID</th>
                        <th>Emploee Name</th>
                        <th>Designation</th>
                        <th>Reporting Manaer ID</th>
                        <th>Reporting Manaer Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="profile in teacherProfilesList" >
                        <td>{{profile.smartId}}</td>
                        <td>{{profile.firstName}}</td>
                        <td>{{profile.designation}}</td>
                        <td>{{profile.reportingManagerId}}</td>
                        <td>{{profile.reportingManagerName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
