<ui-view id="attendance">
    <div class="landing">
        <div class="maintainance">
            <h2>Attendance </h2>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <a href="#/attendance/myattendance">
                    <div class="col-md-3 col-sm-3 col-xs-4 col-centered">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-calendar fa-3x text-center box-icon">
                                   
                             </i>
                            </div>
                            <div class="grid-text">
                                <h3>My Attendance</h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/attendance/myteamattendance">
                    <div class="col-md-3 col-sm-3 col-xs-4 col-centered">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-flag fa-3x text-center box-icon">
                                     
                           </i>
                            </div>
                            <div class="grid-text">
                                <h3>My Team Attendance</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
<style>
.row-centered {
    margin-top: 150px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-centered {
        margin-top: 90px;
        text-align: center;
    }
    .gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }
    .grid-box {
        border: 0px solid #ccc;
        border-radius: 0px;
        padding: 10px 0px;
        box-shadow: 0px 0px 0px #9DBCBC;
        background: #fff;
        margin-bottom: 15px;
    }
    .grid-text h3 {
        font-size: 9px;
    }
}
</style>
<!-- <ui-view id="attendance">
<div class="landing">
    <div class="panel panel-default panel-top">
        <div class="panel-heading">
            <span>Attendance</span>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <a href="#/attendance/myattendance">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-centered">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <i class="white fa fa-calendar fa-3x center-block"></i>
                                <br/>
                                <p class="text-center"><strong> My Attendance </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/attendance/myteamattendance">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-centered">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <i class="white fa  fa-flag fa-3x text-center"></i>
                                <p class="text-center"><strong> My Team Attendance</strong></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div></div>
</ui-view> -->
