<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Inventory</h2>
            </div>
            <div class="panel-body">
                <form name="addInventoryForm" novalidate="novalidate" ng-submit="save($event, addInventoryForm)">
                    <div class="form-group">
                        <label for="Category"> Category*</label>
                        <input name="category" type="text" id="Category" class="form-control" placeholder="Enter category" ng-model="inventory.category" capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.category.$dirty && addInventoryForm.category.$error.required">
                            Please enter Category
                        </div>
                    </div>

                           <div class="form-group">
                        <label for="ItemType"> Item Type</label>
                        <input name="itemType" type="text" id="ItemType" class="form-control" placeholder="enter itemType" ng-model="inventory.itemType" capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.itemType.$dirty && addInventoryForm.itemType.$error.required">
                            Please enter Item Type
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Quantity"> Quantity*</label>
                        <input name="quantity" type="text" id="Quantity" class="form-control" placeholder="Enter quantity" ng-model="inventory.quantity" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.quantity.$dirty && addInventoryForm.quantity.$error.required">
                            Please enter Quantity
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="leftQuantity">Left Quantity*</label>
                        <input name="leftQuantity" type="text" id="leftQuantity" class="form-control" placeholder="Enter quantity" ng-model="inventory.quantity" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.quantity.$dirty && editInventoryForm.quantity.$error.required">
                            Please enter Left Quantity
                        </div>
                    </div -->
                    <div>
                    <div class="alert alert-danger" role="alert" ng-show="addInventoryFormSubmitError">
                            {{addInventoryFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/inventory" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
