<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Inventory</h2>
            </div>
            <div class="panel-body">
                <form name="editInventoryForm" novalidate="novalidate" ng-submit="update($event, editInventoryForm)">
                    <div class="form-group">
                        <label for="Category"> Category*</label>
                        <input name="category" type="text" id="Category" class="form-control" placeholder="Enter category" ng-model="inventory.category" capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.category.$dirty && editInventoryForm.category.$error.required">
                            Please enter Category
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ItemType"> Item Type*</label>
                        <input name="itemType" type="text" id="ItemType" class="form-control" placeholder="Enter itemtype" ng-model="inventory.itemType" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.itemType.$dirty && editInventoryForm.itemType.$error.required">
                            Please enter Item Type
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Quantity"> Quantity*</label>
                        <input name="quantity" type="text" id="Quantity" class="form-control" placeholder="Enter quantity" ng-model="inventory.quantity" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.quantity.$dirty && editInventoryForm.quantity.$error.required">
                            Please enter Quantity
                        </div>
                    </div>
                    <!-- <div class="form-group">
    <label for="leftQuantity">Left Quantity*</label>
    <input name="leftQuantity" type="text" id="leftQuantity" class="form-control" placeholder="Enter quantity" ng-model="inventory.quantity" required/>
    <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.quantity.$dirty && editInventoryForm.quantity.$error.required">
        Please enter Left Quantity
    </div>
</div>
 -->
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editInventoryFormSubmitError">
                            {{editInventoryFormSubmitError}}
                        </div>
                        <center>
                            <button type="submit" ng-click="cancelInventory()" class="btn btn-default btn-small">cancel</button>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
