<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowHolidayFormMessage" style="color: green">
                            {{InventoryFormSubmitMessage}}....
                        </span>

    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Inventory</span>
            <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addinventory()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="row">
            <div id="content" class="col-xs-4" > 
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="inventoryPerPage" class="form-control" ng-change="size(inventoryPerPage)" placeholder="Entity Per Page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
                </div>
            <!-- <div class="col-xs-6 col-md-2">
                <label for="search">items per page:</label>
                <input type="number" min="1" max="pageSize" class="form-control" ng-model="inventoryPerPage">
            </div> -->
            <div class="col-xs-3 col-md-3" style="float:right;">
                <label for="search">Search:</label>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search()">
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive" style="height: 400px; overflow-y: scroll;">
                <table class="table table-striped table-bordered table-hover inventory-table-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>CATEGORY</th>
                            <th>ITEMTYPE</th>
                            <th>QUANTITY</th>
                            <th>LEFT-QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="inventory in InventoryInfo | filter:SearchText | itemsPerPage: inventoryPerPage" total-items="totalinventory" current-page="pagination.current">
                            <td>{{ inventory.category }}</td>
                            <td>{{ inventory.itemType }}</td>
                            <td>{{ inventory.quantity }}</td>
                            <td>{{ inventory.leftQuantity }}</td>
                            <td>
                               
                                    <a class="btn btn-small btn-primary" ng-click="editInventory(inventory)" ng-show="Permission.edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentInventory(inventory)" data-target="#confirmDelete" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                           
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="inventoryPageChange(newPageNumber)" auto-hide="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>

                </div>
                <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="inventoryPageChange(newPageNumber)" auto-hide="false">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentInventory = null" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
<style>
.desktop{
    height: 285px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .page-length {
        height: 380px;
        overflow-y: scroll;
    }
}
</style>
