<div class="inventory-inner landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 panel-default panel-top">
        <form name="addInventoryForm" novalidate="novalidate" class="form-horizontal" ng-submit="addinventory($event, addInventoryForm)">
            <div class="form-group">
                <label for="TeacherSmartId"> TeacherName</label>
                <div class="input-group add-on">
                    <input type="text" name="TeacherName" id="TeacherName" class="form-control" ng-model="assign.teacherName" placeholder="Search" />
                    <div class="input-group-btn">
                        <a data-toggle="modal" data-target="#myModal" ng-click="getStaffs()" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="SmartId">Employee ID*</label>
                <input name="smartId" type="text" id="SmartId" class="form-control" placeholder="Enter smartId" ng-model="assign.smartId" required/>
            </div>
            <div>
                <div class="form-group">
                    <label for="Standard"> Standard*</label>
                    <input name="standard" type="text" id="Standard" class="form-control" placeholder="Enter standard" ng-model="assign.standard" required/>
                </div>
                <div class="form-group">
                    <label for="Section">Section*</label>
                    <input name="section" type="text" id="Section" class="form-control" placeholder="Enter section" ng-model="assign.section" required/>
                </div>
                <div class="form-group">
                    <label for="Category">Category*</label>
                    <select id="Category" class="form-control" name="category" placeholder="Enter category" ng-model="inventoryAssignments.category" style="width: 100%">
                        <option ng-repeat=" Inventory in InventoryList | filter: searchKeyword">{{Inventory.category}}</option>
                    </select>
                    <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.category.$dirty && addInventoryForm.category.$error.required">
                        Please select Category
                    </div>
                </div>
                <div class="form-group">
                    <label for="ItemType">ItemType*</label>
                    <select id="ItemType" class="form-control" name="itemType" placeholder="Enter ItemType" ng-model="inventoryAssignments.itemType" style="width: 100%">
                        <option ng-repeat=" Inventory in InventoryList | filter: searchKeyword">{{Inventory.itemType}}</option>
                    </select>
                    <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.itemType.$dirty && addInventoryForm.itemType.$error.required">
                        Please select ItemType
                    </div>
                </div>
                <div class="form-group">
                    <label for="Quantity">Quantity*</label>
                    <input name="quantity" type="number" id="Quantity" class="form-control" placeholder="Enter Quantity" ng-model="inventoryAssignments.quantity" required/>
                    <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.quantity.$dirty && addInventoryForm.quantity.$error.required">
                        Please enter Quantity
                    </div>
                </div>
                 <div class="form-group">
                    <label for="leftQuantity">Left-Quantity*</label>
                    <input name="leftQuantity" type="number" id="leftQuantity" class="form-control" placeholder="Enter quantity" ng-model="inventoryAssignments.quantity" required/>
                    <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.quantity.$dirty && editInventoryForm.quantity.$error.required">
                        Please enter LeftQuantity
                    </div>
                </div>

                <center>
                    <a href="#/inventoryassignments/list" class="btn btn-small">cancel</a>
                    <button type="submit" class="btn btn-small btn-primary">save</a>
                    </button>
                </center>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 class="modal-title">Teacher Details</h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="">TeacherName</th>
                                    <th style="">EmployeeId</th>
                                    <th style="">Standard</th>
                                    <th style="">Section</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="staff in staffList |filter : { role : 'TEACHER' }">
                                    <td>{{staff.firstName}}</td>
                                    <td>{{staff.teacherId}}</td>
                                    <td>{{staff.standard}}</td>
                                    <td>{{staff.section}}</td>
                                    <td><a class="btn btn-small btn-primary" ng-click="selectTeacher(staff)" data-dismiss="modal">select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
