<div class="inventory-inner landing">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12 panel-default panel-top">
        <h1>Return inventory</h1>
        <form name="editInventoryForm" novalidate="novalidate" class="form-horizontal" ng-submit="editinventory($event,editInventoryForm)">
            <div class="form-group">
                <label for="inventoryAssignments"> TeacherName</label>
                <input type="text" name="teacherName" id="TeacherName" class="form-control" ng-model="inventoryAssignments.teacherName" required/>
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.teacherName.$dirty && editInventoryForm.teacherName.$error.required">
                    Please enter TeacherName
                </div>
            </div>
             <div class="form-group">
                <label for="SmartId">Employee ID</label>
                <input type="text" name="smartId" id="SmartId" class="form-control" ng-model="inventoryAssignments.smartId" required />
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.smartId.$dirty && editInventoryForm.smartId.$error.required">
                    Please enter SmartId
                </div>
            </div>
            <div class="form-group">
                <label for="Standard"> Standard</label>
                <input type="text" name="standard" id="Standard" class="form-control" ng-model="inventoryAssignments.standard" required />
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.standard.$dirty && editInventoryForm.standard.$error.required">
                    Please enter Standard
                </div>
            </div>
            <div class="form-group">
                <label for="Section">Section</label>
                <input type="text" name="section" id="Section" class="form-control" ng-model="inventoryAssignments.section" required />
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.section.$dirty && editInventoryForm.section.$error.required">
                    Please enter Section
                </div>
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <select ng-options="item as item.category for item in InventoryList | unique : 'category'" ng-required="true" ng-model="currentCategory" class="form-control" required></select>
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.Category.$dirty && editInventoryForm.Category.$error.required">
                    Please enter Category
                </div>
            </div>
            <div class="form-group">
                <label for="ItemType">ItemType</label>
                <select ng-options="item as item.itemType for item in InventoryList | filter: {category: currentCategory.category} | unique : 'itemType'" ng-required="true" ng-model="currentItemType" class="form-control" ng-disabled="!currentCategory.category" required></select>
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.ItemType.$dirty && editInventoryForm.ItemType.$error.required">
                    Please enter ItemType
                </div>
            </div>
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="text" name="quantity" id="Quantity" class="form-control" ng-model="inventoryAssignments.quantity" required />
                <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.quantity.$dirty && editInventoryForm.quantity.$error.required">
                    Please enter Quantity
                </div>
            </div>
           
            <div>
                <center>
                    <a href="#/inventoryassignments/list" class="btn btn-small">cancel</a>
                    <button type="submit" class="btn btn-small btn-primary">update</button>
                </center>
            </div>
        </form>
    </div>
</div>
