<div class="landing">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="min-width: 80px;">UpdSmartId</th>
                    <th style="min-width: 80px;">TeacherName</th>
                    <th style="min-width: 80px;">Standard</th>
                    <th style="min-width: 80px;">Section</th>
                    <th style="min-width: 80px;">Category</th>
                    <th style="min-width: 80px;">ItemType</th>
                    <th style="min-width: 80px;">Quantity</th>
                    <th style="min-width: 80px;">SmartId</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="InventoryAssignments in inventories">
                    <td>{{ InventoryAssignments.updSmartId }}</td>
                    <td>{{ InventoryAssignments.teacherName }}</td>
                    <td>{{ InventoryAssignments.standard }}</td>
                    <td>{{ InventoryAssignments.section }}</td>
                    <td>{{ InventoryAssignments.category }}</td>
                    <td>{{ InventoryAssignments.itemType }}</td>
                    <td>{{ InventoryAssignments.quantity }}</td>
                    <td>{{ InventoryAssignments.smartId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
