<div class="disp-info-tab landing">
    <div class="row">
        <div class="col-md-12 disp-info-tab-top">
            <div class="row">
                <div class="col-md-6 disp-info-tab-top-left">
                    <h2>Inventory Assignments</h2>
                </div>
                <div class="col-md-offset-3 col-md-3 disp-info-tab-top-left">
                    <button class="add-info" ng-click="addinventoryAssignments(InventoryAssignments)" ng-show="Permission.add">Add</button>
                </div>
            </div>{{Permissions}}
        </div>
    </div>
    <br/>{{$scope.InventoryInfo}}
    <div class="table-responsive disp-info-tab-bottom" ng-init="getInventory1();getInventory()">
        <table class="table table-striped table-bordered" style="margin-bottom:0px;">
            <thead>
                <div class="row">
                    <div class="col-md-6 disp-info-tab-top-left">
                        <h2>Inventory Assignments</h2>
                    </div>
                    <!--  <div class="col-xs-6 col-md-2" style="float:right;">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="pageSize" class="form-control" ng-model="inventoryassignPerPage">
                    </div> -->
                </div>
                <div class="panel-body">
                    <div class="table-responsive table-custom">
                        <table class="table table-striped table-bordered table-hover invent-table-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="min-width: 80px;">TeacherName</th>
                                    <th style="min-width: 80px;">Standard</th>
                                    <th style="min-width: 80px;">Section</th>
                                    <th style="min-width: 80px;">Category</th>
                                    <th style="min-width: 80px;">ItemType</th>
                                    <th style="min-width: 80px;">Quantity</th>
                                    <th style="min-width: 80px;">SmartId</th>
                                    <th style="width:210px;">&nbsp;</th>
                                    <th style="width:20px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="InventoryAssignments in InventoryInfoAssign| filter:SearchText | itemsPerPage: inventoryassignPerPage" total-items="totalinventory" current-page="pagination.current">
                                    <td>{{ InventoryAssignments.teacherName }}</td>
                                    <td>{{ InventoryAssignments.standard }}</td>
                                    <td>{{ InventoryAssignments.section }}</td>
                                    <td>{{ InventoryAssignments.category }}</td>
                                    <td>{{ InventoryAssignments.itemType }}</td>
                                    <td>{{ InventoryAssignments.quantity }}</td>
                                    <td>{{ InventoryAssignments.smartId }}</td>
                                    <td><a class="btn btn-small btn-primary" ng-click="editInventoryAssignments(InventoryAssignments)" ng-show="Permission.edit">Return</a></td>
                                    <td><a class="btn btn-small btn-primary" data-toggle="modal" ng-show="Permission.del" ng-click="setCurrentInventory(InventoryAssignments)" data-target="#confirmDelete">delete</a></td>
                                    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-vertical-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Delete Parmanently</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this record</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" ng-click="currentInventory = null" data-dismiss="modal">Cancel</button>
                                                    <a type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</a>
                                                </div>
                                            </div>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <div>
                            <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="inventoryassignPageChangestudent(newPageNumber)" auto-hide="false">
                            </dir-pagination-controls>
                        </div>
                        </div>
                        <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                            <div class="modal-dialog modal-vertical-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Delete Parmanently</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this record</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="currentInventory = null" data-dismiss="modal">Cancel</button>
                                        <a type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </thead>
        </table>
        </div>
        </div>
        </ui-view>
