<ui-view>
    <div ui-view id="inventory" class="ng-scope landing" data-ng-animate="1">
        <div class="maintainance">
            <h2 style="margin-top:14px">
            <span>Inventory Assignment</span>
        </h2>
            <div class="  col-xs-9 col-sm-9 col-md-9 Inventory">
                <div class="col-md-offset-2 col-md-4 col-xs-4 col-sm-6">
                    <a href="#/inventoryassignments/list">
                        <div class="col-md-4 col-sm-3 col-xs-3 ">
                            <div class=" grid-box text-center">
                                <div class="grid-icon">
                                    <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"> </i>
                                </div>
                                <div class="grid-text">
                                    <h3>Inventory Assignment</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-xs-offset-2 col-xs-4 col-sm-6 col-md-4">
                    <div class="row ">
                        <a href="#/maintenance/inventory">
                            <div class="col-md-4 col-sm-3 col-xs-3 ">
                                <div class=" grid-box text-center">
                                    <div class="grid-icon">
                                        <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"> </i>
                                    </div>
                                    <div class="grid-text">
                                        <h3>Inventory</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class=" col-xs-offset-2 col-xs-4 col-sm-6 col-md-4">
                        <div class="row ">
                            <a href="#/maintenance/inventory">
                                <div class="col-md-4 col-sm-3 col-xs-3 ">
                                    <div class=" grid-box text-center">
                                        <div class="grid-icon">
                                            <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"> </i>
                                        </div>
                                        <div class="grid-text">
                                            <h3>Inventory</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-offset-2 col-xs-4 col-sm-6 col-md-4">
                    <div class="row ">
                        <a href="#/maintenance/inventory">
                            <div class="col-md-4 col-sm-3 col-xs-3 ">
                                <div class=" grid-box text-center">
                                    <div class="grid-icon">
                                        <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"> </i>
                                    </div>
                                    <div class="grid-text">
                                        <h3>Inventory</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
<style>
    <<<<<<< HEAD .Inventory {
    =======.Inventory {
        >>>>>>> 9eeb0668f4cc3617f60ed89bc88f08c2915ed438 margin: 164px 22px 19px 141px;
        .Inventory {
            margin: 164px 22px 19px 141px;
        }
        .panel-body
        /*.btn-primary */
        {}
    }
    .panel-body
    /*.btn-primary */
    <<<<<<< HEAD {}
    =======.Inventory {
        margin: 164px 22px 19px 141px;
    }
    .panel-body
    /*.btn-primary */
    {}
}

>>>>>>> 9eeb0668f4cc3617f60ed89bc88f08c2915ed438 @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    /*.row-centered {
        margin-top: 90px;
        text-align: center;
    }*/
    /*.gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }*/
    <<<<<<< HEAD=======>>>>>>> 9eeb0668f4cc3617f60ed89bc88f08c2915ed438 .Inventory {
        /*border: 1px solid black;*/
        margin: 157px 22px 19px 41px;
    }
</style>
