<ui-view>
    <div class=" panel panel-default disp-info-tab">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 disp-info-tab-top">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 disp-info-tab-top-left">
                        <h2>Student Inventory List</h2>
                    </div>
                    <div class="col-md-offset-3 col-md-3 disp-info-tab-top-left">
                        <button class="add-info, btn btn-small btn-primary pull-right" ng-click="addinventoryAssignmentsStudent(InventoryAssignments)" ng-show="Permission.add"> <i class="glyphicon glyphicon-plus"> </i>Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive disp-info-tab-bottom" ng-init="getInventory1();getInventory()">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <label for="search">items per page:</label>
                    <input type="number" min="1" max="pageSize" class="form-control" ng-model="inventoryassignPerPage" ng-change="size1(inventoryAssignmentsStduent)">
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2" style="float:right;">
                    <label for="search">Search:</label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input ng-model="SearchText" id="search" class="form-control" placeholder="search">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-bordered table-hover inventory-table-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="min-width: 80px;"><strong>StudentName</strong></th>
                                <th style="min-width: 80px;"><strong>Standard</strong></th>
                                <th style="min-width: 80px;"><strong>Section</strong></th>
                                <th style="min-width: 80px;"><strong>Category</strong></th>
                                <th style="min-width: 80px;"><strong>ItemType</strong></th>
                                <th style="min-width: 80px;"><strong>Quantity</strong></th>
                                <th style="min-width: 80px;"><strong>SmartId</strong></th>
                                <th ng-hide="student" style="min-width: 80px;"><strong>Actions</strong></th>
                                <!-- <th ng-if="(User | lowercase =='student')" style="min-width: 80px;"><strong>Actions</strong></th> -->
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="InventoryAssignmentsStduent in InventoryInfoStudent| filter:SearchText | itemsPerPage: inventoryassignPerPage" total-items="totalinventoryStudent" current-page="pagination.current">
                                <td>{{ InventoryAssignmentsStduent.studentName }}</td>
                                <td>{{ InventoryAssignmentsStduent.standard }}</td>
                                <td>{{ InventoryAssignmentsStduent.section }}</td>
                                <td>{{ InventoryAssignmentsStduent.category }}</td>
                                <td>{{ InventoryAssignmentsStduent.itemType }}</td>
                                <td>{{ InventoryAssignmentsStduent.quantity }}</td>
                                <td>{{ InventoryAssignmentsStduent.smartId }}</td>
                                <td ng-hide="student"><a class="btn btn-small btn-primary" ng-click="editinventoryAssignmentStudent(InventoryAssignmentsStduent)" ng-show="Permission.edit"><i class="glyphicon glyphicon-edit"></i>Return</a>
                                <a class="btn btn-small btn-danger" data-toggle="modal" ng-show="Permission.del" ng-click="setCurrentInventoryStudent(InventoryAssignmentsStduent)" data-target="#confirmDelete"> <i class="glyphicon glyphicon-remove"></i>delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="inventoryassignPageChange(newPageNumber)" auto-hide="false">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentInventoryStudent = null" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" ng-click="deleteAssignStudent()" data-dismiss="modal">Delete</a>
                </div>
            </div>
        </div>
    </div>
</ui-view>
