<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Holiday</h2>
            </div>
            <div class="panel-body">
                <form name="editHolidayForm" novalidate="novalidate" ng-submit="update($event, editHolidayForm)">
                     <div class="form-group">
                        <label for="Date"> Date*</label>
                       <input name="Date" uib-datepicker-popup="{{dateformat}}" id="Date" date-disabled="disabled(date, mode)" is-open="popup.showdp" class="form-control" ng-model="holiday.holidayDate" show-button-bar="false" required/>
                        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                         <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div class="alert alert-danger" role="alert" ng-if="editHolidayForm.Date.$dirty && editHolidayForm.Date.$error.required">
                            Please enter date
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description*</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="holiday.description" placeholder="Enter the description" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHolidayForm.description.$dirty && editHolidayForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editHolidayFormSubmitError">
                            {{editHolidayFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/holiday" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
