<ui-view>
    <div class="container landing">
        <span class="h3" ng-show="ShowHolidayFormMessage" style="color: green">
                            {{HolidayFormSubmitMessage}}....
                        </span>
        <br>
        <span class="h3" ng-show="ShowWeekdaysFormMessage" style="color: blue"> 
                            {{addWeekdaysFormSubmitError}}....
                        </span>
        <br>
        <div class="col-md-12 panel panel-default">
            <div class="col-md-6">
                <div class="row">
                    <p style="color: black;font-size: 18px;">WEEKDAYS</p>
                    <div class="form-group">
                        <select type="text" ng-model="test.weekDay" class="form-control" style="width: 40%">
                            <option ng-repeat="x in days" value="{{x.day}}">{{x.day}}</option>
                        </select>
                    </div>
                    <p style="color: black;font-size: 16px;">Selected Weekday for Holiday: {{test.weekDay}}</p>
                    <input type="submit" class="btn btn-small btn-primary"  ng-click="testweekdays()" ng-show="Permission.add" value="Submit" />
                    <hr size="10">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" id="weekdayTops">
                    <div class="panel-body">
                        <div class="table-responsive" style="background: #dff0d8; overflow-y: scroll;">
                            <table class="table table-striped table-bordered table-hover " cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>WEEKDAYS</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="weekdays in weekdayInfo">
                                        <td>{{weekdays.weekDay}}</td>
                                        <td>
                                            <div class="pull-right">
                                                <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentWeekday(weekdays)" data-target="#deleteWeekdayConfirmationModal" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteWeekdayConfirmationModal" role="dialog" aria-labelledby="deleteConfirmationModal" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentWeekday = null" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-danger" ng-click="weekdaysDelete()" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <span style="font-size: 20px;">Holiday</span>
        <button class="btn btn-small btn-primary pull-right" ng-click="addHoliday()" ng-show="Permission.add">
            <i class="glyphicon glyphicon-plus"></i> Add
        </button>
        <div class="clear-both"></div>
        <div class="row">
            <div id="content" class="col-xs-4">
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="holidaysPerPage" class="form-control" ng-change="size(holidaysPerPage)" placeholder="Entity Per Page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3" style="float:right;">
                <label for="search"> </label>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search()">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="height: 400px; overflow-y: scroll;">
                <table class="table table-striped table-bordered table-hover holiday-table-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="holiday in HolidayInfo | filter:SearchText | itemsPerPage: holidaysPerPage" total-items="totalholidaylist" current-page="pagination.current">
                            <td>{{holiday.displayDate}}</td>
                            <td>{{holiday.description}}</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-show="Permission.edit" ng-click="editHoliday(holiday)"><i class="glyphicon glyphicon-edit" ></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentHoliday(holiday)" data-target="#deleteConfirmationModal" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="holidayPageChange(newPageNumber)" auto-hide="false">
                </dir-pagination-controls>
            </div>
        </div>
        <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentHoliday = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
