    <div class="col-md-12">
    <h1>team member assesments</h1>
            <div ng-repeat="Performancevalue in teammemberscommentinfo">{{Performancevalue.comments}}</div>
        </div>
    </div>
    <div class="teacher-comments">
    <h1>Appraisal manager</h1>
       
   
     
        <div class="col-md-12">
      
            <div ng-repeat="Performancevalues in managercommentinfo">{{Performancevalues.comments}}{{Performancevalues.ratings}}</div>
        </div>
     
    </div>
    <form name="commentform" ng-submit="addManagerComment(performanceRecord)" id="sun">
         <div>
        <textarea class="form-control" placeholder="Please enter your comments" ng-model="performanceRecord.comments" id="info"></textarea>
         </div>
           <div class="form-group">
                 <label for="Rating">ratings</label>
                                    <select name="ratings" ng-model="performanceRecord.ratings" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        
                                    </select>
            </div>


        <div class="col-md-offset-8 col-md-4 text-right">
         
            <button type="submit" class="cancel-button" id="info">save</button>
        </div>
    </form>
</div>

   

    </div>
    <script>
$("#info").click(function() {
    $("#sun").trigger("reset");
});
</script>