<ui-view id="leave">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>PerformaceAppraisal</span>
        </div>
        <div class="panel-body">
            <div class="row home">
                <a href="#/performance/decider" >
                    <div class="col-md-offset-3 col-sm-3 col-xs-12" >
                        <div class="panel panel-default text-center">
                            <div class="panel-body" >
                                <i class="white fa fa fa-thumbs-up fa-3x center-block"></i>
                                <br/>
                                <p class="text-center"><strong> PerformaceAppraisal </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
               
            </div>
        </div>
    </div>
</ui-view>