<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>EDIT THE TEAM GOALS</h2>
            </div>
            <div class="panel-body">
                <form name="editsetgoalForm" novalidate="novalidate" ng-submit="update($event, editsetgoalForm)">
                    <div class="form-group">
                        <label for="Charity"> Charity*</label>
                        <textarea name="charity" type="text" id="charity" class="form-control" placeholder="Enter charity" ng-model="appraisal.charity" required ></textarea> 
                        <div class="alert alert-danger" role="alert" ng-if="editsetgoalForm.charity.$dirty && editsetgoalForm.charity.$error.required">
                            Please enter Charity
                        </div>
                    </div>

                           <div class="form-group">
                        <label for="Sports"> Sports*</label>
                        <textarea name="sports" type="text" id="sports" class="form-control" placeholder="Enter sports" ng-model="appraisal.sports" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="editsetgoalForm.sports.$dirty && editsetgoalForm.sports.$error.required">
                            Please enter sports
                        </div>
                  <div class="form-group">
                        <label for="SchoolPerformance"> SchoolPerformance*</label>
                        <textarea name="schoolPerformance" type="text" id="schoolPerformance" class="form-control" placeholder="Enter schoolPerformance" ng-model="appraisal.schoolPerformance" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="editsetgoalForm.schoolPerformance.$dirty && editsetgoalForm.schoolPerformance.$error.required">
                            Please enter schoolPerformance
                        </div>
                  </div>

              


                        <center>
                            <a href="#setgoal" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


