<ui-view>
    <div class="landing">
        <div class="col-md-12">
            <div class="form-group">
                <label for="AcademicYear"> AcademicYear </label>
                <select name="academicYear" ng-change="getMyPerformance(year)" ng-options="year as year for year in yearList" ng-model="year" class="form-control"></select>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>Performance</h2>
                        <div class="notice-body">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="scroll-box">
                                    <ul><u>Charity</u></ul>
                                    <div ng-repeat="appraisalData in appraisalListinfo | filter : charity">
                                        {{appraisalData.charity}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12col-sm-6 col-md-6">
                                <div class="scroll-box">
                                    <ul><u>SchoolPerformance</u></ul>
                                    <div ng-repeat="appraisalData in appraisalListinfo | filter : schoolPerformance">
                                        {{appraisalData.schoolPerformance}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="scroll-box">
                                    <ul><u>Sports</u></ul>
                                    <div ng-repeat="appraisalData in appraisalListinfo | filter : sports">
                                        {{appraisalData.sports}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="scroll-box">
                                    <ul><u>Acadamic-Year</u></ul>
                                    <div ng-repeat="appraisalData in appraisalListinfo | filter : year">
                                        {{appraisalData.year}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teacher-comments">
                <div class="col-md-12">
                    <h1>self assesment</h1>
                    <div ng-repeat="Performancevalue in performancerecordOwnListinfo">{{Performancevalue.comments}}</div>
                </div>
            </div>
            <form name="commentform" ng-submit="addComment(comments)" id="sun">
                <textarea class="form-control" placeholder="Please enter your comments" ng-model="comments"></textarea>
                <div class="col-md-offset-8 col-md-4 text-right">
                    <button class="cancel-button">Cancel</button>
                    <button type="submit" class="cancel-button" id="info">save</button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <h1>Appraisal manager</h1>
            <div class="col-md-12">
                <div ng-repeat="Performancevalues in performancerecordManagerListinfo">{{Performancevalues.comments}}{{Performancevalues.ratings}}</div>
            </div>
        </div>
    </div>
</ui-view>
<script>
$("#info").click(function() {
    $("#sun").trigger("reset");
});
</script>
