<style>
.padding {
    padding-bottom: 10px;
}

.button-align {
    float: right;
}

ul {
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .padding {
        padding-bottom: 10px;
        font-size: 10px;
    }
    .button-align {
        float: right;
    }
    ul {
        text-align: center;
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .padding {
        padding-bottom: 10px;
    }
    .button-align {
        float: right;
    }
    ul {
        text-align: center;
    }
    .notice-body {
        height: auto;
    }
}
</style>
<ui-view>
    <div class="landing">
        <button type="button" ng-click="setgoal()">Set Goal</button>
        <!-- <button type="button" ng-click="editgoal(appraisalData)">Edit Goal</button> -->
        <header>
            <div class="col-md-12">
                <div class="row top-menu">
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </header>
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2>goals of myteamPerformance</h2>
                    <div style="height:auto;" class="notice-body">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="scroll-box">
                                <ul><u>Charity</u></ul>
                                <div class="padding" ng-repeat="appraisalData in teamappraisalListinfo | filter : charity">
                                    {{appraisalData.charity}}
                                    <button class="button-align" type="button" ng-click="editgoal(appraisalData)">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="scroll-box">
                                <ul><u>SchoolPerformance</u> </ul>
                                <div class="padding" ng-repeat="appraisalData in teamappraisalListinfo | filter : schoolPerformance">
                                    {{appraisalData.schoolPerformance}}
                                    <button class="button-align" type="button" ng-click="editgoal(appraisalData)">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="scroll-box">
                                <ul><u>Sports</u></ul>
                                <div class="padding" ng-repeat="appraisalData in teamappraisalListinfo | filter : sports">
                                    {{appraisalData.sports}}
                                    <button class="button-align" type="button" ng-click="editgoal(appraisalData)">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="scroll-box">
                                <ul><u>Acadamic-Year</u></ul>
                                <div class="padding" ng-repeat="appraisalData in teamappraisalListinfo | filter : year">
                                    {{appraisalData.year}}
                                    <button class="button-align" type="button" ng-click="editgoal(appraisalData)">Edit</button>
                                    >>>>>>> cbc2f1175d11394e2cfd66b148ae9c5e12730401
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat=" childlist in teamperformancerecordListinfo" ng-click="getteammemberperformance(childlist.smartId,childlist.reportingManagerId)">
                <div class="grid-box">
                    <div class="grid-icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="grid-text">
                        <span>{{childlist.smartId}}</span></br>
                        <span>{{childlist.designation}}</span></br>
                        <span>{{childlist.firstName}}</span></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
