<ui-view id="performance">
    <div class="landing">
        <h1>this is performance appraisal page</h1>
        <button type="button" ng-click="myPerformance()">My Performance</button>
        <button type="button" ng-click="myTeamPerformance()">my team performance</button>
        <div class="panel-body" ng-click="myPerformance()">
            <div class="row home">
                <!-- <a href="#/performance/decider" > -->
                <div class="col-md-offset-3 col-sm-3 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <i class="white fa fa fa-thumbs-up fa-3x center-block"></i>
                            <br/>
                            <p class="text-center"><strong> MyPerformace </strong></p>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
        </div>
        <div class="panel-body" ng-click="myTeamPerformance()">
            <div class="row home">
                <!-- <a href="#/performance/decider" > -->
                <div class="col-md-offset-3 col-sm-3 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <i class="white fa fa fa-thumbs-up fa-3x center-block"></i>
                            <br/>
                            <p class="text-center"><strong> MyTeamPerformace </strong></p>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</ui-view>
