

   <div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>SET THE TEAM GOALS</h2>
            </div>
            <div class="panel-body">
                <form name="addsetgoalForm" novalidate="novalidate" ng-submit="save($event, addsetgoalForm)">
                    <div class="form-group">
                        <label for="Charity"> Charity*</label>
                        <textarea name="charity" type="text" id="charity" class="form-control" placeholder="Enter charity" ng-model="appraisal.charity" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="addsetgoalForm.charity.$dirty && addsetgoalForm.charity.$error.required">
                            Please enter Charity
                        </div>
                    </div>

                           <div class="form-group">
                        <label for="Sports"> Sports*</label>
                          <textarea name="sports" type="text" id="sports" class="form-control" placeholder="Enter sports" ng-model="appraisal.sports" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="addsetgoalForm.sports.$dirty && addsetgoalForm.sports.$error.required">
                            Please enter sports
                        </div>
                  <div class="form-group">
                        <label for="SchoolPerformance"> SchoolPerformance*</label>
                         <textarea name="schoolPerformance" type="text" id="schoolPerformance" class="form-control" placeholder="Enter schoolPerformance" ng-model="appraisal.schoolPerformance" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="addsetgoalForm.schoolPerformance.$dirty && addsetgoalForm.schoolPerformance.$error.required">
                            Please enter schoolPerformance
                        </div>
                  </div>
                   <div class="col-md-12">
                                <div class="form-group">
                                    <label for="AcademicYear"> AcademicYear </label>
                                    <select name="academicYear" ng-options="year as year for year in year5 " ng-model="appraisal.year" class="form-control" required ></select>
                                </div>
                              
                          
 



               <!--     <div class="form-group">
                        <label for="Acadamicyear"> Acadamicyear*</label>
                        <textarea name="acadamicyear" type="text" id="acadamicyear" class="form-control" ng-options="year as year for year in year1 " placeholder="Enter acadamicyear" ng-model="$parent.currentyear" required ></textarea>
                        <div class="alert alert-danger" role="alert" ng-if="addsetgoalForm.acadamicyear.$dirty && addsetgoalForm.acadamicyear.$error.required">
                            Please enter acadamicyear
                        </div>
                  </div> -->
<!-- 
                  <div class="form-group">
                      <label for="Acadamicyear"> Acadamicyear*</label>

                      <select name="Acadamicyear" ng-options="item as item.year for year in year1 " ng-required="true" ng-model="$parent.currentyear" class="form-control" required></select>
                    </div> -->
                    <!--  <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="AcademicYear"> AcademicYear* </label>
                                    <select name="academicYear" ng-change="getCurrentAcademicData(year)" ng-options="item for item in yearList" ng-model="year" class="form-control" required></select>
                                </div>
                                 <div class="alert alert-danger" role="alert" ng-if="addsetgoalForm.Acadamicyear.$dirty && addsetgoalForm.Acadamicyear.$error.required">
                            Please enter Acadamicyear
                        </div>
                            </div>  -->


                        <center>
                            <a href="#setgoal" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


