/* Component LESS */
@import "partial/employee/employee.less";
@import "partial/student/student.less";
/* Add Component LESS Above */



/*.inner-registration{border-radius:6px!important;}


.inner-registration:hover   {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.inner-registration .fa{margin-left: 44%;}
.inner-registration  p{margin-top:2%; color:white;}
.tiles h3{color:#2F4F4F;}
/*New
.white{color:white;
	font-family: Arial;
	font-size: 15px;}
.red{color:red;}

.inner-registration {padding:15px 0px;}
*/

#registration {
	.home {
		.panel { 
			color: #286090;
		}

		.panel:hover   {
    		background: #286090;
    		color: #ffffff;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

