<ui-view id="leave">
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span>Leave</span>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <div class="loader-background">
                    <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
                </div>
                <a href="#/leaves">
                    <div class="col-md-offset-3 col-sm-3 col-xs-12 col-centered">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <i class="white fa fa fa-thumbs-up fa-3x center-block box-icon"></i>
                                <br/>
                                <p class="text-center"><strong> Leave </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/myteamleave">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-centered">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <i class="white fa  fa-flag fa-3x text-center box-icon"></i>
                                <p class="text-center"><strong> My Team Leave</strong></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
<style>
.row-centered {
    margin-top: 150px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-centered {
        margin-top: 90px;
        text-align: center;
    }
    .gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }
}
</style>
