<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Banner</h2>
            </div>


            <div class="panel-body">
                <form name="addBannerForm" novalidate="novalidate" ng-submit="save($event, addBannerForm)">
                    <div class="form-group">
                        <label for="image">Image*</label>
                        <input name="image" type="file" id="image" class="form-control" ng-model="banner.image" data-max-size="2048" base-sixty-four-input>
                        <div class="alert alert-danger" role="alert" ng-if="addBannerForm.image.$dirty && addBannerForm.image.$error.required">
                            Please upload Image
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addBannerFormSubmitError">
                            {{addBannerFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/banner" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
