<ui-view>
    <div class="landing">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 20px;">Banner</span>
                <button class="btn btn-small btn-primary pull-right" ng-click="addBanner()">
                    <i class="glyphicon glyphicon-plus"></i> Add
                </button>
                <div class="clear-both"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Image</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="banner in bannerInfo">
                                <td style="text-align: center;"><img data-ng-src="data:image/png;base64,{{banner.image}}" width="200px" height="100px"></td>
                                <td>
                                    <div class="pull-right delBtn">
                                        <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentBanner(banner)" data-target="#confirmDeleteBanner"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="showModel" id="confirmDeleteBanner" class="modal" role="dialog" aria-labelledby="confirmDeleteBanner" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentBanner = null" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ui-view>
<style>
.delBtn {
    padding-top: 35px;
}
</style>
