<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Banner</h2>
            </div>
            <div class="panel-body">
                <form name="editBannerForm" novalidate="novalidate" ng-submit="update($event, editBannerForm)">
                    <div class="form-group">
                        <label for="title">Image Title*</label>
                        <input name="title" type="text" id="title" class="form-control" ng-model="banner.title" required />
                        <div class="alert alert-danger" role="alert" ng-if="editBannerForm.title.$dirty && editBannerForm.title.$error.required">
                            Please enter Image Title
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Image*</label>
                        <input name="image" type="file" id="image" class="form-control" ng-model="banner.image" base-sixty-four-input >
                        <div class="alert alert-danger" role="alert" ng-if="editBannerForm.image.$dirty && editBannerForm.image.$error.required">
                            Please update Image
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addBannerFormSubmitError">
                            {{editBannerFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/banner" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
