<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Leave</h2>
            </div>
            <div class="panel-body">
                <form name="addLeaveForm" novalidate="novalidate" ng-submit="save($event, addLeaveForm)">
                    <!--  <div class="form-group">
                        <label for="SmartId"> SmartId*</label>
                        <input name="smartId" type="text" id="SmartId" class="form-control" ng-model="leave.smartId" required />
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.smartId.$dirty && addLeaveForm.smartId.$error.required">
                            Please enter smartId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Reporting Manager Id">Reporting Manager Id*</label>
                        <input name="reportingManagerId" type="text" id="Reporting Manager Id" class="form-control" ng-model="leave.reportingManagerId" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.reportingManagerId.$dirty && addLeaveForm.reportingManagerId.$error.required">
                            Please enter reporting ManagerId
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" ng-show="leftLeaves">
                            Left Leaves are {{leftLeaves}}
                        </div>
                        <label for="Leave Type">Leave Type*</label>
                        <select name="standard" type="text" id="Leave Type" class="form-control" ng-model="leave.leaveType" ng-change="getLeftLeaves(leave.leaveType)" required>
                            <option ng-repeat="LeaveMaster in LeaveMasterInfo">{{ LeaveMaster.leaveType}}</option>
                        </select>
                        <!-- <option ng-repeat="x in names">{{x}}</option> -->
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.leaveType.$dirty && addLeaveForm.leaveType.$error.required">
                            Please enter leaveType
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Start Date"> Start Date*</label>
                        <input type="text" maxlength="10" onkeyup="this.value=this.value.replace(/(^0$)|[^0-9/]/g,'');" name="startDate" uib-datepicker-popup="{{dateformat}}" id="Start Date" date-disabled="disabled(date, mode)" is-open="showdp1.startdate" min-date="mindate" class="form-control" ng-model="leave.startDate" show-button-bar="false" required/>
                        <button type="button" class="btn btn-default" ng-click="showcalendar1($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.startDate.$dirty && addLeaveForm.startDate.$error.required">
                            Please enter startDate
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="End Date"> End Date*</label>
                        <input type="text" maxlength="10" onkeyup="this.value=this.value.replace(/(^0$)|[^0-9/]/g,'');" name="endDate" uib-datepicker-popup="{{dateformat}}" id="End Date" date-disabled="disabled(date, mode)" is-open="showdp2.enddate" min-date="mindate" class="form-control" ng-model="leave.endDate" show-button-bar="false" required/>
                        <button type="button" class="btn btn-default" ng-click="showcalendar2($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.endDate.$dirty && addLeaveForm.endDate.$error.required">
                            Please enter endDate
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description"> Description*</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="leave.description" onKeyUP="this.value = this.value.toUpperCase();" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.description.$dirty && addLeaveForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addLeaveFormSubmitError">
                            {{addLeaveFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/leave/view" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>
                    <div class="loader-background">
                        <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
