<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Leave</h2>
            </div>
            <div class="panel-body">
                <form name="editLeaveForm" novalidate="novalidate" ng-submit="update($event, editLeaveForm)">
                    <!-- <div class="form-group">
                        <label for="SmartId"> SmartId*</label>
                        <input name="smartId" type="text" id="SmartId" class="form-control" ng-model="leave.smartId" required />
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.smartId.$dirty && editLeaveForm.smartId.$error.required">
                            Please enter smartId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Reporting Manager Id">Reporting Manager Id*</label>
                        <input name="reportingManagerId" type="text" id="Reporting Manager Id" class="form-control" ng-model="leave.reportingManagerId" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.reportingManagerId.$dirty && editLeaveForm.reportingManagerId.$error.required">
                            Please enter reportingManagerId
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="Leave Type">Leave Type*</label>
                        <select name="standard" type="text" id="Leave Type" class="form-control" ng-model="leave.leaveType" required>
                            <option ng-repeat="LeaveMaster in LeaveMasterInfo">{{ LeaveMaster.leaveType}}</option>
                        </select>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.leaveType.$dirty && editLeaveForm.leaveType.$error.required">
                            Please enter leaveType
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Start Date"> Start Date*</label>
                        <input name="startDate" uib-datepicker-popup="{{dateformat}}" id="Start Date" date-disabled="disabled(date, mode)" is-open="showdp1" min-date="mindate" class="form-control" ng-model="leave.startDate" required/>
                        <button type="button" class="btn btn-default" ng-click="showcalendar1($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.startDate.$dirty && editLeaveForm.startDate.$error.required">
                            Please enter startDate
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="End Date"> End Date*</label>
                        <input name="endDate" uib-datepicker-popup="{{dateformat}}" id="End Date" date-disabled="disabled(date, mode)" is-open="showdp2" min-date="mindate" class="form-control" ng-model="leave.endDate" required/>
                        <button type="button" class="btn btn-default" ng-click="showcalendar2($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.endDate.$dirty && editLeaveForm.endDate.$error.required">
                            Please enter endDate
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="No of Days"> No of Days*</label>
                        <input name="numberOfDays" type="number" id="No of Days" class="form-control" ng-model="leave.numberOfDays" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.numberOfDays.$dirty && editLeaveForm.numberOfDays.$error.required">
                            Please enter numberOfDays
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description"> Description*</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="leave.description" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.description.$dirty && editLeaveForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editLeaveFormSubmitError">
                            {{editLeaveFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/view" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                    <div class="loader-background">
                        <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
