<ui-view id="leave">
    <div class="panel panel-default landing" style="height:500px">
        <div class="panel-heading">
            <span>Leave</span>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <a href="#/leave/view" ng-hide="(user | lowercase)=='admin' || (user | lowercase)=='director'">
                    <div class="col-sm-3 col-xs-12 col-centered">
                        <div class="panel text-center panel-default">
                            <div class="panel-body ">
                                <i class="white fa fa fa-thumbs-up fa-3x center-block"></i>
                                <br/>
                                <p class="text-center"><strong> Apply leave </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/leave/myteamleave" ng-hide="(user | lowercase)=='student'">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-centered">
                        <div class="panel text-center panel-default">
                            <div class="panel-body text-center">
                                <i class="white fa  fa-flag fa-3x text-center"></i>
                                <p class="text-center"><strong> My Team Leave</strong></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
<style>
.row-centered {
    margin-top: 100px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-centered {
        margin-top: 50px;
        text-align: center;
    }
    .gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }
}
</style>
