<ui-view>
    <div class="landing">
        <div class="disp-info-tab">
            <div class="row">
                <div class="col-md-12 disp-info-tab-top">
                    <div class="row">
                        <div class="col-md-3 disp-info-tab-top-left">
                            <h2>Leave</h2>
                        </div>
                        <div class="col-md-offset-6 col-md-3 disp-info-tab-top-left">
                            <button class="add-info" ng-show="Permission.add" ng-click="addLeave()">Add Leave</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="content" class="col-xs-4">
                    <label for="Items Per Page">Entity Per Page</label>
                    <select style="width:70px;" ng-model="myLeavePerPage" class="form-control" ng-change="size(myLeavePerPage)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="col-xs-3 col-md-2" style="float:right;">
                    <label for="search">Search:</label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="searchs()">
                    </div>
                </div>
            </div>
            <br>
            <div class="disp-info-tab-bottom">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th> Leave Type </th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th> No of Days </th>
                                <th> Description </th>
                                <th> Leave Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="leave in LeaveInfo | filter:SearchText | itemsPerPage: myLeavePerPage" total-items="totalLeave" current-page="pagination.current">
                                <td>{{leave.leaveType}}</td>
                                <td>{{leave.displaystartDate}}</td>
                                <td>{{leave.displayendDate}}</td>
                                <td>{{leave.numberOfDays}}</td>
                                <td>{{leave.description}}</td>
                                <td>{{leave.leaveStatus}}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-danger" data-toggle="modal" ng-show="leave.leaveStatus=='Pending'" ng-click="setCurrentLeave(leave)" data-target="#deleteConfirmationModal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="myLeavePageChange(newPageNumber)" auto-hide="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="loader-background">
        <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
    </div>
    <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentLeave = null" data-dismiss="modal">Cancel</button>
                    <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Don't want Leave</a>
                </div>
            </div>
        </div>
    </div>
</ui-view>
