/* Component LESS */
@import "partial/orgStructure.less";
@import "partial/employeeDetails/employeeDetails.less";
/* Add Component LESS Above */

.people-img {
	width: 32px;
    height: 20px;
    float: right;
}

.card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}