<ui-view id="registration">
    <div class="landing">
        <div class="maintainance">
            <h2>Fee </h2>
        </div>
        <div class="panel-body">
            <div class="row home row-centered">
                <!-- <a href="" ng-click="addFee()">
                <div class="col-md-offset-3 col-sm-3 col-xs-12">
                    <div class="grid-box text-center">
                        <div class="grid-icon">
                            <i class="white fa fa  fa-flag  fa-3x center-block" style="position: relative;
                            top: 22px;
                            margin: auto;">
                            </i>
                        </div>
                        <div class="grid-text">
                            <h3>Fee Assignments </h3>
                        </div>
                    </div>
                </div>
            </a> -->
                <a href="#/fee/org">
                    <div class="col-md-3 col-sm-3 col-xs-4 col-centered">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-flag fa-3x text-center box-icon">
                                   
                             </i>
                            </div>
                            <div class="grid-text">
                                <h3> Fee Structure </h3>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/fee/FeeStatus" ng-hide="(user | lowercase)!='finance'">
                    <div class="col-md-3 col-sm-3 col-xs-4 col-centered">
                        <div class="grid-box text-center">
                            <div class="grid-icon">
                                <i class="white fa  fa-flag fa-3x text-center box-icon">
                                     
                           </i>
                            </div>
                            <div class="grid-text">
                                <h3> Fee Status </h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
<style>
.row-centered {
    margin-top: 150px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-centered {
        margin-top: 90px;
        text-align: center;
    }
    .gsmart-dashboard {
        width: 100%;
        min-height: 500px;
    }
    .grid-box {
        border: 0px solid #ccc;
        border-radius: 0px;
        padding: 10px 0px;
        box-shadow: 0px 0px 0px #9DBCBC;
        background: #fff;
        margin-bottom: 15px;
    }
}
</style>
