<div class="row landing">
    <div class="col-sm-12 ">
        <form name="addFeeForm" ng-submit="update($event, addFeeForm)" novalidate>
            <div class="panel panel-default panel-top">
                <div class="panel-heading">
                    <span> Students Fee Details </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="Name"> Name</label>
                                <input type="text" name="Name" class="form-control" ng-model="fee.name" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.Name.$touched) && addFeeForm.Name.$error.required">
                                    Please enter Name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="SmartId">SmartId</label>
                                <input type="text" name="SmartId" class="form-control" ng-model="fee.smartId" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.SmartId.$touched) && addFeeForm.SmartId.$error.required">
                                    Please enter SmartId
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="Standard"> Standard</label>
                                <input type="text" name="Standard" id="Standard" class="form-control" ng-model="fee.standard" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.standard.$touched) && addFeeForm.standard.$error.required">
                                    Please enter standard
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="TotalFee">TotalFee</label>
                                <input type="number" name="TotalFee" id="TotalFee" class="form-control" ng-model="fee.totalFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.TotalFee.$touched) && addFeeForm.TotalFee.$error.required">
                                    Please enter TotalFee
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="BalAmount"> Balance Amount</label>
                                <input type="number" name="BalanceAmount" class="form-control" ng-model="fee.balanceFee" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.BalAmount.$touched) && addFeeForm.BalAmount.$error.required">
                                    Please enter balance Amount
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="PaidAmount"> Paid Amount</label>
                                <input type="number" name="PaidAmount" class="form-control" ng-model="fee.paidFee" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.PaidAmount.$touched) && addFeeForm.PaidAmount.$error.required">
                                    Please enter Paid Amount
                                </div>
                                <div class="alert alert-danger" ng-show="amountMsg">
                                    <p>please enter the amount greater than zero</p>
                                </div>
                                <div class="alert alert-danger" ng-show="maxAmount">
                                    <p>Enter less than balance amount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label for="ModeOfPayment">ModeOfPayment</label>
                            <select type="text" name="mop" ng-model="fee.modeOfPayment" class="form-control" required>
                                <option value="cash">cash</option>
                                <option value="cheque">cheque</option>
                                <option value="Demand Draft">Demand Draft</option>
                                <option value="card">card</option>
                            </select>
                            <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.mop.$touched) && addFeeForm.mop.$error.required">
                                Please enter Mode Of Payment
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="AcademicYear">AcademicYear</label>
                                <select type="text" name="AcademicYear" class="form-control" ng-model="fee.academicYear" required>
                                    <option value="2014-2015">2014-2015</option>
                                    <option value="2015-2016">2015-2016</option>
                                    <option value="2016-2017">2016-2017</option>
                                    <option value="2017-2018">2017-2018</option>
                                    <option value="2018-2019">2018-2019</option>
                                </select>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.AcademicYear.$touched) && addFeeForm.AcademicYear.$error.required">
                                    Please enter academic year
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <center>
                            <button ng-click="goBack()" class="btn btn-small btn-primary">cancel</button>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
