<ui-view>
    <link rel="stylesheet" href="inline-edit.css">
    <div class="col-md-12 landing">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : activeTab ==1}" class="active"><a data-toggle="tab" href="" ng-click="setActiveTab(1);paidfeePageChange(pagination.current)">Paid Students List</a></li>
            <li ng-class="{'active' : activeTab ==2}"><a data-toggle="tab" href="" ng-click="setActiveTab(2);unpaidfeePageChange(pagination.current) ">Unpaid Students List</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" ng-class="{'active' : activeTab ==1}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="Items Per Page">Entity Per Page</label>
                            <select style="width:70px;" ng-model="feePerPage" class="form-control" ng-change="size(feePerPage)" placeholder="Entity Per Page">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <!-- <div class="col-xs-4">
                                <label for="search">items per page:</label>
                                <input type="number" min="1" max="pageSize" class="form-control" ng-model="feePerPage">
                            </div> -->
                        <div style="float: right;" class="col-xs-4">
                            <label for="search"> </label>
                            <input style="width: 200px;" ng-model="SearchText" id="search" class="form-control" placeholder="search">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2" style="float:right;">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="pageSize" class="form-control" ng-model="feePerPage">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover invent-table-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="min-width: 80px;">Standard</th>
                                    <th style="min-width: 80px;">SmartId</th>
                                    <th style="min-width: 80px;">Name</th>
                                    <th style="min-width: 80px;">totalFee</th>
                                    <th style="min-width: 80px;">PaidFee</th>
                                    <th style="min-width: 80px;">BalanceFee</th>
                                    <th style="min-width: 80px;">Date</th>
                                    <th style="min-width: 80px;">ModeOfPayment</th>
                                    <th style="min-width: 80px;">FeeStatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="Fee in PaidFeeInfo| orderBy : 'standard' |filter:SearchText | itemsPerPage: feePerPage" total-items="totalpaidlist" current-page="pagination.current">
                                    <td>{{ Fee.standard}}</td>
                                    <td>{{ Fee.smartId }}</td>
                                    <td>{{ Fee.name }}</td>
                                    <td>{{ Fee.totalFee }}</td>
                                    <td>{{ Fee.totalFee }}</td>
                                    <td>{{ Fee.balanceFee }}</td>
                                    <td>{{ Fee.date }}</td>
                                    <td>{{ Fee.modeOfPayment }}</td>
                                    <td>{{ Fee.feeStatus }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="paidfeePageChange(newPageNumber)" auto-hide="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{'active' : activeTab ==2}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="Items Per Page">Entity Per Page</label>
                            <select style="width:70px;" ng-model="feePerPage" class="form-control" ng-change="size1(feePerPage)" placeholder="Entity Per Page">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <!--  <div class="col-xs-4">
                                <label for="search">items per page:</label>
                                <input type="number" min="1" max="pageSize" class="form-control" ng-model="feePerPage">
                            </div> -->
                        <div style="float: right;" class="col-xs-4">
                            <label for="search">Search:</label>
                            <input style="width: 200px" ng-model="SearchText" id="search" class="form-control" placeholder="search">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2" style="float:right;">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="pageSize" class="form-control" ng-model="feePerPage">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover invent-table-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="min-width: 80px;">Standard</th>
                                    <th style="min-width: 80px;">SmartId</th>
                                    <th style="min-width: 80px;">Name</th>
                                    <th style="min-width: 80px;">totalFee</th>
                                    <th style="min-width: 80px;">PaidFee</th>
                                    <th style="min-width: 80px;">BalanceFee</th>
                                    <th style="min-width: 80px;">Date</th>
                                    <th style="min-width: 80px;">ModeOfPayment</th>
                                    <th style="min-width: 80px;">FeeStatus</th>
                                    <th style="min-width: 80px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="Fee in UnPaidFee| orderBy : 'standard' | filter:SearchText | itemsPerPage: feePerPage" total-items="totalunpaidlist" current-page="pagination.current">
                                    <td>{{ Fee.standard}}</td>
                                    <td>{{ Fee.smartId}}</td>
                                    <td>{{ Fee.name }}</td>
                                    <td>{{ Fee.totalFee }}</td>
                                    <td>{{ Fee.paidFee }}</td>
                                    <td>{{ Fee.balanceFee }}</td>
                                    <td>{{ Fee.date }}</td>
                                    <td>{{ Fee.modeOfPayment }}</td>
                                    <td>{{ Fee.feeStatus }}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-small btn-primary" ng-click="PayFees(Fee)" ng-show="Permission.edit">PayFees</a></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="unpaidfeePageChange(newPageNumber)" auto-hide="false">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
