<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span style="font-size: 20px;">Fee Details</span>
            <div class="clear-both"></div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AcademicYear">AcademicYear</label>&nbsp &nbsp
            <select name="academicYear" ng-options="year as year for year in yearList" ng-model="fee.academicYear" ng-change="getFees(fee.academicYear)"></select>
        </div>
        <div class="panel-body">
            <div class="table-responsive" style=" overflow-y: scroll;">
                <table class="table table-striped table-bordered table-hover Fee-table-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th> smartId</th>
                            <th>Pay Date</th>
                            <th>Pay Method</th>
                            <th>BalanceFee</th>
                            <th>Paid Amount</th>
                            <th>TotalFee</th>
                            <th>FeeStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Fee in FeeStructureInfo">
                            <td>{{ Fee.smartId }}</td>
                            <td>{{ Fee.date }}</td>
                            <td>{{ Fee.modeOfPayment }}</td>
                            <td>{{ Fee.balanceFee }}</td>
                            <td>{{ Fee.paidFee }}</td>
                            <td>{{ Fee.totalFee }}</td>
                            <td>{{ Fee.feeStatus }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer ">
            <div class="table table-striped table-bordered table-hover Fee-table-border ">
                <p align="right" style="color: blue">
                    <font size="3"><b>Total fee:</b>{{totalFee}} </p>
                </br>
                <p align="right" style="color:green "><b>Paid fee:</b>{{paidFee}}</p>
                </br>
                <p align="right" style="color: red"><b>Balance fee:</b>{{balancefee}}</p>
            </div>
        </div>
    </div>
</ui-view>
