<!-- <ui-view>
    <style>
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        #mobiletable {
            margin-bottom: 15px;
            overflow-y: hidden;
            border: 1px solid #ddd;
            min-height: .01%;
            overflow-x: auto;
            color: #355;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        /*.profilepic {
            min-width: 100%;
            max-width: 100%;
            min-height: 161px;
            max-height: 161px;
            border-radius: 50%;
        }
        .user-info .avatar {
            width: 50%;
            height: 161px;
            margin-left: 92px;
        }*/
    }
    
    .feeorgpic {
        width: 60px;
        height: 60px;
        min-height: 60px;
        border-radius: 50%;
    }
    </style>
    <div class="Fee landing">
        <div class="row" style="color:#355;">
            <div class="center-block" style="width:200px;">
                <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="emp in currentEmp" style="width:200px;">
                    <B>REPORTING MANAGER :  {{emp.firstName}}</B>
                    <div class="grid-box text-center">
                        <a href="#/employeeDetails"></a>
                        <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                        <div class="grid-icon">
                            <div ng-if="emp.image != null">
                                <img ng-src="data:image/*;base64,{{emp.image}}" class="feeorgpic">
                            </div>
                            <div ng-if="emp.image == null" style="height: 60px">
                                <img src="img/default.png" class="feeorgpic">
                            </div>
                        </div>
                        <div class="grid-text">
                            <b>{{emp.firstName}}
                                    <br/> {{emp.smartId}}
                                    <br/> {{emp.role}}</b>
                        </div>
                        <div>
                            Total Amount : {{emp.totalAmount}}
                            <br/> Paid Amount : {{emp.paidAmount}}
                            <br/> Balance Amount : {{emp.balanceAmount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="color:#355;">
            <div id="mobiletable">
                <div class="col-md-3 col-sm-4 col-xs-4" ng-repeat="person in people">
                    <div class="grid-box text-center">
                        <a href="#/employeeDetails/{{person.smartId}}"></a>
                        <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                        <div class="grid-icon">
                            <div ng-if="person.image != null">
                                <img ng-src="data:image/*;base64,{{person.image}}" class="feeorgpic">
                            </div>
                            <div ng-if="person.image == null" style="height: 60px">
                                <img src="img/default.png" class="feeorgpic">
                            </div>
                        </div>
                        <div class="grid-text">
                            <b>{{person.firstName}}
                                     <br/> {{person.smartId}}
                                     <br/> {{person.role}}</b>
                        </div>
                        <div>
                            Total Amount : {{person.totalAmount}}
                            <br/>Paid Amount : {{person.paidAmount}}
                            <br/> Balance Amount : {{person.balanceAmount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
 -->
<ui-view>
    <style>
        .team-memeber1 {
        text-align: center;
        border: 1px solid #ccc;
        padding: 30px 0px 22px 0px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 14px #ccc;
    }
    
    .team-memeber1 img {
        width: 100px;
        height: 100px;
        border-radius: 67px;
        background: #fff;
        display: block;
        margin: auto;
        padding: 5px;
        border: 3px solid #ccc;
    }
    
    .team-memeber1 h5 {
        color: #73879C;
    }
    
    .people-img {
        width: 27px;
        height: 20px;
    }
    
    .gsmart-dashboard h2 {
        font-size: 24px;
        margin: 0px;
        margin: 5px 5px 10px 0px;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: 32px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        .people-img {
            width: 17px;
            height: 20px;
            float: right;
        }
        .team-member-pic img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background: #fff;
            display: block;
            margin: auto;
            padding: 5px;
            border: 3px solid #ccc;
            margin: 0 auto;
            display: inline;
        }
        .form-control {
            display: block;
            width: 138%;
            height: 32px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .team-member-pic img {
            text-align: center;
        }
    </style>
    <div class="col-md-12 team-page">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-3">
                    <h2>Team</h2>
                </div>
                <!-- <div class="col-md-offset-4 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-2 col-xs-6">
                    <input type="text" class="form-control" placeholder="Enter GSamrt Id">
                </div> -->
            </div>
        </div>
        <div>
        <div class="col-xs-4 col-md-2">
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="feePerPage" class="form-control" placeholder="Entity Per Page">
                    <div class="down">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </div>
                </select>
            </div></div>
        <div class="col-md-offset-2 col-md-4 col-xs-offset-2 col-xs-8 text-center" ng-repeat="emp in currentEmp" >
<!-- 
        <div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8 text-center" dir-paginate="emp in currentEmp | itemsPerPage: feePerPage" > -->
            <div class="row">
                <a href="#/employeeDetails/{{emp.smartId}}"></a>
                <div class="logo">
                    <img class="people-img clickable" ng-click="showOrganizationTree(emp.smartId)" ng-show="emp.childFlag" src="img/group.png">
                </div>
                <div class="team-memeber">
                    <div class="team-member-pic">
                        <div ng-if="emp.image != null">
                            <img class="img-responsive center-block" ng-src="data:image/*;base64,{{emp.image}}" class="feeorgpic">
                        </div>
                        <div ng-if="emp.image == null">
                            <img class="img-responsive" src="img/default.png" class="feeorgpic">
                        </div>
                    </div>
                    <!-- <img src="student_photo.png" /> -->
                    <h4>{{emp.firstName}}</h4>
                    <h5>{{emp.smartId}}</h5>
                    <h5>{{emp.role}}</h5>
                    <div>
                        Total ₹ : {{emp.totalAmount}}
                        <br/> Paid ₹ : {{emp.paidAmount}}
                        <br/> Due ₹ : {{emp.balanceAmount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="row team-memeber-page">
                <!-- <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="person in people"> -->
                <div class="col-xs-6 col-sm-4 col-md-2" dir-paginate="person in people | itemsPerPage: feePerPage"> 
                    <div>
                        <a href="#/employeeDetails/{{person.smartId}}"></a>
                        <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                    </div>
                    <div class="row">
                        <div class="team-memeber">
                            <!-- <span class="team-member-pic"><img src="images/student-sample.jpg" alt="" /></span> -->
                            <div class="team-member-pic">
                                <div ng-if="person.image != null">
                                    <img ng-src="data:image/*;base64,{{person.image}}" class="feeorgpic">
                                </div>
                                <div ng-if="person.image == null">
                                    <img src="img/default.png" class="feeorgpic">
                                </div>
                            </div>
                            <h4>{{person.firstName}}</h4>
                            <h5>{{person.smartId}}</h5>
                            <h5>{{person.role}}</h5>
                            <div>
                                <p>Total ₹ : {{person.totalAmount}}</p>
                                <p>Paid ₹ : {{person.paidAmount}}</p>
                                <p>Due ₹ : {{person.balanceAmount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="feePageChange(newPageNumber)" auto-hide="true">
                    </dir-pagination-controls>
                </div>
</ui-view>
