<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span style="font-size: 20px;">TotalFee</span>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">Name</th>
                            <th style="min-width: 80px;">academicYear</th>
                            <th style="min-width: 80px;">SportsFee</th>
                            <th style="min-width: 80px;">TuitionFee</th>
                            <th style="min-width: 80px;">IdCardFee</th>
                            <th style="min-width: 80px;">MiscellaneousFee</th>
                            <th style="min-width: 80px;">BalanceFee</th>
                            <th style="min-width: 80px;">TransportationFee</th>
                            <th style="min-width: 80px;">FeeStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Fee.name}}</td>
                            <td>{{ Fee.academicYear }}</td>
                            <td>{{ Fee.sportsFee }}</td>
                            <td>{{ Fee.tuitionFee}}</td>
                            <td>{{ Fee.idCardFee}}</td>
                            <td>{{ Fee.miscellaneousFee}}</td>
                            <td>{{ Fee.balanceFee}}</td>
                            <td>{{ Fee.transportationFee}}</td>
                            <td>{{ Fee.feeStatus}}</td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
