<div class="landing">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center"> Employee details </h2>
            <form name="registrationForm" ng-submit="update($event, registrationForm)" novalidate>
                <div class="alert alert-danger col-sm-4" role="alert" ng-show="registrationFormSubmitError">
                    {{registrationFormSubmitError}}
                </div>
                <div class="panel panel-default panel-top">
                    <div class="panel-heading">
                        <span> Personal Details </span>
                        <!--  <button class="btn btn-small btn-primary pull-right">submit</button> -->
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="personalDetailsForm">
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="First Name"> First Name</label>
                                        <input type="text" name="firstName" ng-model="profile.firstName" class="form-control" only-alphabets capitalize required/>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.firstName.$touched) && registrationForm.personalDetailsForm.firstName.$error.required">
                                        Please enter First name
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="Middle Name"> Middle Name</label>
                                        <input type="text" name="middleName" ng-model="profile.middleName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="Last Name"> Last Name</label>
                                        <input type="text" name="lastName" ng-model="profile.lastName" class="form-control" only-alphabets capitalize required/>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.lastName.$touched) && registrationForm.personalDetailsForm.lastName.$error.required">
                                        Please enter Last name
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="form-group">
                                        <!-- <label for="DOB"> DOB </label>
                                    <input type="date" name="DOB" ng-model="profile.dob" class="form-control" required/> -->
                                        <label for="DOB"> DOB*</label>
                                        <input name="DOB" uib-datepicker-popup="{{dateformat}}" id="DOB" date-disabled="disabled(date, mode)" is-open="popup1.showdp" class="form-control" ng-keypress="validateDate(profile.dob)" ng-model="profile.dob" show-button-bar="false" required/>
                                        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.DOB.$touched) && registrationForm.personalDetailsForm.DOB.$error.required">
                                        Please select Date of birth
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emailid "> Email ID * </label>
                                        <input type="text" name="emailid" id="emailid" ng-model="profile.emailId" class="form-control" required />
                                        <span style="color:red" ng-show="showEmailReq">Email is required *</span>
                                        <span style="color:red" ng-show="showInvalidEmail">Please Enter a valid Email</span>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.emailid.$touched) && registrationForm.personalDetailsForm.emailid.$error.required">
                                        Please enter Email ID
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="mobile "> Mobile Number </label>
                                        <input type="text" id="mobile" minlength="10" maxlength="10" ng-model="profile.mobileNumber" class="form-control" phone-number required/>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.mobileNo.$touched) && registrationForm.personalDetailsForm.mobileNo.$error.required">
                                            Please enter Mobile Number
                                        </div>
                                        <div class="alert alert-danger" ng-show="registrationForm.personalDetailsForm.mobileNo.$error.minlength ||
                                         registrationForm.personalDetailsForm.mobileNo.$error.maxlength">
                                            phone number should be 10 digits
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="joiningdate"> Joining Date* </label>
                                        <input name="joiningdate" uib-datepicker-popup="{{dateformat}}" id="joiningdate" date-disabled="disabled(date, mode)" is-open="popup2.showdp1" class="form-control" ng-model="profile.joiningDate" show-button-bar="false" required/>
                                        <button type="button" class="btn btn-default" ng-click="showcalendar1($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.joiningdate.$touched) && registrationForm.personalDetailsForm.joiningdate.$error.required">
                                            Please select Joining Date
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="acayear">Academic Year *</label>
                                        <select name="academicYear" id="acayear" ng-options="item for item in yearList" ng-model="profile.academicYear" class="form-control" required></select>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.acayear.$touched) && registrationForm.admissionDetailsForm.acayear.$error.required">
                                            Please enter Academic Year
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Institution"> Institution </label>
                                        <select ng-options="item as item.institution for item in HierarchyInfo | unique: 'institution' track by item.institution" ng-required="true" ng-model="$parent.currentInstitution" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="School"> School </label>
                                        <select ng-options="item as item.school for item in HierarchyInfo | filter: {institution: currentInstitution.institution} | unique: 'school' track by item.school" ng-required="true" ng-model="$parent.currentSchool" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="bandName"> Band </label>
                                        <select ng-options="item as item.bandId for item in BandInfo | unique : 'bandId' | orderBy:'bandId' track by item.bandId" ng-required="true" ng-model="$parent.currentBand" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="designation"> Designation </label>
                                        <select ng-options="item as item.designation for item in BandInfo | filter: {bandId: currentBand.bandId} | unique : 'designation'  track by item.designation" ng-required="true" ng-model="$parent.currentDesignation" class="form-control" ng-disabled="!currentBand.bandId"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="role"> Role </label>
                                        <select ng-options="item as item.role for item in BandInfo | filter: {designation: currentDesignation.designation, bandId: currentBand.bandId} | unique : 'role' track by item.role" ng-required="true" ng-model="$parent.currentRole" class="form-control" ng-disabled="!currentDesignation.designation"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Teacher ID"> Employee ID</label>
                                        <input type="text" id="Teacher ID" ng-model="profile.teacherId" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="image">Image*</label>
                                        <input name="image" type="file" id="image" class="form-control" ng-model="profile.image" maxsize="2048" ng-change="imagetobase64(profile.image)" base-sixty-four-input>
                                        <div class="alert alert-danger" role="alert" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.image.$touched) && registrationForm.personalDetailsForm.image.$error.required">
                                            Please upload Image
                                        </div>
                                        <div class="alert alert-danger" role="alert" ng-show="registrationForm.personalDetailsForm.image.$error.maxsize">Image size must not exceed 2MB
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Reporting Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="reportingDetailsForm" role="form">
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="reportingmanagerid"> Reporting Manager Name</label>
                                        <div class="input-group add-on">
                                            <input type="text" name="repId" class="form-control" placeholder="Search" ng-model="search.name" capitalize required>
                                            <div class="input-group-btn">
                                                <a data-toggle="modal" data-target="#myModal" ng-click="searchs()" class="btn btn-primary">search</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" ng-show="registrationForm.$submitted && registrationForm.reportingDetailsForm.repId.$error.required">
                                        Please enter Reporting Manager Id
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="functionmanagerid"> Reporting Manager Name</label>
                                        <input type="text" id="reportingmanagerid" ng-model="profile.reportingManagerName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="functionmanagerid"> Reporting Manager ID</label>
                                        <input type="text" id="reportingmanagerid" ng-model="profile.reportingManagerId" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="countermanagerid"> Counter Signing Manager ID</label>
                                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerId" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="countermanagerid"> Counter Signing Manager name</label>
                                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="functionmanagerid"> Functional Manager ID</label>
                                        <input type="text" id="functionrmanagerid" ng-model="profile.functionalManager" class="form-control" />
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Educational qualification and Industry Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="educationDetailsForm" role="form">
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Qualification "> Qualification </label>
                                        <input type="text" id="Qualification" ng-model="profile.qualification" class="form-control" capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="certification Details"> Certification Details</label>
                                        <input type="text" id="certificationDetails" ng-model="profile.certificationDetails" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="joiningdate"> Joining Date </label>
                                        <input type="Date" id="Joining Date" ng-model="profile.joiningDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Domain"> Domain </label>
                                        <input type="text" id="Domain" ng-model="profile.domain" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="billingdetails"> Billing Details </label>
                                        <input type="text" id="billingdetails" ng-model="profile.billingDetails" class="form-control" capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="tenth"> 10th School Name</label>
                                        <input type="text" id="tenth" ng-model="profile.tenSchoolName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="tenth"> 10th Percentage</label>
                                        <input type="text" id="tenth" ng-model="profile.tenPercentage" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="tenthyear"> 10th Pass Year</label>
                                        <input type="text" id="tenthyear" ng-model="profile.tenPassYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="twelth"> 12th School Name</label>
                                        <input type="text" id="twelth" ng-model="profile.twelveSchoolName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="twelth"> 12th Percentage</label>
                                        <input type="text" id="twelth" ng-model="profile.twelvePercentage" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="12year"> 12th Pass Year</label>
                                        <input type="text" id="12year" ng-model="profile.twelvePassYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ug"> UG College Name</label>
                                        <input type="text" id="ug" ng-model="profile.ugSchoolName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ug"> UG Percentage</label>
                                        <input type="text" id="ug" ng-model="profile.ugPercentage" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ugyear"> UG Pass Year</label>
                                        <input type="text" id="ugyear" ng-model="profile.ugPassYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ug"> PG College Name</label>
                                        <input type="text" id="ug" ng-model="profile.pgSchoolName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ug"> PG Percentage</label>
                                        <input type="text" id="ug" ng-model="profile.pgPercentage" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ugyear"> PG Pass Year</label>
                                        <input type="text" id="ugyear" ng-model="profile.pgPassYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="overall">Overall Experience</label>
                                        <input type="text" id="overall" ng-model="profile.experiance" class="form-control" />
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Contact Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="contactDetailsForm" role="form">
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Martial Status"> Martial Status </label>
                                        <select name="marital" ng-model="profile.martialStatus" class="form-control">
                                            <option value="SINGLE">SINGLE</option>
                                            <option value="MARRIED">MARRIED</option>
                                        </select>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.marital.$touched) && registrationForm.contactDetailsForm.marital.$error.required">
                                            Please select Martial Status
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Gender"> Gender </label>
                                        <select name="gender" ng-model="profile.gender" class="form-control">
                                            <option value="MALE">MALE</option>
                                            <option value="FEMALE">FEMALE</option>
                                        </select>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.gender.$touched) && registrationForm.contactDetailsForm.gender.$error.required">
                                            Please select Gender
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Blood Group"> Blood Group</label>
                                        <select name="bldGroup" ng-model="profile.bloodGroup" class="form-control">
                                            <option value="A +ve">A +ve</option>
                                            <option value="A -ve">A -ve</option>
                                            <option value="B +ve">B +ve</option>
                                            <option value="B -ve">B -ve</option>
                                            <option value="AB +ve">AB +ve</option>
                                            <option value="AB -ve">AB -ve</option>
                                            <option value="O +ve">O +ve</option>
                                            <option value="O -ve">O -ve</option>
                                        </select>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.bldGroup.$touched) && registrationForm.contactDetailsForm.bldGroup.$error.required">
                                            Please select Blood Group
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Nationality"> Nationality</label>
                                        <input type="text" name="Nationality" ng-model="profile.nationality" class="form-control" only-alphabets capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.Nationality.$touched) && registrationForm.contactDetailsForm.Nationality.$error.required">
                                            Please Enter Nationality
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Language Known "> Language Known </label>
                                        <input type="text" name="LanguageKnown " ng-model="profile.languageKnown" class="form-control" only-alphabets capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.LanguageKnown.$touched) && registrationForm.contactDetailsForm.LanguageKnown.$error.required">
                                            Please Enter the Languages Known
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emcp "> Emergency Contact Person </label>
                                        <input type="text" name="emcp" ng-model="profile.emergencyContactPerson" class="form-control" only-alphabets capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.emcp.$touched) && registrationForm.contactDetailsForm.emcp.$error.required">
                                            Please enter Emergency Contact Person
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emc "> Emergency Contact Number </label>
                                        <input type="text" name="emcNo" minlength="10" maxlength="10" ng-model="profile.emergencyContactNumber" class="form-control" phone-number />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.emcNo.$touched) && registrationForm.contactDetailsForm.emcNo.$error.required">
                                            Please enter Emergency Contact Number
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="address1 "> Address Line1 </label>
                                        <input type="text" name="address1" ng-model="profile.addLine1" class="form-control" capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.address1.$touched) && registrationForm.contactDetailsForm.address1.$error.required">
                                            Please enter Address
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="address2 "> Address Line2</label>
                                        <input type="text" name="address2" ng-model="profile.addLine2" class="form-control" capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.address2.$touched) && registrationForm.contactDetailsForm.address2.$error.required">
                                            Please enter Address
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="address2 ">Address Line3</label>
                                        <input type="text" id="address2" ng-model="profile.addLine3" class="form-control" capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="state "> State</label>
                                        <select name="state" ng-model="profile.state" class="form-control">
                                            <option value="Andra Pradesh">Andra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="goa">Goa</option>
                                            <option value="Gujrath">Gujrath</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="kerala">Kerala</option>
                                            <option value="Madya Pradesh">Madya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Panjab">Panjab</option>
                                            <option value="Rajastan">Rajastan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamilnadu">Tamilnadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emploc "> Country</label>
                                        <input type="text" name="country" ng-model="profile.country" class="form-control" only-alphabets capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.country.$touched) && registrationForm.contactDetailsForm.country.$error.required">
                                            Please enter Country
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emploc "> City</label>
                                        <input type="text" name="city" ng-model="profile.city" class="form-control" only-alphabets capitalize />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.city.$touched) && registrationForm.contactDetailsForm.city.$error.required">
                                            Please enter City
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="emploc "> PinCode</label>
                                        <input type="text" name="pinCode" ng-model="profile.pinCode" class="form-control" />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.pinCode.$touched) && registrationForm.contactDetailsForm.pinCode.$error.required">
                                            Please enter Pin Code
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Passport Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="passportDetailsFrom" role="form">
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Blackberry Number"> Passport Number </label>
                                        <input type="text" id="Passport Number" ng-model="profile.passportNumber" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Blackberry Number"> Passport Issue Date </label>
                                        <input type="date" id="Passport Issue Date" ng-model="profile.passportIssueDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Blackberry Number"> Passport Expiry Date </label>
                                        <input type="date" id="Passport Expiry Date" ng-model="profile.passportExpiryDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="ecnr"> ECNR Status </label>
                                        <input type="text" id="ecnr" ng-model="profile.ecnrStatus" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="visa"> Visa Details</label>
                                        <input type="text" id="visa" ng-model="profile.visaDetails" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="pan"> PAN Number</label>
                                        <input type="text" id="pan" ng-model="profile.panNumber" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="adhar"> ADHAR Number</label>
                                        <input type="text" id="adhar" ng-model="profile.aadharNumber" class="form-control" />
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <center>
                        <button class="btn btn-small btn-primary">submit</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 class="modal-title">Reporting Manager</h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="min-width: 80px;">SmartId</th>
                                    <th style="min-width: 80px">Name </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in repInfo.result">
                                    <td>{{item.teacherId}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.role}}</td>
                                    <td><a class="btn btn-small btn-primary" ng-click="editrep(item)">select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
