<div class="container landing">
    <div class="row">
        <h3 class="text-center"> Personal Details </h3>
        <div class="row">
            <!--class="form-inline" -->
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 ">
                    <div class="form-group">
                        <label for="First Name"> First Name</label>
                        <input type="text" id="FirstName" ng-model="profile.firstName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 ">
                    <div class="form-group">
                        <label for="Middle Name"> Middle Name</label>
                        <input type="text" id="MiddleName" ng-model="profile.middleName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 ">
                    <div class="form-group">
                        <label for="Last Name"> Last Name</label>
                        <input type="text" id="LastName" ng-model="profile.lastName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 ">
                    <div class="form-group">
                        <label for="DOB"> DOB </label>
                        <input type="date" id="DOB" ng-model="profile.dob" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Marital Status"> Marital Status </label>
                        <select name="marital" ng-model="profile.maritalStatus" class="form-control">
                            <option value="SINGLE">SINGLE</option>
                            <option value="MARRIED">MARRIED</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Gender"> Gender </label>
                        <select name="gender" ng-model="profile.gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Blood Group"> Blood Group </label>
                        <select name="bldGroup" ng-model="profile.bloodGroup" class="form-control">
                            <option value="A +ve">A +ve</option>
                            <option value="A -ve">A -ve</option>
                            <option value="B +ve">B +ve</option>
                            <option value="B -ve">B -ve</option>
                            <option value="AB +ve">AB +ve</option>
                            <option value="AB -ve">AB -ve</option>
                            <option value="O +ve">O +ve</option>
                            <option value="O -ve">O -ve</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Nationality"> Nationality </label>
                        <input type="text" id="Nationality" ng-model="profile.nationality" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Language Known "> Language Known </label>
                        <input type="text" id="LanguageKnown " ng-model="profile.languageKnown" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Institution"> Institution </label>
                        <select ng-options="item as item.institution for item in HierarchyInfo | unique: 'institution' track by item.institution" required ng-model="schoolDetails" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="School"> School </label>
                        <select ng-options="item as item.school for item in HierarchyInfo | filter: {institution: schoolDetails.institution} track by item.school" required ng-model="schoolDetails" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="bandName"> Band </label>
                        <!-- <input type="text" id="DepartmentName" ng-model="profile.band" class="form-control" /> -->
                        <!--  <select name="mySelect" id="mySelect" ng-options="option.id.emp_Band for option in bands track by bands.in.emp_Band" ng-model="option.id"></select> -->
                        <!-- <input type="text" id="LanguageKnown " ng-model="profile.bandId" class="form-control" />-->
                        <select ng-options="item as item.bandId for item in BandInfo | unique : 'bandId' track by item.bandId" required ng-model="schoolDetails" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="designation"> Designation </label>
                        <!-- <input name="role" id="emp_role" ng-model="profile.designation" class="form-control"/> -->
                        <select ng-options="item as item.designation for item in BandInfo | filter: {bandId: currentBand.bandId} | unique : 'designation'" required ng-model="currentDesignation" class="form-control" ng-disabled="!currentBand.bandId"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="role"> Role </label>
                        <!--  <input name="role" id="emp_role" ng-model="profile.role" class="form-control"/> -->
                        <select ng-options="item as item.role for item in BandInfo | filter: {designation: currentDesignation.designation, bandId: currentBand.bandId} | unique : 'role'" required ng-model="currentRole" class="form-control" ng-disabled="!currentDesignation.designation"></select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Teacher ID"> Teacher ID</label>
                        <input type="text" id="Teacher ID" ng-model="profile.teacherId" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <h3 class="text-center">  Reporting Details </h3>
        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <label for="reportingmanagerid"> Reporting Manager Name</label>
                    <div class="input-group add-on">
                        <input type="text" class="form-control" placeholder="Search" ng-model="search.name">
                        <div class="input-group-btn">
                            <a data-toggle="modal" data-target="#myModal" ng-click="searchs()" class="btn btn-primary">search</a></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="functionmanagerid"> Reporting Manager ID</label>
                        <input type="text" id="reportingmanagerid" ng-model="profile.reportingManagerId" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="countermanagerid"> Counter Signing Manager ID</label>
                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerId" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="countermanagerid"> Counter Signing Manager name</label>
                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="functionmanagerid"> Functional Manager ID</label>
                        <input type="text" id="functionrmanagerid" ng-model="profile.functionalManager" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <h3 class="text-center">  Educational qualification and Industrty Details </h3>
        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Qualification "> Qualification </label>
                        <input type="text" id="Qualification" ng-model="profile.qualification" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="certification Details"> Certification Details</label>
                        <input type="text" id="certificationDetails" ng-model="profile.certificationDetails" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="joiningdate"> Joining Date </label>
                        <input type="Date" id="Joining Date" ng-model="profile.joiningDate" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Domain"> Domain </label>
                        <input type="text" id="Domain" ng-model="profile.domain" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="billingdetails"> Billing Details </label>
                        <input type="text" id="billingdetails" ng-model="profile.billingDetails" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="tenth"> 10th School Name</label>
                        <input type="text" id="tenth" ng-model="profile.tenSchoolName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="tenth"> 10th Percentage</label>
                        <input type="text" id="tenth" ng-model="profile.tenPercentage" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="tenthyear"> 10th Pass Year</label>
                        <input type="text" id="tenthyear" ng-model="profile.tenPassYear" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="twelth"> 12th School Name</label>
                        <input type="text" id="twelth" ng-model="profile.twelveSchoolName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="twelth"> 12th Percentage</label>
                        <input type="text" id="twelth" ng-model="profile.twelvePercentage" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="12year"> 12th Pass Year</label>
                        <input type="text" id="12year" ng-model="profile.twelvePassYear" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ug"> UG College Name</label>
                        <input type="text" id="ug" ng-model="profile.ugSchoolName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ug"> UG Percentage</label>
                        <input type="text" id="ug" ng-model="profile.ugPercentage" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ugyear"> UG Pass Year</label>
                        <input type="text" id="ugyear" ng-model="profile.ugPassYear" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ug"> PG College Name</label>
                        <input type="text" id="ug" ng-model="profile.pgSchoolName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ug"> PG Percentage</label>
                        <input type="text" id="ug" ng-model="profile.pgPercentage" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ugyear"> PG Pass Year</label>
                        <input type="text" id="ugyear" ng-model="profile.pgPassYear" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="overall">Overall Experience</label>
                        <input type="text" id="overall" ng-model="profile.experiance" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <h3 class="text-center">  Contact Details </h3>
        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emailid "> Email ID * </label>
                        <input type="text" id="emailid" ng-model="profile.emailId" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="mobile "> Mobile Number </label>
                        <input type="text" id="mobile" ng-model="profile.mobileNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emcp "> Emergency Contact Person </label>
                        <input type="text" id="emcp" ng-model="profile.emergencyContactPerson" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emc "> Emergency Contact Number </label>
                        <input type="text" id="emc" ng-model="profile.emergencyContactNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="address1 "> Adrees Line1 </label>
                        <input type="text" id="address1" ng-model="profile.addLine1" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="address2 "> Adrees Line2</label>
                        <input type="text" id="address2" ng-model="profile.addLine2" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="address2 "> Adrees Line3</label>
                        <input type="text" id="address2" ng-model="profile.addLine3" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emploc "> State</label>
                        <input type="text" id="emploc" ng-model="profile.state" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emploc "> Country</label>
                        <input type="text" id="emploc" ng-model="profile.country" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emploc "> City</label>
                        <input type="text" id="emploc" ng-model="profile.city" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="emploc "> PinCode</label>
                        <input type="text" id="emploc" ng-model="profile.pinCode" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <h3 class="text-center">  Passport Details </h3>
        <div class="row">
            <form role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Blackberry Number"> Passport Number </label>
                        <input type="text" id="Passport Number" ng-model="profile.passportNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="Blackberry Number"> Passport Issue Date </label>
                        <input type="date" id="Passport Issue Date" ng-model="profile.passportIssueDate" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 register">
                    <div class="form-group">
                        <label for="Blackberry Number"> Passport Expiry Date </label>
                        <input type="date" id="Passport Expiry Date" ng-model="profile.passportExpiryDate" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="ecnr"> ECNR Status </label>
                        <input type="text" id="ecnr" ng-model="profile.ecnrStatus" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 register">
                    <div class="form-group">
                        <label for="visa"> Visa Details</label>
                        <input type="text" id="visa" ng-model="profile.visaDetails" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 register">
                    <div class="form-group">
                        <label for="pan"> PAN Number</label>
                        <input type="text" id="pan" ng-model="profile.panNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 register">
                    <div class="form-group">
                        <label for="adhar"> ADHAR Number</label>
                        <input type="text" id="adhar" ng-model="profile.aadharNumber" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center>
                            <h4 class="modal-title">Reporting Manager</h4></center>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 80px;"> SmartId</th>
                                            <th style="min-width: 80px">Name </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in repInfo.result">
                                            {{item}}
                                            <td>{{item.smartId}}</td>
                                            <td>{{item.firstName}}</td>
                                            <td><a class="btn btn-small btn-primary" ng-click="editrep(item)">select</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a ng-click="update()" class="btn btn-small btn-primary">submit</a>
        </div>
    </div>
</div>
