<ui-view>
    <div class="landing">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Employees</span>
                <button class="btn btn-small btn-primary pull-right"  ng-show="Permission.add" ng-click="addProfile()">
                    <i class="glyphicon glyphicon-plus"></i> Add
                </button>
                <div class="clear-both"></div>
            </div>
            <div class="row">
             <div id="content" class="col-xs-4">
                    <label for="Items Per Page">Entity Per Page</label>
                    <select style="width:70px;" ng-model="employeesPerPage" class="form-control" ng-change="size(employeesPerPage)" placeholder="Entity Per Page">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="col-xs-3 col-md-2" style="float:right;">
                    <label for="search" ></label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search1()">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive page-length">
                    <table class="table table-striped table-bordered table-hover band-table-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>EMPLOYEE ID</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>ROLE</th>
                                <th>REPORTING TO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="profile in profileInfo  | filter:SearchText | itemsPerPage: employeesPerPage" total-items="totalProfiles" current-page="pagination.current">
                                <td>{{ profile.teacherId }}</td>
                                <td>{{ profile.firstName }}</td>
                                <td>{{ profile.lastName }}</td>
                                <td>{{ profile.role }}</td>
                                <td>{{ profile.reportingManagerName }}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-primary"  ng-show="Permission.edit" ng-click="editProfile(profile)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                        <a class="btn btn-small btn-danger" data-toggle="modal"  ng-show="Permission.del" ng-click="setCurrentProfile(profile)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="employeePageChange(newPageNumber)" auto-hide="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="loader-background">
            <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
        </div>
        <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentProfile = null" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteProfile()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
