<div class="row landing">
    <div class="col-sm-12">
        <form name="registrationForm" ng-submit="update($event, registrationForm)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span> Personal Details </span>
                    <!--  <button class="btn btn-small btn-primary pull-right">submit</button> -->
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="personalDetailsForm">
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="First Name"> First Name</label>
                                    <input type="text" name="firstName" ng-model="profile.firstName" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="Middle Name"> Middle Name</label>
                                    <input type="text" name="middleName" ng-model="profile.middleName" ng-disabled="true" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="Last Name"> Last Name</label>
                                    <input type="text" name="lastName" ng-model="profile.lastName" ng-disabled="true" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="DOB"> DOB </label>
                                    <input type="date" name="DOB" ng-model="profile.dob" ng-disabled="true" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Gender"> Gender </label>
                                    <select name="gender" ng-model="profile.gender" class="form-control" ng-disabled="true">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="emailid "> Email ID * </label>
                                    <input type="text" name="emailid" ng-model="profile.emailId" class="form-control" required>
                                    <span style="color:red" ng-show="showEmailReq">Email is required *</span>
                                    <span style="color:red" ng-show="showInvalidEmail">Please Enter a valid Email</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="mobile "> Mobile Number * </label>
                                    <input type="text" name="mobile" minlength="10" maxlength="10" ng-model="profile.mobileNumber" class="form-control" phone-number required />
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.mobile.$touched) && registrationForm.personalDetailsForm.mobile.$error.required">
                                        Please enter Mobile Number
                                    </div>
                                    <div class="alert alert-danger" ng-show="registrationForm.personalDetailsForm.mobile.$error.minlength ||
                                         registrationForm.personalDetailsForm.mobile.$error.maxlength">
                                        phone number should be 10 digits
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="emc "> Emergency Contact Number *</label>
                                    <input type="text" name="emc" minlength="10" maxlength="10" ng-model="profile.emergencyContactNumber" class="form-control" phone-number required />
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.emc.$touched) && registrationForm.personalDetailsForm.emc.$error.required">
                                        Please enter emergency Contact Number
                                    </div>
                                    <div class="alert alert-danger" ng-show="registrationForm.personalDetailsForm.emc.$error.minlength ||
                                         registrationForm.personalDetailsForm.emc.$error.maxlength">
                                        phone number should be 10 digits
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="studentId ">Student ID * </label>
                                    <input type="text" name="studentId" ng-model="profile.studentId" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="acayear">Academic Year *</label>
                                    <input type="text" name="academicYear" id="acayear" ng-model="profile.academicYear" class="form-control" ng-disabled="true">
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.acayear.$touched) && registrationForm.admissionDetailsForm.acayear.$error.required">
                                    Please enter Academic Year
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Institution"> Institution </label>
                                    <input type="text" name="firstName" ng-model="profile.institution" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="School"> School </label>
                                    <input type="text" name="firstName" ng-model="profile.school" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="className"> Class </label>
                                    <input type="text" name="className" id="className" ng-model="profile.standard" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="section"> Section </label>
                                    <input type="text" name="section" id="section" ng-model="profile.section" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="bandName"> Band </label>
                                    <input type="text" name="firstName" ng-model="profile.band" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="designation"> Designation </label>
                                    <input type="text" name="firstName" ng-model="profile.designation" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="role"> Role </label>
                                    <input type="text" name="firstName" ng-model="profile.role" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="syllabus"> Syllabus </label>
                                    <input type="text" name="syllabus" id="syllabus" ng-model="profile.syllabus" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="prevclass"> Previous Class </label>
                                    <input type="text" name="prevclass" id="prevclass" ng-model="profile.previousClass" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="syllabus"> Previous School </label>
                                    <input type="text" name="syllabus" id="syllabus" ng-model="profile.previousSchool" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="prevyear"> Previous Year </label>
                                    <input type="text" name="prevyear" id="prevyear" ng-model="profile.previousYear" class="form-control" ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="image">Image*</label>
                                    <input name="image" type="file" id="image" class="form-control" ng-model="profile.image" maxsize="2048" ng-change="imagetobase64(profile.image)" base-sixty-four-input>
                                    <div class="alert alert-danger" role="alert" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.image.$touched) && registrationForm.personalDetailsForm.image.$error.required">
                                        Please upload Image
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-show="registrationForm.personalDetailsForm.image.$error.maxsize">Image size must not exceed 2MB
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <!-- <div class="panel panel-default">
    <div class="panel-heading">
        <span>Reporting Details</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <ng-form name="reportingDetailsForm" role="form">
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="reportingmanagerid"> Reporting Manager Name</label>
                        <input type="text" name="firstName" ng-model="profile.reportingManagerName" class="form-control" ng-disabled="true" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="functionmanagerid"> Reporting Manager ID</label>
                        <input type="text" id="reportingmanagerid" ng-model="profile.reportingManagerId" class="form-control" ng-disabled="true" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="countermanagerid"> Counter Signing Manager ID</label>
                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerId" class="form-control" ng-disabled="true" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="countermanagerid"> Counter Signing Manager name</label>
                        <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerName" class="form-control" ng-disabled="true" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 register">
                    <div class="form-group">
                        <label for="functionmanagerid"> Functional Manager ID</label>
                        <input type="text" id="functionrmanagerid" ng-model="profile.functionalManager" class="form-control" ng-disabled="true" />
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
</div>
 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span> Parent Details </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="personalDetailsForm">
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="father Name"> Father Name</label>
                                    <input type="text" id="fatherName" ng-model="profile.fatherName" class="form-control" only-alphabets capitalize ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="fatherOcc"> Father Occupation</label>
                                    <input type="text" id="fatherOcc" ng-model="profile.fatherOccupation" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="fatherIncome"> Father Income</label>
                                    <input type="text" id="fatherIncome" ng-model="profile.fatherIncome" class="form-control" phone-number />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="mobile "> Mobile Number * </label>
                                    <input type="text" name="mobile" minlength="10" maxlength="10" ng-model="profile.mobileNumber" class="form-control" phone-number/>
                                    <div class="alert alert-danger" ng-show="registrationForm.personalDetailsForm.mobile.$error.minlength ||
                                         registrationForm.personalDetailsForm.mobile.$error.maxlength">
                                        phone number should be 10 digits
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="motherNamee"> Mother Name</label>
                                    <input type="text" id="motherName" ng-model="profile.motherName" class="form-control" only-alphabets capitalize ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="motherOcc"> Mother Occupation</label>
                                    <input type="text" id="motherOcc" ng-model="profile.motherOccupation" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="motherIncome"> Mother Income</label>
                                    <input type="text" id="motherIncome" ng-model="profile.motherIncome" class="form-control" phone-number />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="mobile "> Mobile Number </label>
                                    <input type="text" name="mobile" minlength="10" maxlength="10" ng-model="profile.mobileNumber" class="form-control" phone-number/>
                                    <div class="alert alert-danger" ng-show="registrationForm.personalDetailsForm.mobile.$error.minlength ||
                                         registrationForm.personalDetailsForm.mobile.$error.maxlength">
                                        phone number should be 10 digits
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="guardianName"> Gaurdian Name(If any)</label>
                                    <input type="text" id="guardianName" ng-model="profile.guardianName" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="relgaurdianName"> Relation with Gaurdian </label>
                                    <input type="text" id="relgaurdianName" ng-model="profile.relationWithGuardian" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="Blood Group"> Blood Group </label>
                                    <select name="bldGroup" ng-model="profile.bloodGroup" class="form-control">
                                        <option value="A +ve">A +ve</option>
                                        <option value="A -ve">A -ve</option>
                                        <option value="B +ve">B +ve</option>
                                        <option value="B -ve">B -ve</option>
                                        <option value="AB +ve">AB +ve</option>
                                        <option value="AB -ve">AB -ve</option>
                                        <option value="O +ve">O +ve</option>
                                        <option value="O -ve">O -ve</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="caste Name"> Caste </label>
                                    <select name="caste" ng-model="profile.caste" class="form-control">
                                        <option value="General">General</option>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                        <option value="2A">2A</option>
                                        <option value="2B">2B</option>
                                        <option value="3A">3A</option>
                                        <option value="3B">ST</option>
                                        <option value="OBC">OBC</option>
                                        <option value="OTHERS">OTHERS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="Category Name"> Religion </label>
                                    <select name="REL" ng-model="profile.religion" class="form-control">
                                        <option value="HINDUISM">HINDUISM</option>
                                        <option value="ISLAM ">ISLAM</option>
                                        <option value="CHRISTIANITY">CHRISTIANITY</option>
                                        <option value="SIKHISM">SIKHISM</option>
                                        <option value="BUDDHISM ">BUDDHISM </option>
                                        <option value="JAINISM">JAINISM</option>
                                        <option value="OTHERS">OTHERS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="Nationality"> Nationality </label>
                                    <input type="text" id="Nationality" ng-model="profile.nationality" class="form-control" only-alphabets capitalize ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="Language Known "> Language Known </label>
                                    <input type="text" id="LanguageKnown " ng-model="profile.languageKnown" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Contact Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="contactDetailsForm" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="address1 "> Adrees Line1 </label>
                                    <input type="text" id="address1" ng-model="profile.addLine1" class="form-control" capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="address2 "> Adrees Line2</label>
                                    <input type="text" id="address2" ng-model="profile.addLine2" class="form-control" capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="addLine3 "> Adrees Line3</label>
                                    <input type="text" id="address2" ng-model="profile.addLine3" class="form-control" capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="state "> State</label>
                                    <select name="state" ng-model="profile.state" class="form-control">
                                        <option value="Andra Pradesh">Andra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="goa">Goa</option>
                                        <option value="Gujrath">Gujrath</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="kerala">Kerala</option>
                                        <option value="Madya Pradesh">Madya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Panjab">Panjab</option>
                                        <option value="Rajastan">Rajastan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamilnadu">Tamilnadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="country "> Country</label>
                                    <input type="text" id="country" ng-model="profile.country" class="form-control" only-alphabets capitalize />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                <div class="form-group">
                                    <label for="zipcode "> Zip Code</label>
                                    <input type="text" id="emploc" ng-model="profile.pinCode" class="form-control" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <button class="btn btn-small btn-primary pull-right">submit</button>
                    <!--  <a ng-click="save()" class="btn btn-small btn-primary">submit</a> -->
                </div>
            </div>
        </form>
    </div>
</div>
