<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Modules</h2>
            </div>
            <div class="panel-body">
                <form name="addModuleForm" novalidate="novalidate" ng-submit="save($event, addModuleForm)">
                    <div class="form-group">
                        <label for="modules"> Modules*</label>
                        <input name="modules" type="text" id="modules" placeholder="Enter the Modules" class="form-control" ng-model="module.modules" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addModuleForm.modules.$dirty && addModuleForm.modules.$error.required">
                            Please enter module
                        </div>
                    </div>
                    <div class="form-group" ng-show="module.modules=='MAINTENANCE'">
                        <label for="subModules">Sub-Modules</label>
                        <input name="subModules" type="text" id="subModules" class="form-control" ng-model="module.subModules" placeholder="Enter the Sub-Modules" capitalize />
                        <div class="alert alert-danger" role="alert" ng-if="addModuleForm.subModules.$dirty && addModuleForm.subModules.$error.required">
                            Please enter sub Module
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addModuleFormSubmitError">
                            {{addModuleFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/modules" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
.panel {
    margin-top: 180px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .landing {
        height: 585px;
        overflow: auto;
    }
    .panel {
        margin-top: 50px;
    }
}
</style>
