<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Modules</h2>
            </div>
            <div class="panel-body">
                <form name="editModuleForm" novalidate="novalidate" ng-submit="update($event, editModuleForm)">
                    <div class="form-group">
                        <label for="modules"> Modules*</label>
                        <input name="modules" type="text" id="modules" placeholder="Enter the Modules" class="form-control" ng-model="module.modules" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editModuleForm.modules.$dirty && editModuleForm.modules.$error.required">
                            Please enter module
                        </div>
                    </div>
                    <div class="form-group" ng-show="module.modules=='MAINTENANCE'">
                        <label for="subModules">Sub-Modules</label>
                        <input name="subModules" type="text" id="subModules" class="form-control" ng-model="module.subModules" placeholder="Enter the Sub-Modules" />
                        <div class="alert alert-danger" role="alert" ng-if="editModuleForm.subModules.$dirty && editModuleForm.subModules.$error.required">
                            Please enter sub Module
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editModuleFormSubmitError">
                            {{editModuleFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/modules" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
