<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowModuleFormMessage" style="color: green">
                            {{ShowModuleFormMessage}}
                        </span>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 20px;">Modules</span>
                <button class="btn btn-small btn-primary pull-right" ng-click="addModules()">
                    <i class="glyphicon glyphicon-plus"></i> Add
                </button>
                <div class="clear-both"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive page-length">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Modules</th>
                                <th>Sub-Modules</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="module in ModInfo">
                                <td>{{module.modules}}</td>
                                <td>{{module.subModules }}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-primary" ng-click="editmodule(module)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                        <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentModule(module)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentModule = null" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
