<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Fee</h2>
            </div>
            <div class="panel-body">
                <form name="addFee" novalidate="novalidate" ng-submit="update($event, addFee)">
                    <div class="form-group">
                        <label for="fee"> Standard*</label>
                        <input type="text" name="Standard" id="fee" class="form-control" ng-model="fee.standard"  placeholder="Enter the standard" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addFee.Standard.$dirty && addFee.Standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MiscellaneousFee"> Miscellaneous Fee*</label>
                        <input type="number" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="MiscellaneousFee" id="MiscellaneousFee" class="form-control" ng-model="fee.miscellaneousFee"  placeholder="Enter the miscellaneousfee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.MiscellaneousFee.$dirty && addFee.MiscellaneousFee.$error.required">
                            Please enter MiscellaneousFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SportsFee">Sports Fee*</label>
                        <input type="number" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="SportsFee" id="SportsFee" class="form-control" ng-model="fee.sportsFee" placeholder="Enter the sportsfee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.SportsFee.$dirty && addFee.SportsFee.$error.required">
                            Please enter SportsFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TransportationFee">Transportation Fee*</label>
                        <input type="number" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="TransportationFee" id="TransportationFee" class="form-control" ng-model="fee.transportationFee" placeholder="Enter the transportationfee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.TransportationFee.$dirty && addFee.TransportationFee.$error.required">
                            Please enter TransportationFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TuitionFee">Tuition Fee*</label>
                        <input type="number" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="TuitionFee" id="TuitionFee" class="form-control" ng-model="fee.tuitionFee"  placeholder="Enter the tuitionfee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.TuitionFee.$dirty && addFee.TuitionFee.$error.required">
                            Please enter TuitionFee
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="IdCardFee">Id-Card Fee*</label>
                        <input type="number"  ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="IdCardFee" id="IdCardFee" class="form-control" ng-model="fee.idCardFee" placeholder="Enter the idcardfee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.idCardFee.$dirty && addFee.idCardFee.$error.required">
                            Please enter IdCardFee
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="TotalFee">Total Fee</label>
                        <div class="form-control" >{{fee.tuitionFee -- fee.transportationFee -- fee.sportsFee -- fee.miscellaneousFee -- fee.idCardFee}}
                        </div>
                    </div>
                    <div>
                    <div class="alert alert-danger" role="alert" ng-show="editFeeMasterFormSubmitError">
                            {{editFeeMasterFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/feemaster" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">update
                            </button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>