<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowFeeMasterFormMessage" style="color: green">
                            {{FeeMasterFormSubmitMessage}}....
                        </span>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Fee</span>
            <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addfee()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <!--
            <button class="btn btn-small btn-primary pull-right" ng-click="upload()" >
                <i class="glyphicon glyphicon-plus"></i> Upload Fee
            </button -->
            <div class="clear-both"></div>
        </div>
        <div class="row">
             <div id="content" class="col-xs-4" > 
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="feesPerPage" class="form-control" ng-change="size(feesPerPage)" placeholder="Entity Per Page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
                </div>
            <!-- <div class="col-xs-6 col-md-2" style="float: right;">
                <label for="search">items per page:</label>
                <input type="number" min="1" max="pageSize" class="form-control" ng-model="feesPerPage">
            </div> -->
            <div  class="col-xs-3 col-md-3" style="float:right;">
                <label for="search"> </label>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                <input ng-model="SearchText" id="search" class="form-control" placeholder="search">
                </div>
            </div>
        </div>
            <div class="panel-body">
                <div class="table-responsive page-length" style="height: 329px;">
                    <table class="table table-striped table-bordered table-hover fee-table-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>STANDARD</th>
                                <th>MISCELLANEOUS FEE</th>
                                <th>SPORTS FEE</th>
                                <th>TRANSPORTATION FEE</th>
                                <th>TUITION FEE</th>
                                <th>IDCARD FEE</th>
                                <th>TOTAL FEE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="Fee in FeeInfo | filter:SearchText | itemsPerPage: feesPerPage" total-items="totalfeelist" current-page="pagination.current">
                                <td>{{ Fee.standard}}</td>
                                <td>{{ Fee.miscellaneousFee }}</td>
                                <td>{{ Fee.sportsFee }}</td>
                                <td>{{ Fee.transportationFee }}</td>
                                <td>{{ Fee.tuitionFee }}</td>
                                <td>{{ Fee.idCardFee}}</td>
                                <td>{{Fee.totalFee}}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-primary" ng-click="editFee(Fee)" ng-show="Permission.edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                        <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentFee(Fee)" data-target="#confirmDelete" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="feePageChange(newPageNumber)" auto-hide="false">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentBand = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
