<div class="landing">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Student details </h2>
            <form name="registrationForm" ng-submit="updateStudent($event, registrationForm)" novalidate>
                <div class="alert alert-danger col-sm-4" role="alert" ng-show="registrationFormSubmitError">
                    {{registrationFormSubmitError}}
                </div>
                <div class="panel panel-default panel-top">
                    <div class="panel-heading">
                        <span>Admission Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-form name="admissionDetailsForm" role="form">
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="First Name"> First Name</label>
                                        <input type="text" name="firstName" ng-model="profile.firstName" class="form-control" only-alphabets capitalize required />
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.firstName.$touched) && registrationForm.admissionDetailsForm.firstName.$error.required">
                                        Please enter First name
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="Middle Name"> Middle Name</label>
                                        <input type="text" id="MiddleName" ng-model="profile.middleName" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="Last Name"> Last Name</label>
                                        <input type="text" name="lastName" ng-model="profile.lastName" class="form-control" only-alphabets capitalize required />
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.lastName.$touched) && registrationForm.admissionDetailsForm.lastName.$error.required">
                                        Please enter Last name
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="Date"> DOB*</label>
                                        <input name="Date" uib-datepicker-popup="{{dateformat}}" id="Date" date-disabled="disabled(date, mode)" is-open="showdp" class="form-control" ng-keypress="validateDate(profile.dob)" ng-model="profile.dob" show-button-bar="false" required/>
                                        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.Date.$touched) && registrationForm.admissionDetailsForm.Date.$error.required">
                                            Please select Date of birth
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="Gender"> Gender </label>
                                        <select name="gender" ng-model="profile.gender" class="form-control" required>
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.gender.$touched) && registrationForm.personalDetailsForm.gender.$error.required">
                                        Please select Gender
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="emailid "> Email ID * </label>
                                        <input type="text" name="emailid" ng-model="profile.emailId" class="form-control" required>
                                        <span style="color:red" ng-show="showEmailReq">Email is required *</span>
                                        <span style="color:red" ng-show="showInvalidEmail">Please Enter a valid Email</span>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.emailid.$touched) && registrationForm.admissionDetailsForm.emailid.$error.required">
                                        Please enter emailid
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="mobile "> Mobile Number * </label>
                                        <input type="text" name="mobile" minlength="10" maxlength="10" ng-model="profile.mobileNumber" class="form-control" phone-number ng-required="true" />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.mobile.$touched) && registrationForm.admissionDetailsForm.mobile.$error.required">
                                            Please enter Mobile Number
                                        </div>
                                        <div class="alert alert-danger" ng-show="registrationForm.admissionDetailsForm.mobile.$error.minlength ||
                                         registrationForm.admissionDetailsForm.mobile.$error.maxlength">
                                            phone number should be 10 digits
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="emc "> Emergency Contact Number *</label>
                                        <input type="text" name="emc" id="emc" minlength="10" maxlength="10" ng-model="profile.emergencyContactNumber" class="form-control" phone-number required />
                                        <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.emc.$touched) && registrationForm.admissionDetailsForm.emc.$error.required">
                                            Please enter emergency Contact Number
                                        </div>
                                        <div class="alert alert-danger" ng-show="registrationForm.admissionDetailsForm.emc.$error.minlength ||
                                         registrationForm.admissionDetailsForm.emc.$error.maxlength">
                                            phone number should be 10 digits
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="studentId ">Student ID </label>
                                        <input type="text" id="studentId" ng-model="profile.studentId" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="acayear">Academic Year</label>
                                        <!--  <input type="text" id="acayear" ng-model="profile.academicYear" class="form-control" /> -->
                                        <select name="academicYear" id="acayear" ng-options="item for item in yearList" ng-model="profile.academicYear" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="Institution"> Institution </label>
                                        <select ng-options="item as item.institution for item in HierarchyInfo | unique: 'institution' track by item.institution" ng-required="true" ng-model="$parent.currentInstitution" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="School"> School </label>
                                        <select ng-options="item as item.school for item in HierarchyInfo | filter: {institution: currentInstitution.institution} | unique: 'school' track by item.school" ng-required="true" ng-model="$parent.currentSchool" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="className ">Class</label>
                                        <select ng-options="item as item.standard for item in HierarchyInfo | filter: {school: currentSchool.school} |  unique :'standard' track by item.standard " ng-required="true" ng-model="$parent.currentClassName" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="section "> Section</label>
                                        <select ng-options="item as item.section for item in HierarchyInfo | filter: {standard: currentClassName.standard} | unique : 'section' track by item.section " ng-required="true" ng-model="$parent.currentSection" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="bandName"> Band </label>
                                        <select ng-options="item as item.bandId for item in BandInfo | unique : 'bandId' track by item.bandId" ng-required="true" ng-model="$parent.currentBand" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="designation"> Designation </label>
                                        <select ng-options="item as item.designation for item in BandInfo | filter: {bandId: currentBand.bandId} | unique : 'designation' track by item.designation " ng-required="true" ng-model="$parent.currentDesignation" class="form-control" ng-disabled="!profile.band"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 register">
                                    <div class="form-group">
                                        <label for="role"> Role </label>
                                        <select ng-options="item as item.role for item in BandInfo | filter: {designation: currentDesignation.designation, bandId: currentBand.bandId} | unique : 'role' track by item.role" ng-required="true" ng-model="$parent.currentRole" class="form-control" ng-disabled="!currentDesignation.designation"></select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="syllabus">Syllabus</label>
                                        <select name="acayear" ng-model="profile.syllabus" class="form-control">
                                            <option value="CBSE">CBSE</option>
                                            <option value="STATE">State</option>
                                            <option value="ICSE">ICSE</option>
                                            <option value="SSC">SSC</option>
                                            <option value="IGCSE">IGCSE</option>
                                            <option value="IB">IB</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="prevclass">Previous Class</label>
                                        <input type="text" id="prevclass" ng-model="profile.previousClass" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="prevschool">Previous School</label>
                                        <input type="text" id="prevschool" ng-model="profile.previousSchool" class="form-control" only-alphabets capitalize />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12  ">
                                    <div class="form-group">
                                        <label for="prevyear">Previous Year *</label>
                                        <!--  <input type="text" name="prevyear" ng-model="profile.previousYear" class="form-control" required /> -->
                                        <select name="prevyear" id="prevyear" ng-options="item for item in previousyearList" ng-model="profile.previousYear" class="form-control" required>
                                        </select>
                                    </div>
                                    <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.prevyear.$touched) && registrationForm.admissionDetailsForm.prevyear.$error.required">
                                        Please select Previous Year
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12 register">
                                        <div class="col-md-3 col-sm-3 col-xs-12 register">
                                            <div class="form-group">
                                                <label for="image">Image*</label>
                                                <input name="image" type="file" id="image" class="form-control" ng-model="profile.image" maxsize="2048" ng-change="imagetobase64(profile.image)" base-sixty-four-input>
                                                <div class="alert alert-danger" role="alert" ng-show="(registrationForm.$submitted || registrationForm.admissionDetailsForm.image.$touched) && registrationForm.admissionDetailsForm.image.$error.required">
                                                    Please upload Image
                                                </div>
                                                <div class="alert alert-danger" role="alert" ng-show="registrationForm.admissionDetailsForm.image.$error.maxsize">Image size must not exceed 2MB
                                                </div>
                                            </div>
                                        </div>
                            </ng-form>
                            </div>
                            </div>
                        </div>
                        <!--  <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Reporting Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="reportingDetailsForm" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <label for="reportingmanagername"> Reporting Teacher ID </label>
                                <div class="input-group add-on">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="search.name">
                                    <div class="input-group-btn">
                                        <a data-toggle="modal" data-target="#myModals" ng-click="searchs()" class="btn btn-primary">search</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="reportingmanagername"> Reporting Manager Name </label>
                                    <input type="text" id="reportingmanagername" ng-model="profile.reportingManagerName" class="form-control" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div> -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span> Student Details </span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <ng-form name="personalDetailsForm">
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="father Name"> Father Name</label>
                                                <input type="text" id="fatherName" ng-model="profile.fatherName" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="fatherOcc"> Father Occupation</label>
                                                <input type="text" id="fatherOcc" ng-model="profile.fatherOccupation" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="fatherIncome"> Father Income</label>
                                                <input type="text" id="fatherIncome" ng-model="profile.fatherIncome" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="motherNamee"> Mother Name</label>
                                                <input type="text" id="motherName" ng-model="profile.motherName" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="motherOcc"> Mother Occupation</label>
                                                <input type="text" id="motherOcc" ng-model="profile.motherOccupation" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="motherIncome"> Mother Income</label>
                                                <input type="text" id="motherIncome" ng-model="profile.motherIncome" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="guardianName"> Gaurdian Name(If any)</label>
                                                <input type="text" id="guardianName" ng-model="profile.guardianName" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="relgaurdianName"> Relation with Gaurdian </label>
                                                <input type="text" id="relgaurdianName" ng-model="profile.relationWithGuardian" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="Blood Group"> Blood Group </label>
                                                <select name="bldGroup" ng-model="profile.bloodGroup" class="form-control">
                                                    <option value="A +ve">A +ve</option>
                                                    <option value="A -ve">A -ve</option>
                                                    <option value="B +ve">B +ve</option>
                                                    <option value="B -ve">B -ve</option>
                                                    <option value="AB +ve">AB +ve</option>
                                                    <option value="AB -ve">AB -ve</option>
                                                    <option value="O +ve">O +ve</option>
                                                    <option value="O -ve">O -ve</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="caste Name"> Caste </label>
                                                <select name="caste" ng-model="profile.caste" class="form-control">
                                                    <option value="General">General</option>
                                                    <option value="SC">SC</option>
                                                    <option value="ST">ST</option>
                                                    <option value="2A">2A</option>
                                                    <option value="2B">2B</option>
                                                    <option value="3A">3A</option>
                                                    <option value="3B">ST</option>
                                                    <option value="OBC">OBC</option>
                                                    <option value="OTHERS">others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="Category Name"> Religion </label>
                                                <select name="REL" ng-model="profile.religion" class="form-control">
                                                    <option value="HINDUISM">HINDUISM</option>
                                                    <option value="ISLAM ">ISLAM</option>
                                                    <option value="CHRISTIANITY">CHRISTIANITY</option>
                                                    <option value="SIKHISM">SIKHISM</option>
                                                    <option value="BUDDHISM ">BUDDHISM </option>
                                                    <option value="JAINISM">JAINISM</option>
                                                    <option value="OTHERS">OTHERS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="Nationality"> Nationality </label>
                                                <input type="text" id="Nationality" ng-model="profile.nationality" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="Language Known "> Language Known </label>
                                                <input type="text" id="LanguageKnown " ng-model="profile.languageKnown" class="form-control" only-alphabets capitalize />
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Contact Details</span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <ng-form name="contaceDetailsForm" role="form">
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="address1 "> Adrees Line1 </label>
                                                <input type="text" id="address1" ng-model="profile.addLine1" class="form-control" capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="address2 "> Adrees Line2</label>
                                                <input type="text" id="address2" ng-model="profile.addLine2" class="form-control" capitalize />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12  ">
                                            <div class="form-group">
                                                <label for="addLine3 "> Adrees Line3</label>
                                                <input type="text" id="address2" ng-model="profile.addLine3" class="form-control" capitalize />
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                                <div class="form-group">
                                                    <label for="state "> State</label>
                                                    <select name="state" ng-model="profile.state" class="form-control">
                                                        <option value="Andra Pradesh">Andra Pradesh</option>
                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                        <option value="Assam">Assam</option>
                                                        <option value="Bihar">Bihar</option>
                                                        <option value="goa">Goa</option>
                                                        <option value="Gujrath">Gujrath</option>
                                                        <option value="Haryana">Haryana</option>
                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                        <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                                                        <option value="Jharkhand">Jharkhand</option>
                                                        <option value="Karnataka">Karnataka</option>
                                                        <option value="kerala">Kerala</option>
                                                        <option value="Madya Pradesh">Madya Pradesh</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Manipur">Manipur</option>
                                                        <option value="Meghalaya">Meghalaya</option>
                                                        <option value="Mizoram">Mizoram</option>
                                                        <option value="Nagaland">Nagaland</option>
                                                        <option value="Odisha">Odisha</option>
                                                        <option value="Panjab">Panjab</option>
                                                        <option value="Rajastan">Rajastan</option>
                                                        <option value="Sikkim">Sikkim</option>
                                                        <option value="Tamilnadu">Tamilnadu</option>
                                                        <option value="Telangana">Telangana</option>
                                                        <option value="Tripura">Tripura</option>
                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                        <option value="Uttarakhand">Uttarakhand</option>
                                                        <option value="West Bengal">West Bengal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                                <div class="form-group">
                                                    <label for="country "> Country</label>
                                                    <input type="text" id="country" ng-model="profile.country" class="form-control" only-alphabets capitalize />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12  ">
                                                <div class="form-group">
                                                    <label for="zipcode "> Zip Code</label>
                                                    <input type="text" id="emploc" ng-model="profile.pinCode" class="form-control" />
                                                </div>
                                            </div>
                                    </ng-form>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-small btn-primary">submit</button>
                            </div>
            </form>
            </div>
            </div>
            <div class="modal fade" id="myModals" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                                <h4 class="modal-title">Reporting Manager</h4></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 80px;"> SmartId</th>
                                                <th style="min-width: 80px">Name </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in repInfo.result">
                                                {{item}}
                                                <td>{{item.smartId}}</td>
                                                <td>{{item.firstName}}</td>
                                                <td><a class="btn btn-small btn-primary" ng-click="editrep(item)">select</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
