<div class="landing">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-top">
                <div class="panel-head text-center">
                    <h2>Assign</h2>
                </div>
                <div class="panel-body">
                    <form name="addAssignForm" novalidate="novalidate" ng-submit="save($event, addAssignForm)">
                        <!-- <div class="form-group">
                        <label for="Institution"> Institution*</label>
                        <select name="Institution" id="Institution" class="form-control" ng-model="assign.Institution" placeholder="Enter a Institution" ng-options="item as item.institution for item in institutionsList | unique : 'item.institution'" required />
                        <div class="alert alert-danger" role="alert" ng-if="addAssignForm.id.$dirty && addAssignForm.id.$error.required">
                            Please enter Institution
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="School"> School*</label>
                        <select name="School" id="School" class="form-control" ng-model="assign.school" placeholder="Enter a School" ng-options="item as item.school for item in institutionsList | filter : assign.Institution.institution" ng-disabled="!assign.Institution" required />
                        <div class="alert alert-danger" role="alert" ng-if="addAssignForm.id.$dirty && addAssignForm.id.$error.required">
                            Please enter School
                        </div>
                    </div> -->
                        <div class="form-group">
                            <label for="Standard"> Standard*</label>
                            <input name="Standard" type="text" id="Standard" class="form-control" ng-model="assign.standard" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a Standard" required />
                            <div class="alert alert-danger" role="alert" ng-if="addAssignForm.Standard.$dirty && addAssignForm.Standard.$error.required">
                                Please enter Standard
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Section">Section*</label>
                            <input name="section" type="text" id="Section" class="form-control" ng-model="assign.section" placeholder="Enter the section" capitalize required/>
                            <div class="alert alert-danger" role="alert" ng-if="addAssignForm.role.$dirty && addAssignForm.role.$error.required">
                                Please enter Section
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TeacherSmartId"> TeacherName</label>
                            <div class="input-group add-on">
                                <input type="text" name="TeacherName" id="TeacherName" class="form-control" ng-model="assign.teacherName" placeholder="Search" style="position: static;" capitalize required />
                                <div class="input-group-btn">
                                    <a data-toggle="modal" data-target="#myModal" ng-click="getStaffs()" class="btn btn-primary" style="position: static;"><i class="glyphicon glyphicon-search" style="position: static;"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TeacherSmartId"> TeacherSmartId</label>
                                <input type="text" name="TeacherName" id="TeacherName" class="form-control" ng-model="assign.teacherSmartId" placeholder="Enter the teacherSmartId" />
                                <!--  <select name="teacherSmartId" id="TeacherSmartId" class="form-control" ng-model="assign.teacherSmartId" ng-options="item as item.smartId for item in staffList | filter : { role : 'TEACHER' }" ng-click="setTeacher(assign.teacherSmartId)" placeholder="Enter the teacherSmartId" /> -->
                                <!-- <div class="alert alert-danger" role="alert" ng-if="addAssignForm.teacherSmartId.$dirty && addAssignForm.teacherSmartId.$error.required">
                            Please enter TeacherSmartId
                        </div>-->
                            </div>
                            <div class="form-group">
                                <label for="HodSmartId"> HodSmartId</label>
                                <input type="text" name="HodSmartId" id="HodSmartId" class="form-control" ng-model="assign.hodSmartId" placeholder="Enter the HodSmartId" />
                                <!-- <select name="HodSmartId" id="HodSmartId" class="form-control" ng-model="assign.hodSmartId" ng-options="item as item.smartId for item in staffList | filter : { role : 'HOD' }" placeholder="Enter the HodSmartId" /> -->
                                <!-- <div class="alert alert-danger" role="alert" ng-if="addAssignForm.teacherSmartId.$dirty && addAssignForm.teacherSmartId.$error.required">
                            Please enter TeacherSmartId
                        </div> -->
                            </div>
                            <div>
                                <div class="alert alert-danger" role="alert" ng-show="addAssignFormSubmitError">
                                    {{addAssignFormSubmitError}}
                                </div>
                                <center>
                                    <a href="#/maintenance/assign" class="btn btn-default btn-small">cancel</a>
                                    <button type="submit" class="btn btn-small btn-primary">save</button>
                                </center>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center>
                            <h4 class="modal-title">TeacherDetails</h4></center>
                    </div>
                    <div class="modal-body" style=" overflow: scroll;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <!-- <th style="">Institution</th> -->
                                            <th style="">SchoolName</th>
                                            <th style="">EmployeeId</th>
                                            <th style="">FirstName</th>
                                            <th style="">ReportingMangerId</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="staff in staffList |filter : { role : 'TEACHER' }">
                                            <!-- <td>{{staff.institution}}</td> -->
                                            <td>{{staff.school}}</td>
                                            <td>{{staff.smartId}}</td>
                                            <td>{{staff.firstName}}</td>
                                            <td>{{staff.reportingManagerId}}</td>
                                            <td><a class="btn btn-small btn-primary" ng-click="selectTeacher(staff)" data-dismiss="modal">select</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
