<div class="landing">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-top">
                <div class="panel-head text-center">
                    <h2>Edit Assign</h2>
                </div>
                <div class="panel-body">
                    <form name="editAssignForm" novalidate="novalidate" ng-submit="update($event, editAssignForm)">
                        <!-- <div class="form-group">
    <label for="Institution"> Institution*</label>
    <select name="Institution" id="Institution" class="form-control" ng-model="assign.institution" placeholder="Enter a Institution" ng-options="item as item.institution for item in institutionsList | unique : 'item.institution'" required />
    <div class="alert alert-danger" role="alert" ng-if="addAssignForm.id.$dirty && addAssignForm.id.$error.required">
        Please enter Institution
    </div>
</div>
<div class="form-group">
    <label for="School"> School*</label>
    <select name="School" id="School" class="form-control" ng-model="assign.school" placeholder="Enter a School" ng-options="item as item.school for item in institutionsList | filter : assign.Institution.institution" required />
    <div class="alert alert-danger" role="alert" ng-if="addAssignForm.id.$dirty && addAssignForm.id.$error.required">
        Please enter School
    </div>
</div>
 -->
                        <div class="form-group">
                            <label for="Standard"> Standard*</label>
                            <input name="Standard" type="text" id="Standard" class="form-control" ng-model="assign.standard" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a Standard" required />
                            <div class="alert alert-danger" role="alert" ng-if="editAssignForm.id.$dirty && editAssignForm.id.$error.required">
                                Please enter Standard
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Section">Section*</label>
                            <input name="Section" type="text" id="Section" class="form-control" ng-model="assign.section" placeholder="Enter the Section" capitalize required/>
                            <div class="alert alert-danger" role="alert" ng-if="editAssignForm.role.$dirty && editAssignForm.role.$error.required">
                                Please enter Section
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TeacherSmartId"> TeacherName</label>
                            <div class="input-group add-on">
                                <input type="text" name="TeacherName" id="TeacherName" class="form-control" ng-model="assign.teacherName" placeholder="Search" capitalize required />
                                <div class="input-group-btn">
                                    <a data-toggle="modal" data-target="#myModal" ng-click="getStaffs(assign.school)" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TeacherSmartId"> TeacherId</label>
                                <input type="text" name="TeacherName" id="TeacherName" class="form-control" ng-model="assign.teacherSmartId" placeholder="Enter the teacherSmartId" />
                                <!-- <div class="alert alert-danger" role="alert" ng-if="addAssignForm.teacherSmartId.$dirty && addAssignForm.teacherSmartId.$error.required">
                            Please enter Designation
                        </div>-->
                            </div>
                            <div class="form-group">
                                <label for="HodSmartId"> HodId</label>
                                <input name="HodSmartId" type="text" id="HodSmartId" class="form-control" ng-model="assign.hodSmartId" placeholder="Enter the HodSmartId" />
                                <!--<div class="alert alert-danger" role="alert" ng-if="addAssignForm.teacherSmartId.$dirty && addAssignForm.teacherSmartId.$error.required">
                            Please enter TeacherSmartId
                        </div>-->
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="editAssignFormSubmitError">
                                {{editAssignFormSubmitError}}
                            </div>
                            <center>
                                <a href="#/maintenance/assign" class="btn btn-default btn-small">cancel</a>
                                <button type="submit" class="btn btn-small btn-primary">Update</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                                <h4 class="modal-title">TeacherList</h4></center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <!-- <th style="">Institution</th> -->
                                                <th style="">SchoolName</th>
                                                <th style="">EmployeeId</th>
                                                <th style="">FirstName</th>
                                                <th style="">ReportingMangerId</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="staff in staffList |filter : { role : 'TEACHER' }">
                                                <!-- <td>{{staff.institution}}</td> -->
                                                <td>{{staff.school}}</td>
                                                <td>{{staff.smartId}}</td>
                                                <td>{{staff.firstName}}</td>
                                                <td>{{staff.reportingManagerId}}</td>
                                                <td><a class="btn btn-small btn-primary" ng-click="selectTeacher(staff)" data-dismiss="modal">select</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>