<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span style="font-size: 20px;">BLOCKED ACCOUNT LIST</span>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SMARTID</th>
                           	<th>Attempt </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="login in LoginInfo">
                            <td>{{ login.smartId }}</td>
                            <td>{{ login.attempt }}</td>
                            <td>
                            	<div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="unblock(login)">UNBLOCK</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</ui-view>