<!-- 
    
    Jan - 17 For UI Changes

<nav class="navbar navbar-static navbar-default navbar-fixed-top app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg sidebar-toggle" data-toggle="sidebar" data-target=".sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="img/provider-logo.png" width="100px" bg-color="skyblue" /></a>
        </div>
<!--         <button type="button" class="btn btn-primary btn-sm pull-right hidden-xs" ng-click="logout()" style="margin-top: 10px;"> logout
        </button> 

        <button type="button" class="btn btn-primary btn-sm pull-right hidden-xs" ng-click="logout()" style="margin-top: 10px;"> logout
        </button>
    </div>
</nav>  -->
<nav class="navbar navbar-static navbar-default app-header">
    <div class="col-xs-12 col-sm-12 col-md-12 top-menu">
        <div class="row">
            <div class="col-md-2 top-menu-left">
                <div class="row">
                    <img src="img/provider-logo.png" style="width:120px;margin:auto;position: relative;
    top: 9px;">
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <span class="glyphicon glyphicon-menu-hamburger mobile-menu-icon" style="font-size:30px;cursor:pointer" onclick="openNav()"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-xs-offset-5 col-sm-offset-8 col-sm-2 col-md-offset-6 pos drop">
                    <span id="span" class="glyphicon glyphicon-triangle-bottom"></span>
                    <ul id="menu" class="dropdown-content tri-right right-top border">
                        <li>
                            <a href="#/profile">PROFILE</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#/setPassword/">CHANGE PASSWORD</a>
                        </li>
                        <hr>
                        <li>
                            <a href="" ng-click="logout()">LOGOUT</a>
                        </li>
                    </ul>
                </div>
                <div ng-show="online" class="col-xs-offset-11 col-xs-2 col-sm-offset-7 col-sm-2 col-md-offset-11 col-md-2 online">
                    online
                    <div class="online-circle"></div>
                </div>
                <div ng-hide="online" class="col-xs-offset-11 col-xs-2 col-sm-offset-7 col-sm-2 col-md-offset-11 col-md-2 offline">
                    offline
                    <div class="offline-circle blink"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="col-md-12">
    <div class="row">
        <div class="col-xs-12 col-md-2 gsmart-dashboard-menu sidenav sidebar-md-show" id="mySidenav">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="margin-left: 0px;">
                    <div class="user-info">
                        <div class="row">
                            <div class="col-xs-4 col-md-12 avatar edit-profile">
                                <!-- <img ng-src="{{'data:image/png;base64, ' + details.image}}" width="100%" /> -->
                                <div ng-if="details.image != null">
                                    <img data-ng-src="data:image/*;base64,{{details.image}}" class="profilepic">
                                </div>
                                <div ng-if="details.image == null">
                                    <img src="img/default.png" class="profilepic">
                                </div>
                                <div class="col-md-12 content">
                                    <input type="file" title="edit your profile picture" accept="image/*" class="Profile-input-file" ng-model="details.image" ng-change="imagetobase64(details.image)" base-sixty-four-input>
                                    <span class="glyphicon glyphicon-edit editpic">edit</span>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="name"> <center>{{details.firstName +" "+ details.lastName}}</center>
                                 
                                </span>
                            <!-- <div class="dropdown">
                                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="name"> 
                                 {{details.firstName +" "+ details.lastName}}
                                </span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#/profile">PROFILE</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#/setPassword/">CHANGE PASSWORD</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" ng-click="logout()">LOGOUT</a>
                                    </li>
                                </ul>
                            </div> -->
                            <span class="role"><center>{{details.role}}</center></span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="list">
                    <div class="col-md-12">
                        <a class="closebtn" onclick="closeNav();">&times;</a>
                    </div>
                    <div class="col-md-12 dashboard-scroll">
                        <div class="row">
                            <ul>
                                <li ng-class="{'active': currentPage==='Home'}">
                                    <a ng-href="#/home"><span class="glyphicon glyphicon-home"></span>Home</a>
                                </li>
                                <li ng-repeat="module in modules" ng-class="{'active': currentPage===module.moduleName.toLowerCase()}" data-toggle="sidebar" data-target=".sidebar">
                                    <div ng-if="module.moduleName ==='MAINTENANCE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><span class="glyphicon glyphicon-wrench"></span>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='FEE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-inr" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='REGISTRATION'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-sign-in" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='INVENTORYASSIGNMENTS'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><span class="glyphicon glyphicon-stats"></span>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='NOTICE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><span class="glyphicon glyphicon-bullhorn"></span>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='LEAVE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><span class="glyphicon glyphicon-calendar"></span>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='ORGSTRUCTURE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-users" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='ATTENDANCE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='PERFORMANCE'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='MODULES'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='CONTACTTEACHER'" ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>
                                    <div ng-if="module.moduleName ==='REPORTCARD' " ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName | capitalizeFirstFilter}}</a>
                                    </div>

                                     <div ng-if="module.moduleName ==='INVENTORYASSIGNMENTS' " ng-click="setModulePermission(module)">
                                        <a ng-href="#/{{module.moduleName.toLowerCase()}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{module.moduleName}}</a>
                                    </div>


                                    <!-- <div ng-if="ReportCard" ng-click="setModulePermission(module)">
                                        <div class="col-md-3">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <a ng-href="#/{{module.moduleName.toLowerCase()}}">{{module.moduleName}}</a>
                                        </div>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gsmart-dashboard">
            <div class="col-md-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 50px;padding-top: 20px;display:none;">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show" style="display:none;">
            <div class="gsmart-dashboard">
                <div class="col-md-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
/*$(document).ready(function() {


                $(".gsmart-dashboard-menu ul li").click(function() {
                    $(".gsmart-dashboard-menu").hide();
                });
            });
            $(document).ready(function() {
                $(".mobile-menu-icon").click(function() {
                    $(".gsmart-dashboard-menu").show();
                });
            });*/







function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("mySidenav").style.padding = "0px";
}

function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
    document.getElementById("mySidenav").style.padding = "0px 0px 0px 15px";
}


//.............Don't delete the bellow javascript..............//
$(function() {
    $("#span").click(function() {
        $("#menu").toggle();
    });

});
</script>
<style>
.profilepic {
    min-width: 161px;
    max-width: 161px;
    min-height: 161px;
    max-height: 161px;
    border-radius: 50%;
}

.Profile-input-file {
    height: 83px;
    width: 178px;
    /* left: 33%; */
    border-bottom-left-radius: 83%;
    border-bottom-right-radius: 83%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
    cursor: pointer;
    opacity: 0;
}

.edit-profile {
    position: relative;
    padding: 0;
    width: 400px;
    display: block;
    overflow: hidden;
}


/*
.content {
    opacity: 0;
    font: 20px Calibri;
    position: absolute;
    top: 80px;
     left: 0px; 
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 82px;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
}*/

.content {
    opacity: 0;
    font: 20px Calibri;
    position: absolute;
    top: 93px;
    left: 51px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    width: 155px;
    height: 67px;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
}

.editpic {
    opacity: 0.5;
    margin-top: 22px;
    font-size: 22px;
}

.edit-profile:hover .content,
.edit-profile:focus .content,
.edit-profile:active .content {
    opacity: 1;
}

.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border-color: #3c763d transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: #3c763d transparent transparent transparent;
}

.pos {
    position: relative;
    top: 15px;
    padding-left: 350px;
}

.drop {
    position: relative;
    display: inline-block;
}

.drop:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #3c763d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 30px;
    border-radius: 5px;
    width: 200px;
    height: 170px;
}

.dropdown-content li a {
    color: white;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
}

.dropdown-content li a:hover {
    color: #DEB887;
}

.dashboard-scroll {
    overflow: scroll;
    height: 366px;
}

hr {
    color: white
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .content {
        opacity: 0;
        font: 20px Calibri;
        position: absolute;
        top: 98px;
        left: 18px;
        color: #000;
        background-color: rgba(255, 255, 255, 0.5);
        width: 80%;
        height: 62px;
        border-radius: 50% / 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        text-align: center;
    }
    .info span {
        color: white;
        text-align: center;
    }
    .dashboard-scroll {
        overflow: scroll;
        height: 356px;
    }
    .profilepic {
        min-width: 161px;
        max-width: 161px;
        min-height: 161px;
        max-height: 161px;
        border-radius: 50%;
    }
    .user-info .avatar {
        width: 50%;
        height: 161px;
        margin-left: 92px;
    }
    .pos {
        position: relative;
        top: -17px;
        padding-left: 80px;
    }
    .drop {
        position: relative;
        display: inline-block;
    }
    .drop:hover .dropdown-content {
        display: block;
    }
    #menu {
        display: none;
    }
    .dropdown-content {
        list-style-type: none;
        position: absolute;
        background-color: #3c763d;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 8px 4px 3px 4px;
        z-index: 1;
        right: 45px;
        border-radius: 5px;
        width: 140px;
        height: 90px;
    }
    .dropdown-content li a {
        color: white;
        padding: 0px 10px 0px 15px;
        text-decoration: none;
        font-size: 10px;
    }
    .dropdown-content li {
        padding: 0px 0px 2px 0px;
    }
    .dropdown-content li a:hover {
        color: #DEB887;
    }
    hr {
        color: white;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media only screen and (min-device-width: 728px) and (max-device-width: 1024px) {
    .content {
        opacity: 0;
        font: 20px Calibri;
        position: absolute;
        top: 98px;
        left: 317px;
        color: #000;
        background-color: rgba(255, 255, 255, 0.5);
        width: 19%;
        height: 62px;
        border-radius: 50% / 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        text-align: center;
    }
    .info span {
        color: white;
        text-align: center;
    }
    .profilepic {
        min-width: 161px;
        max-width: 161px;
        min-height: 161px;
        max-height: 161px;
        border-radius: 50%;
    }
    .pos {
        position: relative;
        top: -17px;
        padding-left: 100px;
    }
    #menu {
        display: none;
    }
    .drop {
        position: relative;
        display: inline-block;
    }
    .drop:hover .dropdown-content {
        display: block;
    }
    .dropdown-content {
        list-style-type: none;
        display: none;
        position: absolute;
        background-color: #3c763d;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        right: 40px;
        border-radius: 5px;
        width: 200px;
        height: 170px;
    }
    .dropdown-content li a {
        color: white;
        padding: 20px 10px 20px 10px;
        text-decoration: none;
    }
    .dropdown-content li a:hover {
        color: #DEB887;
    }
    hr {
        color: white
    }
}
</style>
