<ui-view>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Smart ID</th>
                            <th>Student Name</th>
                            <th>Standard</th>
                            <th>Section</th>
                            <th>Reporting Teacher ID</th>
                            <th>Reporting Teacher Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="profile in profile1Info.result " >
                            <td>{{profile1.smartId}}</td>
                            <td>{{profile1.firstName}}</td>
                            <td>{{profile1.standard}}</td>
                            <td>{{profile1.section}}</td>
                           
                            <td>{{profile.reportingManagerName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
