<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>LeaveMaster</h2>
            </div>
            <div class="panel-body">
                <form name="editleavemasterForm" novalidate="novalidate" ng-submit="update($event, editleavemasterForm)">
                    <div class="form-group">
                        <label for="leaveType"> Leave Type*</label>
                        <input name="leaveType" type="text" id="leaveType" class="form-control" placeholder="Enter leavetype" ng-model="leavemaster.leaveType" capitalize required />
                        <div class="alert alert-danger" role="alert" ng-if="addLeavemasterForm.leaveType.$dirty && addLeavemasterForm.leaveType.$error.required">
                            Please enter leave type
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="daysAllow"> Days Allow*</label>
                        <input name="daysAllow" type="number" id="daysAllow" class="form-control" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter daysallow" ng-model="leavemaster.daysAllow" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeavemasterForm.daysAllow.$dirty && addLeavemasterForm.daysAllow.$error.required">
                            Please enter days allow
                        </div>
                    </div>
                    <div >
                         <div class="alert alert-danger" role="alert" ng-show="editLeaveMasterFormSubmitError">
                            {{editLeaveMasterFormSubmitError}}
                        </div>
                            <center>
                                <button type="submit" ng-click="cancelLeaveMaster()" class="btn btn-default btn-small">cancel</button>
                                <button type="submit" class="btn btn-small btn-primary">update</button>
                            </center>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
