<ui-view>
    <div class="maintenance landing">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <h2>Maintenance</h2>
                        </div>
                    </div>
                    <br>
                    <div class="row row-centered">
                        <div class="col-md-3 col-sm-4 col-xs-6 col-centered" ng-repeat="subModule in subModules">
                            <div class="grid-box" ng-click="setModulePermission(subModule)">
                                <a href="#/maintenance/{{subModule.subModuleName.toLowerCase()}}">
                                    <div class="grid-icon">
                                        <i class="{{subModule.icon}}" aria-hidden="true"></i>
                                    </div>
                                    <div class="grid-text">
                                        <h3>{{subModule.subModuleName }}</h3>
                                    </div>
                                    <!--
                                <div class="panel panel-default component">
                                    <div class="panel-body text-center">
                                        <div class="grid-icon">
                                            <i class="{{subModule.icon}}"></i>
                                        </div>
                                        <div class="grid-text">
                                         <p><strong>{{subModule.subModuleName}}</strong></p>
                                        </div>
                                    </div>
                                </div>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
