<div class="panel panel-default panel-top landing">
    <div class="panel-heading">
        <span style="font-size: 20px;">Privilege</span>
        <div class="clear-both"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Smart Id</th>
                        <th>FirstName</th>
                        <th>Role </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr ng-repeat="Profiles in ProfileInfo"> -->
                    <tr dir-paginate="Profiles in ProfileInfo | itemsPerPage: privilegePerPage" current-page="pagination.current">
                        <td>{{ Profiles.smartId}}</td>
                        <td>{{ Profiles.firstName }}</td>
                        <td>{{ Profiles.role }}</td>
                        <td><a class="btn btn-small btn-primary" ng-click="add(Profiles)" value="add"> Edit
            </a></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls max-size="50" direction-links="true" boundary-links="true" on-page-change="bandPageChange(newPageNumber)" auto-hide="false">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
