<ui-view>

    <div class="panel panel-default landing" style="margin-top: 40px;height: 396px;">
        <div class="panel-heading">
            <span style="font-size: 20px;">Privilege</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form name="privilegeform" novalidate="novalidate" class="form-horizontal">
                    <div ng-style="{'padding-top':'50px','padding-bottom':'80px'}">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="input-group" id="searchBox">
                                <input name="firstName" type="text" placeholder="Enter The Name" class="form-control" ng-model="profile.firstName" capitalize style="position: static;" only-alphabets >
                                <span class="input-group-btn">
	                                    <button class="btn btn-primary" ng-click="search($event,privilegeform)" type="button"  style="position: static;">Search</button>
	                            </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ui-view>
