<ui-view>
    <div class="panel panel-default landing" style="height:533px">
        <div class="panel-heading">
            <span style="font-size: 20px;">MY Team Leave</span>
            <div class="clear-both"></div>
        </div>
        <div class="row">
             <div id="content" class="col-xs-4">
                    <label for="Items Per Page">Entity Per Page</label>
                    <select style="width:70px;" ng-model="teamLeavePerPage" class="form-control" ng-change="size(teamLeavePerPage)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <div class="col-xs-3 col-md-2" style="float:right;">
                    <label for="search"></label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search1()">
                    </div>
                </div>
        </div>
<div class="loader-background">
    <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
</div>
        <div class="panel-body">
            <div class="table-responsive" style="height: 400px; overflow-y: scroll;">
                <table class="table table-striped table-bordered table-hover band-table-border" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {{user}}
                            <th ng-if="(user | lowercase)!='teacher'">EmployeeId</th>
                            <th ng-if="(user | lowercase)=='teacher'">StudentId</th>
                            <th>Name</th>
                            <th>Leave Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>No of Days</th>
                            <th>Description</th>
                            <th>Leave Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="leave in LeaveInfo1| filter:SearchText | itemsPerPage: teamLeavePerPage" total-items="totalTeamLeave" current-page="pagination.current">
                            <th ng-if="(user | lowercase)!='teacher'">{{leave.teacherOrStudentId}}</th>
                            <th ng-if="(user | lowercase)=='teacher'">{{leave.teacherOrStudentId}}</th>
                            <td>{{leave.fullName}}</td>
                            <!-- <td>{{leave.reportingManagerId}}</td> -->
                            <td>{{leave.leaveType}}</td>
                            <td>{{leave.displaystartDate}}</td>
                            <td>{{leave.displayendDate}}</td>
                            <td>{{leave.numberOfDays}}</td>
                            <td>{{leave.description}}</td>
                            <td>{{leave.leaveStatus}}</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" id="myBtn1_{{$index}}" data-toggle="modal" ng-hide="leave.leaveStatus=='Sanctioned'" ng-click="setCurrentLeave(leave, $index)" data-target="#sanctionConfirmationModal"><i class="glyphicon glyphicon-edit" ></i> Sanction</a>
                                    <a class="btn btn-small btn-danger" ng-hide="leave.leaveStatus=='Sanctioned'" data-toggle="modal" ng-click="setCurrentLeave(leave, $index)" data-target="#deleteConfirmationModal"><i class="glyphicon glyphicon-remove"></i> Reject</a>
                                    <a class="btn btn-small btn-danger" id="myBtn2_{{$index}}" data-toggle="modal" ng-show="leave.leaveStatus=='Sanctioned'" ng-click="setCurrentLeave(leave, $index)" data-target="#rejectConfirmationModal"><i class="glyphicon glyphicon-remove"></i>Reject Sactioned leave </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="teamLeavePageChange(newPageNumber)" auto-hide="true">
                </dir-pagination-controls>
            </div>
        </div>
        <div class="modal fade" id="sanctionConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sanction Leave</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to sanction leave</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentLeave = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="update()">Sanction</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Reject Leave</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to reject leave</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentLeave = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Reject</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rejectConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-vertical-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Reject Sanctioned Leave</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to reject sactioned leave</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="currentLeave = null" data-dismiss="modal">Cancel</button>
                        <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="reject()">Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui-view>
