/* Component LESS */
@import "partial/notice.less";
/* Add Component LESS Above */

.mar-top{margin-top:3%;}

@headings : 'type', 'title', 'message';
	@length: length(@headings);

	.loop(@headings; @index) when (@index > 0) {
		.loop(@headings; (@index - 1));

		@heading: extract(@headings, @index);

		#rwd-table tbody tr td:nth-of-type(@{index}):before {
        	content: @heading !important;
        	font-weight: bold;
    	}
	}

@media screen and (max-width: 600px) {
	.loop(@headings, @length);
}