<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>Band</h2>
            </div>
            <div class="panel-body">
                <form name="addBandForm" novalidate="novalidate" ng-submit="save($event, addBandForm)">
                    <br>
                    <div class="form-group">
                        <label for="band"> Band*</label>
                        <input name="id" type="number" id="band" class="form-control" ng-model="band.bandId" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required />
                        <div class="alert alert-danger" role="alert" ng-if="addBandForm.id.$dirty && addBandForm.id.$error.required">
                            Please enter band id
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Role">Role*</label>
                        <input name="role" type="text" id="Role" class="form-control" ng-model="band.role" placeholder="Enter the role" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addBandForm.role.$dirty && addBandForm.role.$error.required">
                            Please enter Role
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Designation"> Designation*</label>
                        <input name="designation" type="text" id="Designation" class="form-control" ng-model="band.designation" placeholder="Enter the designation" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addBandForm.designation.$dirty && addBandForm.designation.$error.required">
                            Please enter Designation
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addBandFormSubmitError">
                            {{addBandFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/band" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
