<ui-view>
    <div class="landing">
        <span class="h3" ng-show="ShowBandFormMessage" style="color: green">
                            {{BandFormSubmitMessage}}....
                        </span>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 20px;">Band</span>
                <button class="btn btn-small btn-primary pull-right" ng-show="Permission.add" ng-click="addband()">
                    <i class="glyphicon glyphicon-plus"></i> Add
                </button>
                <div class="clear-both"></div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-6">
                <label for="search">items per page:</label>
                <input type="number" min="1" max="pageSize" class="form-control" ng-model="bandsPerPage" ng-change="size(bandsPerPage)">
            </div>  -->
            <div class="row">
            <div id="content" class="col-xs-4">
                <label for="Items Per Page">Entity Per Page</label>
                <select style="width:70px;" ng-model="bandsPerPage" class="form-control" ng-change="size(bandsPerPage)" placeholder="Entity Per Page">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3 tableSearch">
                <label for="search">Search</label>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input ng-model="SearchText" id="search" class="form-control" placeholder="search" ng-change="search()">
                </div>
            </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive page-length" style="height: 329px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Band</th>
                                <th>Role </th>
                                <th>Designation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="band in BandInfo | filter:SearchText | itemsPerPage: bandsPerPage | orderBy : 'bandId'" total-items="totalBands" current-page="pagination.current">
                                <td>{{ band.bandId}}</td>
                                <td>{{ band.role }}</td>
                                <td>{{ band.designation }}</td>
                                <td>
                                    <div class="pull-right">
                                        <a class="btn btn-small btn-primary" ng-click="editband(band)"><i class="glyphicon glyphicon-edit" ng-show="Permission.edit"></i> Edit</a>
                                        <a class="btn btn-small btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal" ng-click="setCurrentBand(band)" ng-show="band.bandId==band.bandId"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <dir-pagination-controls max-size="50" direction-links="true" boundary-links="true" on-page-change="bandPageChange(newPageNumber)" auto-hide="false">
        </dir-pagination-controls>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentBand = null" data-dismiss="modal">Cancel</button>
                    <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</ui-view>
<style>
.landing {
    height: 519px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 9px;
    }
    .form-control {
        height: 25px;
        font-size: 11px;
    }
    .landing {
        height: 459px;
    }
}
</style>
