
<div id="myteamattendance" class="landing">
    <ui-view>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>My Team Attendance</span>
                            </div>
                        </div>
                    </div>
<div ng-if="showCalendar">

    <div style="display:inline-block; min-height:250px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options" ng-change="editAttendance1(dt)"></div>
    </div>
  
<table style="width:200px; height:100px;">
                    <tr><td style="background:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Holiday</td></tr>
                    <tr><td style="background:#7bbf31;">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Present</td></tr>
                    <tr><td style="background:#e43f32;">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Absent</td></tr>
</table>
</div>


            </div>
        </div>
    </ui-view>
</div>

             