<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span style="font-size: 20px;">Attendance List</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addband()" ng-show="Permission.add">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>RFID</th>
                            <th>SmartId </th>
                            <th>InTime</th>
                            <th>OuntTime</th>
                            <th>Epoch Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attendance in AttendnceInfo">
                            <td>{{ attendance.rfId}}</td>
                            <td>{{ attendance.smartId}}</td>
                            <td>{{ attendance.inTime}}</td>
                            <td>{{ attendance.outTime}}</td>
                            <td>{{ attendance.inDate}}</td>
                        <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-click="editband(band)"><i class="glyphicon glyphicon-edit" ng-show="Permission.edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentBand(band)" data-target="#confirmDelete" ng-show="Permission.del"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
