<div id="myteamattendance">
    <ui-view>
        <div class="row landing">
            <div class="col-sm-12">
                <div class="panel panel-default panel-top">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>My Team Attendance</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-show="currentEmp" style="color:#0000FF">
                            <div class="col-xs-offset-1 col-xs-6 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                                <div class="grid-box">
                                    <div class="card" style="color:#0000FF">
                                        <!-- <a href="#/employeeDetails/{{person.smartId}}"></a> -->
                                        <!--  <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" /> -->
                                        <div class="grid-icon">
                                            <!--  <i class="white fa fa-user fa-3x text-center" style="position:relative;top:22px;margin: auto;"></i> -->
                                            <img src="currentEmp.image">
                                        </div>
                                        <div class="grid-text-parent">
                                            <b><p>{{currentEmp.firstName}}</p>
                                            <p>{{currentEmp.smartId}}</p>
                                            <p>{{currentEmp.role}}</p></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-3">
                                <div class="present">
                                    <p>{{attendanceCountList.Attendancecount}}</p>
                                </div>
                                <div class="absent">{{attendanceCountList.totalCount}}</div>
                            </div>
                        </div>
                        <hr>
                        <!-- <ul class="tree">
                                <li ng-repeat="person in people">
                                    <div class="card clickable" show-calendar="showCalendar" style="color:#0000FF" ng-click="getdates(person.smartId)" ng-show="currentEmp.childFlag" >
                                            {{person.firstName}}
                                        <img ng-click="getdates(person.smartId)" ng-show="currentEmp.childFlag" src="img/download.jpg" class="calendar-img clickable" />
                                        <br/> {{person.smartId}}
                                        <br/> {{person.role}}
                                    </div>
                                </li>
                            </ul> -->
                        <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="person in people">
                            <div class="grid-box" style="box-shadow: 4px 4px 8px #6d4344">
                                <div class="card" style="color:#0000FF" ng-show="currentEmp.childFlag">
                                    <span ng-show="person.status=='Present'" id="present" class="glyphicon glyphicon-ok presentdot">Present</span>
                                    <span ng-show="person.status!='Present'" class="glyphicon glyphicon-remove absentdot">Absent</span></div>
                                <!-- <a href="#/employeeDetails/{{person.smartId}}"></a> -->
                                <!--  <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" /> -->
                                <div class="grid-icon clickable" ng-click="getdates2(person.smartId)" ng-show="currentEmp.childFlag">
                                    <!--  <i class="white fa fa-user fa-3x text-center" style="position:relative;top:22px;margin: auto;"></i> -->
                                    <img src="person.image">
                                </div>
                                <div class="grid-text">
                                    <!-- <img ng-click="getdates2(person.smartId)" ng-show="currentEmp.childFlag" src="img/download.jpg" class="calendar-img clickable"/> -->
                                    <b><p>{{person.firstName}}</p>
                                            <p>{{person.smartId}}</p> 
                                            <p>{{person.role}}</p></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</ui-view>
</div>
<style>
.grid-text,
.grid-text-parent {
    text-align: center;
    font-size: 14px;
}

hr {
    border-color: #3c763d;
}

.attendance-circle {}

.present {
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 70px;
    padding: 12px;
    text-align: center;
    height: 35px;
    background: green;
    color: white;
}

.absent {
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 70px;
    text-align: center;
    height: 35px;
    background: red;
    color: white;
}

.presentdot {
    padding: 2px;
    color: green;
}

.absentdot {
    padding: 2px;
    color: red;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .grid-text {
        text-align: center;
        font-size: 12px;
    }
    .grid-text-parent {
        text-align: center;
        font-size: 12px;
    }
    hr {
        border-color: #3c763d;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .grid-text {
        text-align: left;
        font-size: 14px;
        padding-left: 65px;
    }
    .grid-text-parent {
        text-align: left;
        font-size: 14px;
        padding-left: 190px;
    }
    hr {
        border-color: #3c763d;
    }
}
</style>
