<div id="myattendance" class="landing">
    <ui-view>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-top">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Attendance</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                            <!-- <div class="card tree-parent-node" ng-show="currentEmp" style="color:#0000FF">
                                <a ng-href="#/employeeDetails/{{currentEmp.smartId}}">
                            {{currentEmp.firstName}}</a>
                            </div> -->
                            <div ng-if="showCalendar">
                                <div style="display:inline-block; min-height:250px;">
                                    <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options" ng-change="editAttendance(dt)"></div>
                                </div>
                                <table style="width:200px; height:100px;">
                                    <tr>
                                        <td style="background:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;<b>Holiday</td>
                    <tr><td style="background:#7bbf31;">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Present</td></tr>
                    <tr><td style="background:#e43f32;">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<b>Absent</td></tr>
</table>
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui-view>
</div>
