<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>REPORT CARD</h2>
            </div>
            <div class="panel-body">
                <form name="addReportCardForm" novalidate="novalidate" ng-submit="save($event,addReportCardForm)">
                    <div>
                        <input type="hidden" ng-model="reportCard.smartId" required />
                    </div>
                    <div class="form-group">
                        <label for="AcademicYear"> AcademicYear</label>
                        <input name="academicYear" type="text" id="academicYear" class="form-control" ng-model="reportCard.academicYear" placeholder="--select year--" required/>
                        <div class="form-group">
                            <select name="academicYear" ng-options="year as year for year in yearList" ng-model="reportCard.academicYear"></select>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.academicYear.$dirty && addReportCardForm.academicYear.$error.required">
                            Please enter AcademicYear
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="studentId">Student Id</label>
                        <div class="input-group add-on">
                            <input type="text" name="StudentId" id="StudentId" class="form-control" ng-model="reportCard.studentId" placeholder="Search" style="position: static;" />
                            <div class="input-group-btn">
                                <a data-toggle="modal" data-target="#myModal" ng-click="getStudents()" class="btn btn-primary" style="position: static;"><i class="glyphicon glyphicon-search" style="position: static;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="StudentName"> Student Name</label>
                        <input name="studentName" type="text" id="studentName" class="form-control" ng-model="reportCard.studentName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.studentName.$dirty && addReportCardForm.studentName.$error.required">
                            Please enter student Name
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="AcademicYear"> AcademicYear</label>
                        <input name="academicYear" type="text" id="academicYear" class="form-control" ng-model="reportCard.academicYear" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.academicYear.$dirty && addReportCardForm.academicYear.$error.required">
                            Please enter AcademicYear
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="Exam Name"> Exam Name</label>
                        <input name="examName" type="text" id="examName" class="form-control" ng-model="reportCard.examName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.examName.$dirty && editReportCardForm.examName.$error.required">
                            Please enter Exam Name
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Standard">Standard</label>
                        <input name="standard" type="text" id="Standard" class="form-control" ng-model="reportCard.standard" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.standard.$dirty && addReportCardForm.standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Section"> Section</label>
                        <input name="section" type="text" id="Section" class="form-control" ng-model="reportCard.section" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.section.$dirty && addReportCardForm.section.$error.required">
                            Please enter section
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TeacherName"> Teacher Name</label>
                        <input name="teacherName" type="text" id="teacherName" class="form-control" ng-model="reportCard.teacherName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.teacherName.$dirty && addReportCardForm.teacherName.$error.required">
                            Please enter teacherName
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject"> Subject</label>
                        <input name="subject" type="text" id="subject" class="form-control" ng-model="reportCard.subject" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.subject.$dirty && addReportCardForm.subject.$error.required">
                            Please enter subject
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaxMarks"> Max-Marks</label>
                        <input name="maxMarks" type="text" id="maxMarks" class="form-control" ng-model="reportCard.maxMarks" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.maxMarks.$dirty && addReportCardForm.maxMarks.$error.required">
                            Please enter maxMarks
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MinMarks"> Min-Marks</label>
                        <input name="minMarks" type="text" id="minMarks" class="form-control" ng-model="reportCard.minMarks" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.minMarks.$dirty && addReportCardForm.minMarks.$error.required">
                            Please enter minMarks
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MarksObtained"> Marks Obtained</label>
                        <input name="marksObtained" type="text" id="marksObtained" class="form-control" ng-model="reportCard.marksObtained" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.marksObtained.$dirty && addReportCardForm.marksObtained.$error.required">
                            Please enter marks Obtained
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Remarks"> Remarks</label>
                        <input name="remarks" type="text" id="remark" class="form-control" ng-model="reportCard.remark" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.remark.$dirty && addReportCardForm.remark.$error.required">
                            Please enter Remarks
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addReportCardFormSubmitError">
                            {{addReportCardFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/reportcard" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 class="modal-title">Student Details</h4></center>
            </div>
            <div class="modal-body" style=" overflow: scroll;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <!-- <th style="">Institution</th> -->
                                    <th style="">StudentName</th>
                                    <th style="">Student Id</th>
                                    <th style="">Section</th>
                                    <th style="">Standard</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="student in StudentList">
                                    <!-- <td>{{staff.institution}}</td> -->
                                    <td>{{student.firstName+" "+student.midleName+" "+student.lastName}}</td>
                                    <td>{{student.studentId}}</td>
                                    <td>{{student.section}}</td>
                                    <td>{{student.standard}}</td>
                                    <td><a class="btn btn-small btn-primary" ng-click="selectStudent(student)" data-dismiss="modal">select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
