<ui-view id="reportcard">
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span>ReportCard</span>
        </div>
        <div class="panel-body">
            <div class="row home">
                <a href="#/reportcard/reportCard">
                    <div class="col-md-offset-3 col-sm-3 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <i class="white fa fa  fa-flag  fa-3x center-block"></i>
                                <br/>
                                <p class="text-center"><strong> ReportCard Assignments </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#/reportcard/orgs">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <i class="white fa  fa-flag fa-3x text-center"></i>
                                <p class="text-center"><strong> ReportCard Structure </strong></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ui-view>
