<div class="row landing">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-top">
            <div class="panel-head text-center">
                <h2>REPORT CARD</h2>
            </div>
            <div class="panel-body">
                <form name="editReportCardForm" novalidate="novalidate" ng-submit="update($event, editReportCardForm)">
                    <div class="form-group">
                        <label for="StudentName"> Student Id</label>
                        <input name="Student Id" type="text" id="Institution" class="form-control" ng-model="reportCard.studentId" required />
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.studentId.$dirty && editReportCardForm.studentId.$error.required">
                            Please enter Student Id
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="StudentName"> Student Name</label>
                        <input name="studentName" type="text" id="studentName" class="form-control" ng-model="reportCard.studentName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.studentName.$dirty && editReportCardForm.studentName.$error.required">
                            Please enter studentName
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AcademicYear"> Academic Year</label>
                        <input name="academicYear" type="text" id="academicYear" class="form-control" ng-model="reportCard.academicYear" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.academicYear.$dirty && editReportCardForm.academicYear.$error.required">
                            Please enter AcademicYear
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Exam Name"> Exam Name</label>
                        <input name="examName" type="text" id="examName" class="form-control" ng-model="reportCard.examName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.examName.$dirty && editReportCardForm.examName.$error.required">
                            Please enter Exam Name
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Standard"> Standard</label>
                        <input name="standard" type="text" id="Standard" class="form-control" ng-model="reportCard.standard" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardFormeditReportCardForm.standard.$dirty && editReportCardForm.standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Section"> Section</label>
                        <input name="section" type="text" id="Section" class="form-control" ng-model="reportCard.section" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.section.$dirty && editReportCardForm.section.$error.required">
                            Please enter section
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TeacherName"> Teacher Name</label>
                        <input name="teacherName" type="text" id="teacherName" class="form-control" ng-model="reportCard.teacherName" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.teacherName.$dirty && editReportCardForm.teacherName.$error.required">
                            Please enter teacherName
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject"> Subject</label>
                        <input name="subject" type="text" id="subject" class="form-control" ng-model="reportCard.subject" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.subject.$dirty && editReportCardForm.subject.$error.required">
                            Please enter subject
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaxMarks"> Max-Marks</label>
                        <input name="maxMarks" type="text" id="maxMarks" class="form-control" ng-model="reportCard.maxMarks" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.maxMarks.$dirty && editReportCardForm.maxMarks.$error.required">
                            Please enter maxMarks
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MinMarks"> Min-Marks</label>
                        <input name="minMarks" type="text" id="minMarks" class="form-control" ng-model="reportCard.minMarks" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.minMarks.$dirty && editReportCardForm.minMarks.$error.required">
                            Please enter minMarks
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MarksObtained"> Marks Obtained</label>
                        <input name="marksObtained" type="text" id="marksObtained" class="form-control" ng-model="reportCard.marksObtained" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" placeholder="Enter a number" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.marksObtained.$dirty && editReportCardForm.marksObtained.$error.required">
                            Please enter marksObtained
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SubjectGrade"> Subject Grade</label>
                        <input name="subjectGrade" type="text" id="subjectGrade" class="form-control" ng-model="reportCard.subjectGrade" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="editReportCardForm.subjectGrade.$dirty && editReportCardForm.subjectGrade.$error.required">
                            Please enter subjectGrade
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Remarks"> Remarks</label>
                        <input name="remarks" type="text" id="remark" class="form-control" ng-model="reportCard.remark" capitalize required/>
                        <div class="alert alert-danger" role="alert" ng-if="addReportCardForm.remark.$dirty && addReportCardForm.remark.$error.required">
                            Please enter Remarks
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="editReportCardFormSubmitError">
                            {{editReportCardFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/reportcard" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">edit</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
