<ui-view id="registration">
    <div class="maintainance landing">
        <div class="panel-body">
            <div class="row home">
                <div class="row row-centered">
                    <div class="col-md-4 col-sm-4 col-xs-6 col-centered" ng-repeat="hierarchy in HierarchyInfo" ng-click="getInventoryByHierarchy(hierarchy)">
                        <div class="grid-box">
                            <div class="grid-box text-center">
                                <div class="grid-icon">
                                    <i class="white fa fa  fa-flag  fa-3x center-block" style="position: relative;
                                  top: 22px;
                                  margin: auto;"></i>
                                </div>
                                <div class="grid-text">
                                    <h3>{{hierarchy.school}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ui-view>
<style>
.col-centered {
    float: none;
    text-align: left;
    display: inline-block;
}

.row-centered {
    text-align: center;
}
</style>
