<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Exam Result</span>
            <div class="clear-both"></div>
        </div>
        <div class="form-group">
            <label for="AcademicYear">Academic Year</label>
            <select id="AcademicYear" class="form-control" name="academicYear" ng-model="academicYear" ng-options="item as item.academicYear for item in Year" ng-change="getChildTeacher(academicYear)" style="width: 30%">
                <option value="">--select academic year--</option>
            </select>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="academicYear">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Standard</th>
                            <th>Section</th>
                            <th>Teacher Name</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="profile1 in Teachers">
                            <td>{{profile1.standard}}</td>
                            <td>{{profile1.section}}</td>
                            <td>{{profile1.firstName}}</td>
                            <td>
                                <a ng-click="getexamsForTeacher(academicYear,profile1)"> click to view result</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="academicYear">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Standard</th>
                            <th>Exam Name</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exam in ExamName">
                            <td>{{exam.standard}}</td>
                            <td>{{exam.examName}}</td>
                            <td>
                                <a ng-click="getReportCardForHOD(academicYear,exam)"> click to view result</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
