<html>

<head>
    <title>GSMART</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container" id="invoice">
    <header class="text-center">GSMART the school management app</header>
    <div class="col-md-12 table-border" style="    margin: 63px 0px;">
        <div class="col-md-12 text-center top-address">
            <div class="col-md-2">
                <img src="img/logodps.png">
            </div>
            <div class="col-md-9">
                <h1>Delhi Public School</h1>
                <p> 11th KM, Bikaspura Main Road, Kanakapura Road, Konanakunte, Bengaluru, Karnataka 560062</p>
                <p>Phone: 080 2666 8582</p>
                <p>Receipt 2016-2017</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <p>Receipt: {{feeDetail.inVoice}} </p>
                <p>Name: {{feeDetail.name}}</p>
                <p>Parent Name: {{feeDetail.parentName}}</p>
            </div>
            <div class="col-md-6">
                <p>Date: {{feeDetail.date}}</p>
                <p>Admin No: </p>
                <p>Class: {{feeDetail.standard}}</p>
            </div>
        </div>
        <table class="table table-border">
            <thead>
                <tr>
                    <th class="table-border" style="    border: 2px solid black;">Serial no</th>
                    <th colspan="2" class="table-border" style="    border: 2px solid black;">Fee particulars</th>
                    <th class="table-border" style="    border: 2px solid black;">Amount</th>
                </tr>
            </thead>
            <tr style="border:0px;">
                <td class="table-border" style="    border-bottom: 0px;"></td>
                <td colspan="2" class="table-border" style="    border-bottom: 0px;">{{suni}}</td>
                <td class="table-border">{{feeDetail.miscellaneousFee}}</td>
            </tr>
            <tr>
                <th class="th-border" style="border:0px;border-right: 2px solid black;"></th>
                <th style="border:0px;text-align:right;" colspan="2">Total</th>
                <th class="table-border">{{feeDetail.totalFee}}</th>
            </tr>
            <tr>
                <th colspan="4" style="border:2px solid black;"> Amount in words: </th>
            </tr>
            <tr>
                <th>By </th>
                <th>Cheque No: </th>
                <th>Cheque Date: </th>
                <th>Bank:</th>
            </tr>
        </table>
        <div class="col-md-6">
            <p>NOTE: Payments by cheque are subject to realisation.</p>
            <p>TIME: </p>
        </div>
        <!--  <div class="col-md-6">
            <p>For {{school name}}</p>
        </div> -->
    </div>
    <div class="row noPrint actions">
        <a class="btn btn-primary" ng-show="printMode" ng-click="printInfo('invoice')">Print</a>
        <!--  <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a> -->
        <a class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
        <a class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
    </div>
</div>

</html>
