<div class="landing" data-ng-controller="ReportCardOrgCtrl">
    <div id="reportCardStructure">
        <ui-view>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span> ReportCard Structure</span>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                                <div class="card tree-parent-node" ng-show="currentEmp">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <a ng-href="#/employeeDetails">
                                                  {{currentEmp.firstName}}</a>
                                            <img ng-click="showOrganizationTree(currentEmp.reportingManagerId)" ng-hide="currentEmp.reportingManagerId == currentEmp.smartId" src="img/group.png" class="people-img clickable" />
                                            <br/> {{currentEmp.smartId}}
                                            <br/> {{currentEmp.role}}
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="avatar" class="user-info">
                                                <img ng-src="{{'data:image/png;base64, ' + currentEmp.image}}" width="100%" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                               </div>
                                <ul class="tree">
                                    <li ng-repeat="person in people">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <a ng-href="#/employeeDetails/{{person.smartId}}">{{person.firstName}}</a>
                                                    <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                                                    <br/> {{person.smartId}}
                                                    <br/> {{person.role}}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="avatar" class="user-info">
                                                        <img ng-src="{{'data:image/png;base64, ' + person.image}}" width="100%" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </ui-view>
    </div>
</div>
