<ui-view>
    <div class="panel panel-default landing">
        <div class="panel-heading">
            <span style="font-size: 20px;">Exam Result</span>
            <div class="clear-both"></div>
        </div>
        <div class="form-group">
            <label for="AcademicYear">Academic Year</label>
            <select id="AcademicYear" class="form-control" name="academicYear" ng-model="academicYear" ng-options="item as item.academicYear for item in Year" ng-change="getexams(academicYear)" style="width: 30%">
                <option value="">--select academic year--</option>
            </select>
            <div class="alert alert-danger" role="alert" ng-if="academicYear.$dirty && academicYear.$error.required">
                Please select AcademicYear
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="academicYear"
>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Exam Name</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exam in ExamName">
                            <td>{{exam.standard}}</td>
                            <td>{{exam.examName}}</td>
                            <td>
                                <a ng-click="getReportCardz(academicYear,exam)"> click to view result</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ui-view>
