<ui-view>
    <div class="disp-info-tab landing">
        <!--  <div class="col-md-4">
            <input class="form-control" ng-model="searchtext" placeholder="search here">
        </div>
        <div class="panel-heading">
            <span style="font-size: 20px;">Report Card</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addReportCard()" ng-show="ReportCard.add">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div> -->
        <div class="col-md-12 disp-info-tab-top">
            <div class="row">
                <div class="col-md-3 disp-info-tab-top-left">
                    <h2>Report-Card</h2>
                </div>
                <div class="col-md-6 disp-info-tab-top-left">
                    <input class="form-control" ng-model="searchtext" placeholder="search here" style="width: 30%">
                </div>
                <div class="col-md-3 disp-info-tab-top-left">
                    <button class="add-info" ng-click="addReportCard()" ng-show="ReportCard.add"> <i class="glyphicon glyphicon-plus"></i> Add reportcard</button>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
    <label for="AcademicYear">Academic Year</label>
    <select id="AcademicYear" class="form-control" name="academicYear" ng-model="academicYear" ng-options="item as item.academicYear for item in Year" ng-change="getexams(year)" style="width: 30%">
    </select>
</div>
 -->
        <div class="col-md-12 disp-info-tab-bottom">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Smart Id</th>
                            <th>Student Name</th>
                            <th>Academic Year</th>
                            <th>Exam Name</th>
                            <th>Standard</th>
                            <th>Section</th>
                            <th>Teacher Name</th>
                            <th>Subject</th>
                            <th>Max Marks</th>
                            <th>Min Marks</th>
                            <th>Obtained MArks</th>
                            <th>Subject Grade</th>
                            <!-- <th>Total Grade</th>
<th>RESULT</th>
 -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in ReportCardInfo1 | filter:searchtext">
                            <td>{{record.smartId}}</td>
                            <td>{{record.studentName}}</td>
                            <td>{{record.academicYear}}</td>
                            <td>{{record.examName}}</td>
                            <td>{{record.standard}}</td>
                            <td>{{record.section}}</td>
                            <td>{{record.teacherName}}</td>
                            <td>{{record.subject}}</td>
                            <td>{{record.maxMarks}}</td>
                            <td>{{record.minMarks}}</td>
                            <td>{{record.marksObtained}}</td>
                            <td>{{record.subjectGrade}}</td>
                            <!-- <td>{{record.totalGrade}}</td>
<td>{{record.result}}</td>
 -->
                            <td class="text-center">
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-click="editReportCard(record)" ng-show="ReportCard.edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentReportCard(record)" data-target="#deleteConfirmationModal" ng-show="ReportCard.del"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <!-- <div class="col-md-12">
                <div><input type="file" file-model="myFile" />
                <button ng-click="uploadFile()">upload me</button>
                </div>
            </div> -->
        </div>
    </div>
</ui-view>
<div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-vertical-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Parmanently</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="currentReportCard = null" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" ng-click="delete()">Delete</a>
            </div>
        </div>
    </div>
</div>
