<ui-view class="ng-scope" data-ng-animate="1">
    <div class="disp-info-tab landing">
        <div class="col-md-12 disp-info-tab-top">
            <div class="row">
                <div class="col-md-6 ">
                    <br>
                    <br>
                    <h2>EXAM RESULT </h2>
                </div>
                <div class="col-md-6 ">
                    <h4 style="float: right; padding-right: 50px"><font color="red"><u><b>Total-Grade:</font></u><font color="3357FF"  > {{Percentage}}</font></h4>
                    </b>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- <div class="col-md-12 disp-info-tab-top">
            <div class="row"> -->
                <div class="panel-heading">
                    <span style="font-size: 20px;">Exam Result</span>
                    <div class="clear-both"></div>
                </div>
                <div class="col-xs-12 col-md-6 " style="float: right;">
                    <p class="totalgrade">Total-Grade:<span class="percentage">{{Percentage}}</span></p>
                    </b>
                </div>
                <div class="clear-both"></div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Standard : <span class="section1">{{Standard}}</span>
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Section: <span class="section1">{{Section}}</span>
                    </p>
                    </b>
                </div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Academic Year : <span class="section1">{{AcdYear}}</span>
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Exam Name : <span class="section1">{{ExmName}}</span>
                    </p>
                </div>
                <br>
                <hr>
                <div class="col-md-12 disp-info-tab-bottom">
                    <div class="table-responsive">
                        <table id="examresults" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Teacher Name</th>
                                    <th>Subject</th>
                                    <th>Max Marks</th>
                                    <th>Min Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Subject Grade</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in ReportCardInfo | filter:searchtext">
                                    <td>{{record.teacherName}}</td>
                                    <td>{{record.subject}}</td>
                                    <td>{{record.maxMarks}}</td>
                                    <td>{{record.minMarks}}</td>
                                    <td>{{record.marksObtained}}</td>
                                    <td>{{record.subjectGrade}}</td>
                                    <td>{{record.remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
</ui-view>
<style type="text/css">
.totalgrade {
    color: red;
    font-size: medium;
    font-weight: bold;
}

.percentage {
    color: green;
    font-size: medium;
    font-weight: bold;
}

.section {
    color: #009900;
    font-size: medium;
}

.section1 {
    color: #337ab1;
    font-size: medium;
    font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .disp-info-tab-top h2 {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
    }
    .totalgrade {
        color: red;
        font-size: medium;
        font-weight: bold;
        float: right;
        margin-top: 10px;
        margin-bottom: -29px;
    }
}
</style>
