<ui-view class="ng-scope" data-ng-animate="1">
    <div class="disp-info-tab">
        <div class="col-md-12 disp-info-tab-top">
            <div class="row">
                <div class="col-xs-12 col-md-3 disp-info-tab-top-left">
                    <h2><b>EXAM RESULT for Teachers</b></h2>
                </div>
                <div class="col-xs-6 col-md-3 disp-info-tab-top-left">
                    <input class="form-control" ng-model="searchtext" placeholder="search here">
                </div>
                <div class="col-xs-6 col-md-3 disp-info-tab-top-left">
                    <button class="add-info" ng-click="addReportCard()"> <i class="glyphicon glyphicon-plus"></i> Add reportcard</button>
                </div>
                <div class="col-xs-12 col-md-3 disp-info-tab-top-left">
                    <input type="file" name="myFile" file-model="myFile" />
                    <button ng-click="uploadFile(myFile)"><b>Upload me</b></button>
                </div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Academic Year : <span class="section1">{{AcdYear}}</span>
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 ">
                    <p class="section">Exam Name : <span class="section1">{{ExmName}}</span>
                    </p>
                </div>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-body">
        <div class="table-responsive" style="height: 310px; background: #dff0d8; overflow: auto;">
            <table class="table table-striped table-bordered table-hover holiday-table-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Standard</th>
                        <th>Section</th>
                        <th>Teacher Name</th>
                        <th>Subject</th>
                        <th>Max Marks</th>
                        <th>Min Marks</th>
                        <th>Obtained Marks</th>
                        <th>Subject Grade</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="record in ReportCardInfo1 | filter:searchtext | itemsPerPage: reportcardPerPage" total-items="totalReportCardCount " current-page="pagination.current ">
                        <td>{{record.studentId}}</td>
                        <td>{{record.studentName}}</td>
                        <td>{{record.standard}}</td>
                        <td>{{record.section}}</td>
                        <td>{{record.teacherName}}</td>
                        <td>{{record.subject}}</td>
                        <td>{{record.maxMarks}}</td>
                        <td>{{record.minMarks}}</td>
                        <td>{{record.marksObtained}}</td>
                        <td>{{record.subjectGrade}}</td>
                        <td>{{record.remark}}</td>
                        <td class="text-center ">
                            <div class="pull-right ">
                                <a class="btn btn-small btn-primary " ng-click="editReportCard(record) "><i class="glyphicon glyphicon-edit "></i> Edit</a>
                                <a class="btn btn-small btn-danger " data-toggle="modal" ng-click="setCurrentReportCard(record) " data-target="#deletesunConfirmationModal"><i class="glyphicon glyphicon-remove"></i> delete</a>
                            </div>
                            <div class="modal fade" id="deletesunConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                                <div class="modal-dialog modal-vertical-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Delete Parmanently</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this record</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="currentReportCard = null" data-dismiss="modal">Cancel</button>
                                            <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="delete()">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls direction-links="true " boundary-links="true " on-page-change="reportcardPageChange(newPageNumber) " auto-hide="false">
                </dir-pagination-controls>
            </div>
        </div>
</ui-view>
<style type="text/css">
.section1 {
    color: #337ab1;
    font-size: medium;
    font-weight: bold;
}

.section {
    color: #009900;
    font-size: medium;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .disp-info-tab-top-left h2 {
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
    }
}
</style>
