/* css for all pages */

.addbutton {
    margin-right: 160px;
}

.form-groups {
    float: left;
    padding: 21px;
}

.form-grouping {
    float: left;
    padding: 50px;
}

.schemeAdd {
    float: left;
    margin: 35px;
}

.editbutton {
    float: left;
    margin: 35px;
}

.addBranchbutton {
    margin: 35px;
}

.divsize {
    height: 0px;
}

.schemesize {
    height: -1px;
}

.schemebuttons {
    padding: 118px;
}

.branchSpace {
    margin-top: 20px;
}

.addbuttonUser {
    padding: 200px;
}

.spaceBranch {
    padding: 20px;
}


/*Radio Button CSS for HOME PAGE */

input[type=radio] + label {
    color: #808080;
    font-style: normal;
}

input[type=radio]:checked + label {
    color: #008000;
    font-style: italic;
}

#typeofcall {
    width: 25px;
    height: 28px;
}

#type_case {
    bottom: 5px;
    position: relative;
}

#typeof {
    width: 48px;
    height: 27px;
}

#type_enquiry {
    margin-left: -11px;
    bottom: 5px;
    position: relative;
}


/*this css for insurance radio button*/

#casetype {
    width: 25px;
    height: 25px;
}


/*this css for bankradio  button*/

#bankradiobuttonchecked {
    width: 25px;
    height: 25px;
}

#casetype_bank {
    bottom: 5px;
    position: relative;
}

#casetype_insurance {
    bottom: 5px;
    position: relative;
}

.head_typeofcall {
    bottom: 5px;
    position: relative;
}

.head_typeofcase {
    bottom: 5px;
    position: relative;
}

.feedBack ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feedBack li {
    float: left;
    border: 1px solid #626262;
    margin: 3px 3px 0px 3px;
    background-color: #23A2E7;
    color: #696969;
    padding: 2px 34px 2px 34px;
    border-radius: 4px;
    list-style: none;
}

#mainfeedBack {
    border: 2px solid #FFFFFF;
    clear: both;
    padding: 0 1em;
}

.feedBack .active {
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
}

.status1 {}


/*addind Inline style for AddScheme.html and editScheme.html*/

#schemeType {
    width: 25px;
    height: 25px;
}

.bank_Scheme {
    color: black;
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    bottom: 5px;
    position: relative;
}

.Insurance_Scheme {
    color: black;
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    bottom: 5px;
    position: relative;
}

.headingColorScheme {
    color: red;
}


/* this is for search button css for complaint page */
.searchText {
    width: 65px !important;
    height: 35px;
}


/*this CSS Class is used for disabling the mic button in BankTab(DateField) and 
InsuranceTab(DateField)*/
.my-disable {
    pointer-events: none;
    opacity: 0.4;
}

.view-marginmove {
    margin-left: -15px;
}

.btn-marginmove {
    margin-left: -20px;
}

.pagination-all-Header {
    display: inline-block;
    margin: 0px -23px;
    float: right;
}
.reduce-fontsize{
        font-size: 13px;
}

.align-pagination{
 margin-right: -13px;
}
.max-perpage{
  margin-left: -15px;
}

.max-complaintperpage{
    margin-left: -2px;
}

.editbtn-align,.editbtn-align-compbystatus{
    margin-left: -16px;
}

.complaint-align{
  margin-left: -31px;
}

.align-compbystatus{
    margin-left: -11px;
}

.Item-per-page{
    font-size: 17px;
    font-family: Times New Roman;
}
.search-page{
    font-size: 17px;
    font-family: Times New Roman;
}
.view-font-style{
     font-size: 17px;
    font-family: Times New Roman;
}
/* this is for search button css for branch page */
.Item-per-page{
    font-size: 17px;
    font-family: Times New Roman;
}
.max-branchperpage{
   margin-top: 44px;
   margin-left: -430px; 
}
.reduce-maxPageSize{
    width: 65px !important;
    height: 35px;
}