<div class="row landing">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="panel panel-default" style="margin-top: 25%;">
            <div class="panel-body">
                <h3 style="text-align:center; margin-top: 10px;
                            margin-bottom: 20px;">Gsmart</h3>
                <form name="setPasswordForm" ng-submit="setPassword()" novalidate="">
                    <fieldset>
                        <div class="form-group" ng-show="showCurrPass">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                <input class="form-control" placeholder="Current password" name="password" type="password" autofocus="" ng-model="form.currentpassword">
                            </div>
                            <div class="alert alert-danger" ng-show="setPasswordForm.currentpassword.$dirty && setPasswordForm.currentpassword.$error.required">
                                Please enter the password
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    <input class="form-control" ng-required="true" ng-model="form.password" placeholder="New password" name="password" type="password">
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-show="setPasswordForm.password.$dirty && setPasswordForm.password.$error.required">
                                Please enter the new password
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i>
                                    </div>
                                    <input class="form-control" placeholder="Confirm password" name="confirmPassword" type="password" value="" ng-model="form.confirmPassword" ng-match="form.password">
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-show="setPasswordForm.confirmPassword.$dirty && setPasswordForm.confirmPassword.$error.match">
                                Passwords don't match
                            </div>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" ng-click="setPassword()"
                        >set password</button>
            </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
